<template>
    <div class="container">

        <section class="padding-bottom">
            <header class="section-heading heading-line">
                <h4 class="title-section text-uppercase">Apparel</h4>
            </header>

            <div class="card card-home-category">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <div class="home-category-banner bg-light-orange">
                            <h5 class="title">Best trending clothes only for summer</h5>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
                            <img src="assets/images/items/2.jpg" class="img-bg">
                        </div>

                    </div>
                    <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters bordered-cols">
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Well made women clothes with trending collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/1.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Great clothes with trending collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/2.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Beijing, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Demo clothes with sample collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/3.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tokyo, Japan</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/4.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tashkent, Uzb</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/5.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> London, Britain</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/6.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Well made clothes with trending collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/7.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Hong Kong, China</p>

                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen interior stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/6.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card.// -->
        </section>
        <!-- =============== SECTION 1 END =============== -->

        <!-- =============== SECTION 2 =============== -->
        <section class="padding-bottom">
            <header class="section-heading heading-line">
                <h4 class="title-section text-uppercase">Electronics</h4>
            </header>

            <div class="card card-home-category">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <div class="home-category-banner bg-light-orange">
                            <h5 class="title">Machinery items for manufacturers</h5>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
                            <img src="assets/images/items/14.jpg" class="img-bg">
                        </div>

                    </div>
                    <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters bordered-cols">
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Well made electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/7.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tokyo, Japan</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Another demo text for item stuff goes here </h6>
                                        <img class="img-sm float-right" src="assets/images/items/8.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Hong Kong, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/9.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tashkent, Uzb</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Group of electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/10.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/11.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/12.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/1.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>

                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Home and kitchen electronic stuff collection </h6>
                                        <img class="img-sm float-right" src="assets/images/items/2.jpg">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card.// -->
        </section>
        <!-- =============== SECTION 2 END =============== -->



        <!-- =============== SECTION ITEMS =============== -->
        <section class="padding-bottom-sm">

            <header class="section-heading heading-line">
                <h4 class="title-section text-uppercase">Tavsiye Ürünler</h4>
            </header>

            <div class="row row-sm">
               <template v-if="$root.clientInit.bestContents" v-for="item in $root.clientInit.bestContents">
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div class="card card-sm card-product-grid">
                        <a :href="'/product/' + item.attributes.slug + '_' + item.content_id + '.html'" class="img-wrap"> <img :src="item.attributes.images ? '/images/w180/cdn/' + item.attributes.images[0] + '.jpg' : 'assets/images/items/1.jpg'"> </a>
                        <figcaption class="info-wrap">
                            <a :href="'/product/' + item.attributes.slug + '_' + item.content_id + '.html'" class="title">{{item.attributes.title}}</a>
                            <div class="price mt-1" v-if="item.attributes.prices">{{item.attributes.prices.minPrice}}₺ - {{item.attributes.prices.maxPrice}}₺</div>

                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
            </template>

        </div>
        <!-- row.// -->
    </section>
</div>
</template>
<script>
module.exports = {
    name: "home",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>
<style>
</style>

