<template>
<section class="section-content padding-y">
    <div class="container">



        <div class="row">
            <aside class="col-md-2">

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">
                            Filtreler </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="inner">
                            <ul class="list-menu">
                                <template v-if="categories" v-for="item in categories">

                                    <li><a :href="'/category/'+item.variant_id">{{item.name}} </a></li>
                                </template>

                            </ul>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                    <template v-if="1 == 0">
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Brands
                        </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <template v-if="cimriData.search.brands" v-for="item in cimriData.search.brands">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">{{item.brand.name}}
                                        <b class="badge badge-pill badge-light float-right">{{item.count}}</b> </div>
                                </label>
                            </template>

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">The cat
                                    <b class="badge badge-pill badge-light float-right">89</b> </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Honda
                                    <b class="badge badge-pill badge-light float-right">30</b> </div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->

                <template v-if="cimriData.search.specs" v-for="spec in cimriData.search.specs">
                    <article class="filter-group">
                        <h6 class="title">
                            <a href="#" class="dropdown-toggle" data-toggle="collapse" :data-target="'#collapse_2' + spec.spec.id"> {{spec.spec.name}}
                            </a>
                        </h6>
                        <div class="filter-content collapse show" :id="'collapse_2' + spec.spec.id">
                            <div class="inner">
                                <template v-for="cr in spec.criterias">

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">{{cr.criteria.title}}
                                            <b class="badge badge-pill badge-light float-right">{{cr.count}}</b> </div>
                                    </label>
                                </template>

                            </div> <!-- inner.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                </template>

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Price
                            range </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="inner">

                            <input class="custom-range" type="range" multiple min="0" step="1" max="10" data-values="1 9">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary">Apply</button>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Sizes
                        </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5">
                            Condition </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_5">
                        <div class="inner">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <div class="custom-control-label">Any condition</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Brand new </div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Used items</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Very old</div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                    </template>
            </aside> <!-- col.// -->
            <main class="col-md-10">
                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">{{products.length}} ürün bulundu </strong>
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                        <div class="btn-group">
                            <a @click="listType = 1" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a @click="listType = 2" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a @click="listType = 3" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->
                <category-list1 v-if="listType == 1" :products="products"></category-list1>

                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>


            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
</template>

<script>
module.exports = {
    name: "home",
    props: ['catId'],
    data() {
        return {
            listType: 1,
            currentCat: {
                "variant_id": "9293",
                "term_id": "780",
                "term_type_id": "28",
                "parent_id": "0",
                "level": "0",
                "is_active": "1",
                "order": "0",
                "path": "9293",
                "count": "0",
                "data": null,
                "name": "Elektronik",
                "slug": "elektronik",
                "term_group": "0"
            },
            products: [],
            cimriData: {
                search: {}
            },
            categories: [],
            items: [],
            cimriCategoies: [{
                "count": 563171,
                "category": {
                    "slug": "bilgisayar-yazilimlar",
                    "name": "Bilgisayar & Yaz\u0131l\u0131mlar",
                    "id": "14"
                }
            }, {
                "count": 1212015,
                "category": {
                    "slug": "cep-telefonu",
                    "name": "Cep Telefonu",
                    "id": "129"
                }
            }, {
                "count": 80376,
                "category": {
                    "slug": "beyaz-esya-mutfak",
                    "name": "Beyaz E\u015fya & Mutfak",
                    "id": "182"
                }
            }],
            cimriItems: {}
        };
    },
    computed: {
        categoryId() {
            return this.catId || 0
        }
    },
    mounted() {},
    beforeCreate() {},
    created() {

        this.get(apiUrl + '/terms/28/' + this.categoryId, (res) => {
            if (this.categoryId) {

                window.document.title = _.findWhere(res, {
                    variant_id: this.categoryId
                }).name + ' | Fiyat 360' || 'Fiyat, Özellik ve Karşılaştırma | Fiyat360'
            }
            this.categories = res
        });
        this.getProducts(this.categoryId);
    },
    methods: {
        getSubCategories(categoryId) {
            this.get(apiUrl + '/terms/28/' + categoryId, (res) => {

                //    this.currentCat = cat
                if (!res.length) {} else {
                    this.categories = res
                }
                this.getProducts()
            });
        },
        getProducts(categoryId) {
            this.get(apiUrl + '/categoryList/' + (categoryId || '9293'), (res) => {

                this.products = res
            });
        }
    }
}
</script>

<style>
.filter-content .inner {
    max-height: 200px;
    overflow-y: auto;
}
</style>
