<template>
<section class="section-content padding-y">
    <div class="container">

        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Category name</a></li>
                    <li class="breadcrumb-item active">Item details</li>
                </ol>
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <div class="row">
            <aside class="col-md-2">

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">
                            Categories </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="inner">
                            <ul class="list-menu">
                                <template v-if="categories" v-for="item in categories">

                                    <li><a :href="'/category/'+item.variant_id">{{item.name}} </a></li>
                                </template>

                            </ul>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                    <template v-if="1 == 0">
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Brands
                        </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <template v-if="cimriData.search.brands" v-for="item in cimriData.search.brands">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">{{item.brand.name}}
                                        <b class="badge badge-pill badge-light float-right">{{item.count}}</b> </div>
                                </label>
                            </template>

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">The cat
                                    <b class="badge badge-pill badge-light float-right">89</b> </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Honda
                                    <b class="badge badge-pill badge-light float-right">30</b> </div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->

                <template v-if="cimriData.search.specs" v-for="spec in cimriData.search.specs">
                    <article class="filter-group">
                        <h6 class="title">
                            <a href="#" class="dropdown-toggle" data-toggle="collapse" :data-target="'#collapse_2' + spec.spec.id"> {{spec.spec.name}}
                            </a>
                        </h6>
                        <div class="filter-content collapse show" :id="'collapse_2' + spec.spec.id">
                            <div class="inner">
                                <template v-for="cr in spec.criterias">

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">{{cr.criteria.title}}
                                            <b class="badge badge-pill badge-light float-right">{{cr.count}}</b> </div>
                                    </label>
                                </template>

                            </div> <!-- inner.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                </template>

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Price
                            range </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="inner">

                            <input class="custom-range" type="range" multiple min="0" step="1" max="10" data-values="1 9">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary">Apply</button>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Sizes
                        </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5">
                            Condition </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_5">
                        <div class="inner">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <div class="custom-control-label">Any condition</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Brand new </div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Used items</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Very old</div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                    </template>
            </aside> <!-- col.// -->
            <main class="col-md-10">
                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">{{products.length}} ürün bulundu </strong>
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                        <div class="btn-group">
                            <a @click="listType = 1" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a @click="listType = 2" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a @click="listType = 3" href="javascript:;" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->
                <category-list1 v-if="listType == 1" :products="products"></category-list1>

                <template v-if="listType == 2 " v-for="(item, key) in items">
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <span class="badge badge-danger"> NEW </span>
                                    <img :src="item.attributes.resimler[0] || 'assets/images/items/1.jpg'">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a class="h5 title" :href="'#/compare/' + item.entity_id"> {{item.title}}</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 5 Years </span>
                                        <span class="tag"> 80 reviews </span>
                                        <span class="tag"> Russia </span>
                                    </p>

                                    <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui laborum.... </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">$25.00-$40.00</span>
                                        <small class="text-muted">/per item</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Paid shipping</small>

                                    <p class="text-muted mt-3">Grand textile Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i>
                                            Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                </template>
                <template v-if="listType == 3">
                    <div class="row">
                        <template v-if="listType == 3" v-for="(product, pkey) in cimriData.search.products">
                            <div class="col-md-3">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <span class="badge badge-danger"> NEW </span>
                                        <img :src="'http://cdn.cimri.io/image/480x480/x_'+ product.imageIds[0] + '.jpg' || 'assets/images/items/1.jpg'">
                                    </div>
                                    <!-- img-wrap.// -->
                                    <figcaption class="info-wrap">
                                        <a :href="'#/compare/'+product.product.id" class="title mb-2">{{product.product.title}}</a>
                                        <div class="price-wrap">
                                            <span class="price">$32.00-$40.00</span>
                                            <small class="text-muted">/per item</small>
                                        </div>
                                        <!-- price-wrap.// -->

                                        <p class="mb-2"> 2 Pieces <small class="text-muted">(Min Order)</small></p>

                                        <p class="text-muted ">Guangzhou Yichuang Electronic Co</p>

                                        <hr>

                                        <p class="mb-3">
                                            <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                            <span class="tag"> 2 Years </span>
                                            <span class="tag"> 23 reviews </span>
                                        </p>

                                        <label class="custom-control mb-3 custom-checkbox hide">
                                            <input type="checkbox" class="custom-control-input">
                                            <div class="custom-control-label">Add to compare
                                            </div>
                                        </label>

                                        <a href="#" class="btn btn-outline-primary hide"> <i class="fa fa-envelope"></i> Contact supplier </a>

                                    </figcaption>
                                </figure>
                            </div>
                        </template>
                        <!-- col.// -->
                    </div>
                </template>

                <template v-if="1==0">
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <img src="assets/images/items/2.jpg">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="#" class="h5 title"> High Quality Winter PU Rain Jacket </a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:80%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">7/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 2 Years </span>
                                        <span class="tag"> 30 reviews </span>
                                        <span class="tag"> Japan </span>
                                    </p>

                                    <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui laborum.... </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">$65.00-$70.00</span>
                                        <small class="text-muted">/per item</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-success">Free shipping</small>

                                    <p class="text-muted mt-3">Guangzhou textile Ltd</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i>
                                            Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->

                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <img src="assets/images/items/3.jpg">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="#" class="h5 title"> Great product name goes here </a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:20%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">2/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 4 Years </span>
                                        <span class="tag"> 60 reviews </span>
                                        <span class="tag"> China </span>
                                    </p>

                                    <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui laborum.... </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">$325.00-$390.00</span>
                                        <small class="text-muted">/per bag</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-success">Free shipping</small>

                                    <p class="text-muted mt-3">Guangzhou Electronic Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i>
                                            Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->

                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <img src="assets/images/items/4.jpg">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="#" class="h5 title"> Best demo clothe with latest Fashion </a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:50%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">5/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 4 Years </span>
                                        <span class="tag"> 60 reviews </span>
                                        <span class="tag"> China </span>
                                    </p>

                                    <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui laborum.... </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">$325.00-$390.00</span>
                                        <small class="text-muted">/per bag</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-success">Free shipping</small>

                                    <p class="text-muted mt-3">Guangzhou Electronic Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i>
                                            Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->

                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <img src="assets/images/items/3.jpg">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="#" class="h5 title"> Great product name goes here </a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:80%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">7/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 4 Years </span>
                                        <span class="tag"> 60 reviews </span>
                                        <span class="tag"> China </span>
                                    </p>

                                    <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui laborum.... </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">$325.00-$390.00</span>
                                        <small class="text-muted">/per bag</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-success">Free shipping</small>

                                    <p class="text-muted mt-3">Guangzhou Electronic Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i>
                                            Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                </template>
                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

                <div class="box text-center">
                    <p>Did you find what you were looking for？</p>
                    <a href="" class="btn btn-light">Yes</a>
                    <a href="" class="btn btn-light">No</a>
                </div>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
</template>

<script>
module.exports = {
    name: "home",
    props: ['catId'],
    data() {
        return {
            listType: 1,
            currentCat: {
                "variant_id": "9293",
                "term_id": "780",
                "term_type_id": "28",
                "parent_id": "0",
                "level": "0",
                "is_active": "1",
                "order": "0",
                "path": "9293",
                "count": "0",
                "data": null,
                "name": "Elektronik",
                "slug": "elektronik",
                "term_group": "0"
            },
            products: [],
            cimriData: {
                search: {}
            },
            categories: [],
            items: [],
            cimriCategoies: [{
                "count": 563171,
                "category": {
                    "slug": "bilgisayar-yazilimlar",
                    "name": "Bilgisayar & Yaz\u0131l\u0131mlar",
                    "id": "14"
                }
            }, {
                "count": 1212015,
                "category": {
                    "slug": "cep-telefonu",
                    "name": "Cep Telefonu",
                    "id": "129"
                }
            }, {
                "count": 80376,
                "category": {
                    "slug": "beyaz-esya-mutfak",
                    "name": "Beyaz E\u015fya & Mutfak",
                    "id": "182"
                }
            }],
            cimriItems: {}
        };
    },
    computed: {
        categoryId() {
            return this.catId || 0
        }
    },
    mounted() {},
    beforeCreate() {},
    created() {

        this.get(apiUrl + '/terms/28/' + this.categoryId, (res) => {
            if (this.categoryId) {

                window.document.title = _.findWhere(res, {
                    variant_id: this.categoryId
                }).name + ' | Fiyat 360' || 'Fiyat, Özellik ve Karşılaştırma | Fiyat360'
            }
            this.categories = res
        });
        this.getProducts(this.categoryId);
    },
    methods: {
        getSubCategories(categoryId) {
            this.get(apiUrl + '/terms/28/' + categoryId, (res) => {

                //    this.currentCat = cat
                if (!res.length) {} else {
                    this.categories = res
                }
                this.getProducts()
            });
        },
        getProducts(categoryId) {
            this.get(apiUrl + '/categoryList/' + (categoryId || '9293'), (res) => {

                this.products = res
            });
        }
    }
}
</script>

<style>
.filter-content .inner {
    max-height: 200px;
    overflow-y: auto;
}
</style>
