<template>
    <div>
        compareItem
    </div>
</template>

<script>
module.exports = {
    name: "compareItem",
    props: ["item1","item2","slug"],
    data() {
        return {
           
        };
    },
    computed: {},
    mounted() {

    },
    beforeCreate() {

    },
    created() {

console.log(this.$route.params);
console.log(this.$attrs);
        this.get(apiUrl + '/compare/' + 4, (res) => {

            this.item = res
        });

    },
    methods: {}
}
</script>

<style>

</style>
