<template>
    <div v-if="initCimri">
        <single-breadcrumb :item="item"></single-breadcrumb>

        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content">
            <div class="container  main-content">

                <!-- ============================ ITEM DETAIL ======================== -->
                <div class="row">
                    <aside class="col-md-4">

                        <single-gallery :item="item"></single-gallery>
                        <!-- card.// -->
                    </aside>
                    <main class="col-md-8">
                        <single-right-detail :item="item"></single-right-detail>
                    </main>
                    <!-- col.// -->
                </div>
                <!-- row.// -->

                <!-- ================ ITEM DETAIL END .// ================= -->

            </div>
            <!-- container .//  -->
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->

        <!-- ========================= SECTION  ========================= -->
        <section class="container">
            <div class="section  ">
                <article class="card hide">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-md-6">
                                <h5>Parameters</h5>
                                <dl class="row">
                                    <dt class="col-sm-3">Display</dt>
                                    <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>

                                    <dt class="col-sm-3">Processor</dt>
                                    <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>

                                    <dt class="col-sm-3">Camera</dt>
                                    <dd class="col-sm-9">720p FaceTime HD camera</dd>

                                    <dt class="col-sm-3">Memory</dt>
                                    <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>

                                    <dt class="col-sm-3">Graphics</dt>
                                    <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
                                </dl>
                            </aside>
                            <aside class="col-md-6">
                                <h5>Features</h5>
                                <ul class="list-check">
                                    <li>Best performance of battery</li>
                                    <li>5 years warranty for this product</li>
                                    <li>Amazing features and high quality</li>
                                    <li>Best performance of battery</li>
                                    <li>5 years warranty for this product</li>
                                    <li>Amazing features and high quality</li>
                                </ul>
                            </aside>
                        </div> <!-- row.// -->
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div> <!-- card-body.// -->
                </article>
            </div>


            <!-- container .//  -->
            <div class="section  bg-white reviews-tab">
                <prices-table :prices="prices"></prices-table>
            </div>
            <div class="section  bg-white reviews-tab">
                <single-reviews-table :item="item"></single-reviews-table>

            </div>
            <div class="section  bg-white">
                <single-specs-table :item="item"></single-specs-table>

            </div>
            <div class="section  bg-white" v-if="1 == 0">
                <single-specs-table2 :item="item"></single-specs-table2>

            </div>

            <div class="section  ">
                <single-desc-table :item="item"></single-desc-table>

            </div>
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->

        <div class="row">

        </div>

    </div>
</template>

<script>
module.exports = {
    name: "single",
    props: ['itemId'],
    data() {
        return {
            initCimri: 0,
            item: {},
            prices: [{
                "store": "teknosa",
                "title": "Garmin Fenix 5S Sapphire",
                "price": "300.50",
                "storeLogo": "https://www.epey.com/resim/site/teknosa-com.png",
                "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
                "attributes": {
                    "freeCargo": true
                }
            },
            {
                "store": "n11",
                "title": "Garmin Fenix 5S Sapphire",
                "price": "300.50",
                "storeLogo": "https://www.epey.com/resim/site/urun-n11-com.png",
                "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
                "attributes": {
                    "freeCargo": true
                }
            },
            {
                "store": "amazon",
                "title": "Garmin Fenix 5S Sapphire",
                "price": "300.50",
                "storeLogo": "https://www.epey.com/resim/site/amazon-com-tr.png",
                "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
                "attributes": {
                    "freeCargo": true
                }
            },
            {
                "store": "mediamarkt",
                "title": "Garmin Fenix 5S Sapphire",
                "price": "300.50",
                "storeLogo": "https://www.epey.com/resim/site/mediamarkt-com-tr.png",
                "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
                "attributes": {
                    "freeCargo": true
                }
            },
            {
                "store": "trendyol",
                "title": "Garmin Fenix 5S Sapphire",
                "price": "300.50",
                "storeLogo": "https://www.epey.com/resim/site/https-trendyol-com.png",
                "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
                "attributes": {
                    "freeCargo": true
                }
            }
            ],
            example: 0,
        };
    },
    computed: {},
    mounted() {

    },
    beforeCreate() {

    },
    created() {


        this.get(apiUrl + '/entry/' + 4, (res) => {

            this.item = res
        });
        this.get('http://console.test/CimriSingleItemShow.php?type=details&id=' + this.$route.params.itemId, (res) => {
            this.$root.cimri = res.data
            this.initCimri = 1
            document.title = res.data.props.pageProps.product.product.title
        });
    },
    methods: {}
}
</script>

<style>
.section {
    padding: 20px;
}
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 5px 12px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #ff5722;
}

.s98wa6g-2 {
    background-color: rgb(255, 87, 34);
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 600;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid #ff5722;
    border-radius: 0;
}

.nav-pills .nav-item .nav-link,
.nav-pills .nav-link {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
}

i.fa.fa-star {
    color: #FFC107;
    font-size: 1.2rem;
}

[class*=list-] li:after {
    visibility: hidden;
    display: block;
    content: unset;
    overflow: hidden;
    height: 0;
    clear: both;
}

.specs-tab {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.reviews-tab {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.product-review .btn-like {
    color: #42d697;
}

.product-review .btn-like,
.product-review .btn-dislike {
    display: inline-block;
    margin-right: .375rem;
    font-size: 1rem;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.product-review .btn-dislike {

    color: #f34770;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.font-size-ms {
    font-size: .8125rem !important;
}

.list-unstyled>li {
    margin-bottom: .4rem;
}

.font-weight-medium {
    font-weight: 600 !important;
}

section.py-3.bg-light {
    padding-bottom: 100px !important;
}

section.section-content.bg-white.padding-y {
    background-color: transparent !important;
}

div.main-container.container {
    background-color: white !important;
    border-radius: 10px;
    margin-top: -100px;
}

.product-primary-image {
    height: 300px !important;
}

section.section-content.bg-white.padding-y {
    background-color: transparent !important;
}

div.title.container {
    background-color: white !important;
    border-radius: 10px;
    margin-top: -100px;
}

.cz-thumblist-item img {
    width: 40px;
}

.cz-thumblist {
    margin-left: -.5rem;
}

.cz-product-gallery {
    display: -ms-flexbox;
    display: flex;
}

.cz-preview-item.active {
    position: relative;
    opacity: 1;
    z-index: 10;
}

.cz-preview-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.cz-preview-item>img {
    width: 80%;
    margin: 0 auto;
    display: block;

}

.cz-preview {
    position: relative;
    width: 100%;
    margin-top: .625rem;
}

.cz-thumblist-item {
    display: block;
    position: relative;
    text-align: center;
    width: 5rem;
    min-height: 5rem;
    line-height: 5rem;
    margin: .625rem;
    transition: border-color 0.2s ease-in-out;
    border: 1px solid #e3e9ef;
    border-radius: .3125rem;
    text-decoration: none !important;
    overflow: hidden;
}

.cz-thumblist-item.video-item {
    line-height: 1.5rem;
}

.cz-thumblist-item>img {
    width: 100%;
    transition: opacity .2s ease-in-out;
    opacity: .9;
    width: 100%;
    transition: opacity .2s ease-in-out;
    opacity: .9;
    vertical-align: middle;
    display: table-cell;
    display: inline-block;
    line-height: normal;
}

.cz-thumblist-item .cz-thumblist-item-text {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: .25rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #4b566b;
    font-size: .875rem;
    text-align: center;
}

.cz-thumblist-item .cz-thumblist-item-text>i {
    display: block;
    margin-bottom: .25rem;
    font-size: 1.5em;
}

.mb-3.price-header {
    display: block;
    float: right;
}

.s1wytv2f-4.eAgFNa {
    display: inline-block;
    padding: 7px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.container.main-content {
    margin-top: -80px;
}
</style>
