<template>






  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
        <h4 class="card-title mb-4">Sign in</h4>
        <form action="javascript:;" >
          <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
          <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
          <div class="form-group">
           <input v-model="userData.email"  name="" class="form-control" placeholder="Username" type="text">
         </div> <!-- form-group// -->
         <div class="form-group">
          <input v-model="userData.password"  name="" class="form-control" placeholder="Password" type="password">
        </div> <!-- form-group// -->

        <div class="form-group">
          <a href="#" class="float-right">Forgot password?</a>
          <label class="float-left custom-control custom-checkbox">
            <input v-model="userData.remember"  type="checkbox" class="custom-control-input" checked="">
            <div class="custom-control-label"> Remember </div> </label>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
            <button class="btn btn-primary btn-block"  @click="login()"> Login  </button>
          </div> <!-- form-group// -->
        </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have account? <a href="javascript:;"  @click="$router.push('/')">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


  </section>

</template>

<script>
module.exports = {
  name: "login",
  props: [],
  data() {
    return {
      userData: {},
      selectedUser: 0,
      item: {},
      example: 0,
    };
  },
  computed: {},
  mounted() {

  },
  beforeCreate() {},
  created() {
  },
  methods: {

    login() {
      this.post(window.apiUrl + "/getLogin", JSON.stringify(this.userData), (response) => {
        localStorage.setItem('userData', JSON.stringify(response))
        if (this.$root.checkLogin()) {
          this.$root.userData = response
          this.$router.push('/')
        } else {
          this.$router.push('/login')
        }

      })

    }

  }
}
</script>

<style>
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 5px 12px;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #ff5722;
}
.s98wa6g-2{
  background-color: rgb(255, 87, 34);
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}
</style>
