<template>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
    <aside class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item active" href="#"> Account overview  </a>
            <a class="list-group-item" href="#"> My Orders </a>
            <a class="list-group-item" href="#"> My wishlist </a>
            <a class="list-group-item" href="#"> Return and refunds </a>
            <a class="list-group-item" href="#">Settings </a>
            <a class="list-group-item" href="#"> My Selling Items </a>
            <a class="list-group-item" href="#"> Received orders </a>
            <a class="list-group-item" href="javascript:;" @click="$root.logoutPanel()"> Logout </a>
        </ul>
    </aside> <!-- col.// -->
    <main class="col-md-9">

        <article class="card mb-3">
            <div class="card-body">

                <figure class="icontext">
                        <div class="icon">
                            <img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
                        </div>
                        <div class="text">
                            <strong> {{$root.userData.username}} </strong> <br>
                            {{$root.userData.email}} <br>
                            <a href="#">Edit</a>
                        </div>
                </figure>
                <hr>
                <p>
                    <i class="fa fa-map-marker text-muted"></i> &nbsp; My address:
                     <br>
                    Tashkent city, Street name, Building 123, House 321 &nbsp
                    <a href="#" class="btn-link"> Edit</a>
                </p>



                <article class="card-group">
                    <figure class="card bg">
                        <div class="p-3">
                             <h5 class="card-title">38</h5>
                            <span>Orders</span>
                        </div>
                    </figure>
                    <figure class="card bg">
                        <div class="p-3">
                             <h5 class="card-title">5</h5>
                            <span>Wishlists</span>
                        </div>
                    </figure>
                    <figure class="card bg">
                        <div class="p-3">
                             <h5 class="card-title">12</h5>
                            <span>Awaiting delivery</span>
                        </div>
                    </figure>
                    <figure class="card bg">
                        <div class="p-3">
                             <h5 class="card-title">50</h5>
                            <span>Delivered items</span>
                        </div>
                    </figure>
                </article>


            </div> <!-- card-body .// -->
        </article> <!-- card.// -->

        <article class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">Recent orders </h5>

                <div class="row">
                <div class="col-md-6">
                    <figure class="itemside  mb-3">
                        <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
                        <figcaption class="info">
                            <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                            <p>Great item name goes here </p>
                            <span class="text-warning">Pending</span>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md-6">
                    <figure class="itemside  mb-3">
                        <div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
                        <figcaption class="info">
                            <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                            <p>Machine for kitchen to blend </p>
                            <span class="text-success">Departured</span>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md-6">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
                        <figcaption class="info">
                            <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                            <p>Ladies bag original leather </p>
                            <span class="text-success">Shipped  </span>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->

            <a href="#" class="btn btn-outline-primary"> See all orders  </a>
            </div> <!-- card-body .// -->
        </article> <!-- card.// -->

    </main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
</template>

<script>
module.exports = {
    name: "MyAccount",
    props: [],
    data() {
        return {
            item: {},
            example: 0,
        };
    },
    computed: {},
    mounted() {

    },
    beforeCreate() {},
    created() {
    },
    methods: {}
}
</script>

<style>
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 5px 12px;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #ff5722;
}
.s98wa6g-2{
        background-color: rgb(255, 87, 34);
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 600;
}
</style>
