<template>
<div v-if="item && item.item && item.item.attributes">
    <section class="py-3 bg-light">
        <div class="container">
            <h2 class="title mt-3">{{item.item.attributes.title}} </h2>
            <div class="price-header"><var class="price h4">{{currencyFormat(item.item.attributes.prices.minPrice || 0)}}</var> <span class="text-muted" style="display:block;">{{offers.length}} Farklı Mağaza</span></div>
            <span>
                <ol class="breadcrumb">
                         <template v-for="(attr, attrk, index) in (item.cat ? item.cat.bread_crumb : [item.item.attributes.category])">

                    <li class="breadcrumb-item"><a href="#">{{attr}}</a></li>
                         </template>

                </ol>
        </div>
    </section>
    <section class="section-content">
        <div class="container  main-content">
            <div class="row">
                <aside class="col-md-4">

                    <div class="card single-gallery1 mb-3">
                        <div class="card-body">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <div> <a href="#"><img class="product-primary-image" :src="primaryImage || '/images/w300/cdn/' +item.item.attributes.images[0] + '.jpg'"></a></div>
                                </div>
                                <!-- slider-product.// -->
                                <div class="thumbs-wrap">
                                    <a v-for="imgId in item.item.attributes.images" href="javascript:;" @click="primaryImage = '/images/w300/cdn/' +imgId + '.jpg'" class="item-thumb"> <img :src="'/images/w300/cdn/' +imgId + '.jpg'"></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
                <main class="col-md-8">
                    <div class="card  mb-3">
                        <div class="card-body">
                            <article class="product-info-aside">
                                <h2 class="title mt-3 hide">{{item.item.attributes.title}} </h2>
                                <div class="rating-wrap my-3">
                                    <div class="rating-wrap mb-3" style="display: inline-block;">
                                        <span class="badge badge-warning" style="color: black;background-color: #ffeb3b;font-size: 14px;">
                                            <i class="fa fa-star" style="color: rgb(0, 0, 0);"></i> 0.0</span>
                                        <strong class="text-muted ml-2">0 inceleme</strong></div>

                                    <strong class="ml-2 text-success">
                                        <i class="fa fa-comment-dots"></i>

                                        0 yorum </strong>
                                                            <a href="#" class="btn  btn-primary">
                                            <i class="fas fa-heart"></i> <span class="text">Favori Ekle</span>
                                        </a>
                                        <a href="#" class="btn btn-light">
                                            <i class="fas fa-bell"></i> <span class="text">Fiyat Alarmı</span>
                                        </a>
                                </div>

                                <!-- rating-wrap.// -->

                                <div class="s1wytv2f-3 iyNygY hide">
                                    <template v-for="(attr, attrk, index) in item.item.attributes" v-if="index < 30">
                                        <div class="s1wytv2f-4 eAgFNa" v-if="labels[attrk]">{{labels[attrk]}}: {{attr}}</div>
                                    </template>

                                </div>

                                <ul class="list-check mb-4 cols-three hide">
                                    <template v-for="(attr, attrk, index) in item.item.attributes" v-if="index < 30">

                                        <li v-if="labels[attrk]">{{labels[attrk]}}: {{attr}}</li>
                                    </template>

                                </ul>

                                <article class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <aside class="col-md-12">
                                                <h5>Öne Çıkan Özellikler</h5>
                                                <ul class="list-normal cols-two mb-4">
                                                    <template v-for="(attr, attrk, index) in item.item.attributes" v-if="index < 30">

                                                        <li v-if="labels[attrk]">{{labels[attrk]}}: {{attr}}</li>
                                                    </template>

                                                </ul>

                                            </aside>

                                        </div> <!-- row.// -->
                                        <hr>
                                        <p>Marka: {{item.item.attributes.brand}}
                                        </p>
                                    </div> <!-- card-body.// -->
                                </article>



                            </article>
                        </div>
                    </div>
                </main>

            </div>

            <div class="card m-b-30">
                <div class="card-header ">
                    Fiyatlar
                </div>
                <div class="card-body p-0">
                    <prices-table :items="offers"></prices-table>

                </div>
            </div>

            <!-- col.// -->

            <div class="card m-b-30">

                <div class="card-header ">
                    Özellikler
                </div>
                <div class="card-body">
                    <div name="specs">
                        <h3 class="s98wa6g-14 ksJgOA hide">Özellikler</h3>
                        <div class="s10v53f3-0 bfgzQt cols-three" style="padding:0;">
                            <ul class="s10v53f3-2 goYFek" v-for="(sgroup, skey) in item.catGroups">
                                <li class="s10v53f3-3 khqVcO">{{sgroup.attribute_group_name}}</li>
                                <template v-for="(spec, skey) in sgroup.attribute_labels">
                                    <li class="s10v53f3-4 ddfMMC" v-if="item.item.attributes[skey]">
                                        <span class="s10v53f3-5 klVFuV">{{spec}}</span>
                                        <span class="s10v53f3-6 geozbR">{{item.item.attributes[skey] || ''}}</span>

                                    </li>
                                </template>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
</template>

<script>
module.exports = {
    name: "single",
    props: ['itemId'],
    data() {
        return {
            primaryImage: 0,
            initCimri: 0,
            item: {},
            labels: {},
            prices: [],
            offers: [],
            example: 0,
        };
    },
    computed: {},
    mounted() {

    },
    beforeCreate() {

        //  document.querySelector('link[rel="canonical"]').setAttribute("href", 'https://www.fiyat360.com' + this.$route.fullPath);
        // document.querySelector('meta[name="description"]').setAttribute("content", 'https://www.fiyat360.com' + this.$route.fullPath);

        var po = document.createElement("link");
        po.rel = "canonical";
        po.href = "https://www.fiyat360.com" + this.$route.fullPath;
        var s = document.getElementsByTagName("meta")[0];
        s.parentNode.insertBefore(po, s);

    },
    created() {
        this.get(apiUrl + '/contentItem/' + this.$route.params.itemId, (res) => {
            this.item = res
            window.document.title = res.item.attributes.title + ' | Fiyat 360';
            if (res.catGroups) {
                res.catGroups.map((ite, num) => Object.assign(this.labels, ite.attribute_labels))
            }



            document.querySelector('meta[name="description"]').setAttribute("content", res.item.attributes.title + ' özellikleri, '+ res.item.attributes.brand + ' en uygun fiyatlar. ' + Object.values(res.cat ? res.cat.bread_crumb : [res.item.attributes.category]).join(', '));
            this.getOffers(res.item.attributes.title)
        });
    },
    methods: {
        getOffers(text) {
            this.get(apiUrl + '/offerSearch?text=' + text, (res) => {
                this.offers = res
                console.log(res);
            });
        }
    }
}
</script>

<style>
.FzQtN {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 4px;
}

.ifxKgt {
    background-color: rgb(255, 255, 255);
    width: max-content;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 12px 14px 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.cjVera {
    background-color: rgb(58, 160, 58);
    font-size: 11px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-right: 8px;
    border-radius: 2px;
    padding: 2px 4px;
}

.dWTGzr {
    color: rgb(74, 144, 226);
    font-size: 12px;
    font-weight: 600;
    margin-right: 14px;
}

.cBVHJG {
    font-size: 18px;
    font-weight: bold;
    color: rgb(62, 66, 69);
    margin-right: 8px;
}

.Xckjm {
    width: 8px;
    height: 12.3px;
    align-self: baseline;
}

.cRbAbS:hover {
    background-color: rgb(245, 245, 245);
}

.cRbAbS:hover {
    background-color: #f5f5f5;
}

.cRbAbS {
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 6px;
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.cRbAbS div {
    font-size: 12px;
    font-weight: bold;
    color: rgb(74, 144, 226);
    float: left;
    margin-right: 8px;
}

.eEqNcs {
    width: 106px;
    height: 28px;
}

.FzQtN {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 4px;
}

.ifxKgt {
    background-color: rgb(255, 255, 255);
    width: max-content;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 12px 14px 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.cjVera {
    background-color: rgb(58, 160, 58);
    font-size: 11px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-right: 8px;
    border-radius: 2px;
    padding: 2px 4px;
}

.dWTGzr {
    color: rgb(74, 144, 226);
    font-size: 12px;
    font-weight: 600;
    margin-right: 14px;
}

.cBVHJG {
    font-size: 18px;
    font-weight: bold;
    color: rgb(62, 66, 69);
    margin-right: 8px;
}

.Xckjm {
    width: 8px;
    height: 12.3px;
    align-self: baseline;
}

.cRbAbS:hover {
    background-color: rgb(245, 245, 245);
}

.cRbAbS:hover {
    background-color: #f5f5f5;
}

.cRbAbS {
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 6px;
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.cRbAbS div {
    font-size: 12px;
    font-weight: bold;
    color: rgb(74, 144, 226);
    float: left;
    margin-right: 8px;
}

.eEqNcs {
    width: 106px;
    height: 28px;
}

.goYFek {
    break-inside: avoid;
    width: 100%;
    height: auto;
    margin: 0px 0px 20px;
    padding: 0px;
    list-style: none;
}

.ddfMMC {
    font-weight: 600;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    padding: 6px 10px;
    overflow: hidden;
    border-bottom: 1px solid rgb(241, 245, 248);
}

.klVFuV {
    width: 43%;
    font-weight: 600;
}

.geozbR {
    width: 57%;
    overflow-wrap: break-word;
}

.geozbR {
    width: 57%;
    word-wrap: break-word;
}

.ksJgOA {
    font-size: 16px;
    font-weight: 600;
    color: rgb(73, 144, 226);
    padding: 15px 30px;
    border-bottom: 1px solid rgb(241, 245, 248);
}

.bfgzQt {
    column-count: 2;
    column-gap: 2%;
    column-fill: auto;
    position: relative;
    padding: 5px 30px 15px;
}

.cols-two {
    -webkit-column-count: 2;
    column-count: 2;
    column-count: 2;
    column-gap: 10%;
    width: 100%;
    column-fill: balance;
    position: relative;
    padding: 5px 30px 15px;
}

.list-check {
    padding-left: 0 !important;
    list-style: none;
}

.section {
    padding: 20px;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 5px 12px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #ff5722;
}

.s98wa6g-2 {
    background-color: rgb(255, 87, 34);
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 600;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid #ff5722;
    border-radius: 0;
}

.nav-pills .nav-item .nav-link,
.nav-pills .nav-link {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
}

i.fa.fa-star {
    color: #FFC107;
    font-size: 1.2rem;
}

[class*=list-] li:after {
    visibility: hidden;
    display: block;
    content: unset;
    overflow: hidden;
    height: 0;
    clear: both;
}

.specs-tab {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.reviews-tab {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.product-review .btn-like {
    color: #42d697;
}

.product-review .btn-like,
.product-review .btn-dislike {
    display: inline-block;
    margin-right: .375rem;
    font-size: 1rem;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.product-review .btn-dislike {

    color: #f34770;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.font-size-ms {
    font-size: .8125rem !important;
}

.list-unstyled>li {
    margin-bottom: .4rem;
}

.font-weight-medium {
    font-weight: 600 !important;
}

section.py-3.bg-light {
    padding-bottom: 100px !important;
}

section.section-content.bg-white.padding-y {
    background-color: transparent !important;
}

div.main-container.container {
    background-color: white !important;
    border-radius: 10px;
    margin-top: -100px;
}

.product-primary-image {
    height: 300px !important;
}

section.section-content.bg-white.padding-y {
    background-color: transparent !important;
}

div.title.container {
    background-color: white !important;
    border-radius: 10px;
    margin-top: -100px;
}

.cz-thumblist-item img {
    width: 40px;
}

.cz-thumblist {
    margin-left: -.5rem;
}

.cz-product-gallery {
    display: -ms-flexbox;
    display: flex;
}

.cz-preview-item.active {
    position: relative;
    opacity: 1;
    z-index: 10;
}

.cz-preview-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.cz-preview-item>img {
    width: 80%;
    margin: 0 auto;
    display: block;

}

.cz-preview {
    position: relative;
    width: 100%;
    margin-top: .625rem;
}

.cz-thumblist-item {
    display: block;
    position: relative;
    text-align: center;
    width: 5rem;
    min-height: 5rem;
    line-height: 5rem;
    margin: .625rem;
    transition: border-color 0.2s ease-in-out;
    border: 1px solid #e3e9ef;
    border-radius: .3125rem;
    text-decoration: none !important;
    overflow: hidden;
}

.cz-thumblist-item.video-item {
    line-height: 1.5rem;
}

.cz-thumblist-item>img {
    width: 100%;
    transition: opacity .2s ease-in-out;
    opacity: .9;
    width: 100%;
    transition: opacity .2s ease-in-out;
    opacity: .9;
    vertical-align: middle;
    display: table-cell;
    display: inline-block;
    line-height: normal;
}

.cz-thumblist-item .cz-thumblist-item-text {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: .25rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #4b566b;
    font-size: .875rem;
    text-align: center;
}

.cz-thumblist-item .cz-thumblist-item-text>i {
    display: block;
    margin-bottom: .25rem;
    font-size: 1.5em;
}

.mb-3.price-header {
    display: block;
    float: right;
}

.s1wytv2f-4.eAgFNa {
    display: inline-block;
    padding: 7px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.container.main-content {
    margin-top: -80px;
}

.price-header {
    float: right;
    margin-top: -30px;
}

.h2,
h2 {
    font-size: 1.5rem;
}

.bg-light {
    background-color: #FFEB3B !important;
}

.khqVcO {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    background-color: #ffeb3b;
    padding: 0px 7px;
    margin: 0px;
    color: black;
}

/*
ul:after {
  content:'';
  width:100%;
  height:34px;
  position:absolute;
  background-color:inherit;
  bottom:0;
  left:0;
}*/
li:only-child {
    display: none;
}

/* one item */
li:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}
li.breadcrumb-item:only-child {
    display: block!important;
}
</style>
