<template>
  <div v-if="item && item.item && item.item.attributes">
    <section class="py-3 bg-light">
      <div class="container">
        <h2 class="title mt-3">{{item.item.attributes.title}} </h2>
        <div class="price-header"><var class="price h4">USD 465,00</var> <span class="text-muted">USD 562.65 incl. VAT</span></div>
        <span>{{item.cat.name}}
          <ol class="breadcrumb hide">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category name</a></li>
            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Items</li>
          </ol>
        </div>
      </section>

      <!-- ========================= SECTION CONTENT ========================= -->
      <section class="section-content">
        <div class="container  main-content">

          <!-- ============================ ITEM DETAIL ======================== -->
          <div class="row">
            <aside class="col-md-4">

              <div class="card single-gallery1 mb-3">
                <div class="card-body">
                  <article class="gallery-wrap">
                    <div class="img-big-wrap">
                      <div> <a href="#"><img class="product-primary-image" :src="'/images/w300/cdn/' +item.item.attributes.images[0] + '.jpg'"></a></div>
                    </div>
                    <!-- slider-product.// -->
                    <div class="thumbs-wrap">
                      <a v-for="imgId in item.item.attributes.images" href="#" class="item-thumb"> <img :src="'/images/w300/cdn/' +imgId + '.jpg'"></a>

                    </div>
                    <!-- slider-nav.// -->
                  </article>
                  <!-- gallery-wrap .end// -->



                </div>
              </div>
              <!-- card.// -->
            </aside>
            <main class="col-md-8">
             <div class="card  mb-3">
              <div class="card-body">

                <article class="product-info-aside">

                  <h2 class="title mt-3 hide">{{item.item.attributes.title}} </h2>

                  <div class="rating-wrap my-3">
                   <div class="rating-wrap mb-3" style="display: inline-block;">
                    <span class="badge badge-warning" style="color: black;background-color: #ffeb3b;font-size: 14px;">
                      <i class="fa fa-star" style="color: rgb(0, 0, 0);"></i> 3.8</span>
                      <strong class="text-muted ml-2">45 inceleme</strong></div>


                      <strong class="ml-2 text-success">
                        <i class="fa fa-comment-dots"></i>

                      154 yorum </strong>
                    </div>
                    <!-- rating-wrap.// -->

                    <div class="mb-3">
                      <div class="s1wytv2f-1 FzQtN"><a class="s1wl91l5-0 ifxKgt" href="" rel="nofollow noopener" target="_blank"><span class="s1wl91l5-1 cjVera">Şu an en ucuz</span><span class="s1wl91l5-2 dWTGzr">gittigidiyor.com</span><span class="s1wl91l5-4 cBVHJG">3.149,00 TL</span><span class="s1wl91l5-5 Xckjm"><img src="assets/images/offer-arrow.svg" class="initial loading" data-was-processed="true"></span></a><a class="s1wytv2f-5 cRbAbS">
                        <div>Fiyat Analizi</div><svg viewBox="0 0 106 30" xmlns="http://www.w3.org/2000/svg" class="s1wytv2f-6 eEqNcs">
                          <title>Group</title>
                          <g fill="none" fill-rule="evenodd">
                            <path d="M106 9.659H95.273a7.656 7.656 0 0 0-6.894 4.326l-2.32 4.8a4.947 4.947 0 0 1-8.827.16C72.033 7.802 66.405 2.153 60.348 2h-30.4c-2.702 0-1.134 3.11-3.724 3.11-2.94 0-2.324 2.336-4.246 2.336H0" stroke="#4A90E2" stroke-width="2.2"></path>
                            <path d="M106 9.714H95.029a7.623 7.623 0 0 0-6.874 4.329l-2.332 4.867a4.934 4.934 0 0 1-8.82.158C71.81 7.844 66.186 2.155 60.134 2H29.76c-2.699 0-1.132 3.133-3.72 3.133-2.937 0-2.322 2.352-4.243 2.352H0V30h105.95L106 9.714z" fill="#4A90E2" fill-opacity=".16"></path>
                          </g>
                        </svg>
                      </a></div>
                    </div>
                    <div class="mb-3">
                      <var class="price h4">USD 465,00</var>
                      <span class="text-muted">USD 562.65 incl. VAT</span>
                    </div>
                    <!-- price-detail-wrap .// -->

                    <div class="s1wytv2f-3 iyNygY">
                      <div class="s1wytv2f-4 eAgFNa">Batarya Kapasitesi 3020 mAh</div>
                      <div class="s1wytv2f-4 eAgFNa">Dahili Depolama (Hafıza) 32 GB</div>
                      <div class="s1wytv2f-4 eAgFNa">Diyafram Açıklığı F1.8</div>
                      <div class="s1wytv2f-4 eAgFNa">Ekran Boyutu 6.09 inç</div>
                      <div class="s1wytv2f-4 eAgFNa">4K Desteği Yok</div>
                      <div class="s1wytv2f-4 eAgFNa">Ağırlık 1.35 kg</div>
                      <div class="s1wytv2f-4 eAgFNa">Bluetooth Var</div>
                      <div class="s1wytv2f-4 eAgFNa">Bluetooth Versiyonu 4.0</div>
                    </div>


                    <ul class="list-check mb-4 cols-three hide">
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                     <li>Best performance of battery</li>
                     <li>5 years warranty for this product</li>
                     <li>Best performance of battery</li>
                   </ul>
                   <article class="card">
                    <div class="card-body">
                      <div class="row">
                        <aside class="col-md-12">
                          <h5>Parameters</h5>
                          <ul class="list-normal cols-two mb-4">
                           <li>Best performance of battery</li>
                           <li>5 years warranty for this product</li>
                           <li>Amazing features and high quality</li>
                           <li>Best performance of battery</li>
                           <li>5 years warranty for this product</li>
                           <li>Amazing features and high quality</li>

                         </ul>
                         <dl class="row hide">
                          <dt class="col-sm-3">Display</dt>
                          <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>

                          <dt class="col-sm-3">Processor</dt>
                          <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>

                          <dt class="col-sm-3">Camera</dt>
                          <dd class="col-sm-9">720p FaceTime HD camera</dd>

                          <dt class="col-sm-3">Memory</dt>
                          <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>

                          <dt class="col-sm-3">Graphics</dt>
                          <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
                        </dl>
                      </aside>
                      <aside class="col-md-6 hide">
                        <h5>Features</h5>
                        <ul class="list-check">
                         <li>Best performance of battery</li>
                         <li>5 years warranty for this product</li>
                         <li>Amazing features and high quality</li>
                         <li>Best performance of battery</li>
                         <li>5 years warranty for this product</li>
                         <li>Amazing features and high quality</li>
                       </ul>
                     </aside>
                   </div> <!-- row.// -->
                   <hr>
                   <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   </p>
                 </div> <!-- card-body.// -->
               </article>

               <div class="row hide">
                <aside class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-5">Manufacturer</dt>
                    <dd class="col-sm-7"><a href="#">Great textile Ltd.</a></dd>

                    <dt class="col-sm-5">Article number</dt>
                    <dd class="col-sm-7">596 065</dd>

                    <dt class="col-sm-5">Guarantee</dt>
                    <dd class="col-sm-7">2 year</dd>

                    <dt class="col-sm-5">Delivery time</dt>
                    <dd class="col-sm-7">3-4 days</dd>

                    <dt class="col-sm-5">Availabilty</dt>
                    <dd class="col-sm-7">in Stock</dd>
                  </dl>
                </aside>            <aside class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-5">Manufacturer</dt>
                    <dd class="col-sm-7"><a href="#">Great textile Ltd.</a></dd>

                    <dt class="col-sm-5">Article number</dt>
                    <dd class="col-sm-7">596 065</dd>

                    <dt class="col-sm-5">Guarantee</dt>
                    <dd class="col-sm-7">2 year</dd>

                    <dt class="col-sm-5">Delivery time</dt>
                    <dd class="col-sm-7">3-4 days</dd>

                    <dt class="col-sm-5">Availabilty</dt>
                    <dd class="col-sm-7">in Stock</dd>
                  </dl>
                </aside>
              </div>
              <div class="form-row  mt-4">
                <div class="form-group col-md flex-grow-0">
                  <div class="input-group mb-3 input-spinner">
                    <div class="input-group-prepend">
                      <button class="btn btn-light" type="button" id="button-plus"> + </button>
                    </div>
                    <input type="text" class="form-control" value="1">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                    </div>
                  </div>
                </div>
                <!-- col.// -->
                <div class="form-group col-md">
                  <a href="#" class="btn  btn-primary">
                    <i class="fas fa-heart"></i> <span class="text">Favori EKle</span>
                  </a>
                  <a href="#" class="btn btn-light">
                    <i class="fas fa-bell"></i> <span class="text">Fiyat Alarmı</span>
                  </a>
                </div>
                <!-- col.// -->
              </div>
              <!-- row.// -->

            </article>
          </div>
        </div>
        <article class="card hide">
          <div class="card-body">
            <div class="row">
              <aside class="col-md-6">
                <h5>Parameters</h5>
                <dl class="row">
                  <dt class="col-sm-3">Display</dt>
                  <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>

                  <dt class="col-sm-3">Processor</dt>
                  <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>

                  <dt class="col-sm-3">Camera</dt>
                  <dd class="col-sm-9">720p FaceTime HD camera</dd>

                  <dt class="col-sm-3">Memory</dt>
                  <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>

                  <dt class="col-sm-3">Graphics</dt>
                  <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
                </dl>
              </aside>
              <aside class="col-md-6">
                <h5>Features</h5>
                <ul class="list-check">
                 <li>Best performance of battery</li>
                 <li>5 years warranty for this product</li>
                 <li>Amazing features and high quality</li>
                 <li>Best performance of battery</li>
                 <li>5 years warranty for this product</li>
                 <li>Amazing features and high quality</li>
               </ul>
             </aside>
           </div> <!-- row.// -->
           <hr>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
             consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>
         </div> <!-- card-body.// -->
       </article>
     </div>
   </main>

   <!-- col.// -->
   <div class="section  bg-white">
    <div class="row">
     <div class="tab-pane fade active specs-tab show" id="specs" role="tabpanel" style="width: 100%;">
      <div class="d-md-flex justify-content-between align-items-start pb-4 border-bottom">
        <div class="media align-items-center mr-md-3"><img :src="'/images/w300/cdn/' +item.item.attributes.images[0] + '.jpg'" width="90" alt="Product thumb" title="" style="">
          <div class="mdeia-body pl-3">
            <h6 class="font-size-base mb-2">{{item.item.attributes.title}}</h6>
            <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
          </div>
        </div>
        <div class="d-flex align-items-center pt-3">
          <select class="custom-select mr-2" style="width: 5rem;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button class="btn btn-primary btn-shadow mr-2" type="button"><i class="fas fa-shopping-cart font-size-lg mr-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
          <div class="mr-2">
            <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fas fa-shopping-cart"></i></button>
          </div>
          <div>
            <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <article class="col-md-12">
          <div class="">
            <div name="specs">
              <h3 class="s98wa6g-14 ksJgOA hide">Özellikler</h3>
              <div class="s10v53f3-0 bfgzQt cols-three" style="padding:0;">
                <ul class="s10v53f3-2 goYFek" v-for="(sgroup, skey) in item.catGroups">
                  <li class="s10v53f3-3 khqVcO">{{sgroup.attribute_group_name}}</li>
                  <template v-for="(spec, skey) in sgroup.attribute_labels">
                    <li class="s10v53f3-4 ddfMMC" v-if="item.item.attributes[skey]">
                      <span class="s10v53f3-5 klVFuV">{{spec}}</span>
                      <span class="s10v53f3-6 geozbR">{{item.item.attributes[skey] || ''}}</span>

                    </li>
                  </template>

                </ul>

              </div>
            </div>
          </div> <!-- card-body.// -->
        </article>
      </div>

    </div>
  </div>
</div>
</div>
<!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->

</div>

<!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->

<!-- ========================= SECTION CONTENT END// ========================= -->



</div>
</template>

<script>
module.exports = {
  name: "single",
  props: ['itemId'],
  data() {
    return {
      initCimri: 0,
      item: {},
      prices: [{
        "store": "teknosa",
        "title": "Garmin Fenix 5S Sapphire",
        "price": "300.50",
        "storeLogo": "https://www.epey.com/resim/site/teknosa-com.png",
        "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
        "attributes": {
          "freeCargo": true
        }
      },
      {
        "store": "n11",
        "title": "Garmin Fenix 5S Sapphire",
        "price": "300.50",
        "storeLogo": "https://www.epey.com/resim/site/urun-n11-com.png",
        "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
        "attributes": {
          "freeCargo": true
        }
      },
      {
        "store": "amazon",
        "title": "Garmin Fenix 5S Sapphire",
        "price": "300.50",
        "storeLogo": "https://www.epey.com/resim/site/amazon-com-tr.png",
        "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
        "attributes": {
          "freeCargo": true
        }
      },
      {
        "store": "mediamarkt",
        "title": "Garmin Fenix 5S Sapphire",
        "price": "300.50",
        "storeLogo": "https://www.epey.com/resim/site/mediamarkt-com-tr.png",
        "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
        "attributes": {
          "freeCargo": true
        }
      },
      {
        "store": "trendyol",
        "title": "Garmin Fenix 5S Sapphire",
        "price": "300.50",
        "storeLogo": "https://www.epey.com/resim/site/https-trendyol-com.png",
        "outUrl": "https://www.cimri.com/cep-telefonlari/en-ucuz-huawei-cep-telefonlari-fiyatlari",
        "attributes": {
          "freeCargo": true
        }
      }
      ],
      example: 0,
    };
  },
  computed: {},
  mounted() {

  },
  beforeCreate() {

  },
  created() {


       /* this.get(apiUrl + '/entry/' + 4, (res) => {

            this.item = res
          });*/
          this.get(apiUrl + '/contentItem/' + this.$route.params.itemId, (res) => {
            this.item = res
            var s = document.getElementsByTagName("meta")[0];
            var metaredirect = document.createElement("meta");
            metaredirect.setAttribute("http-equiv", "refresh")
            metaredirect.content = "0; url=https://www.fiyat360.com/product/" + res.item.attributes.slug + '_' + res.item.content_id + '.html'


            s.parentNode.insertBefore(metaredirect, s);
            var po = document.createElement("link");
            po.rel = "canonical";
            po.href = "https://www.fiyat360.com/product/" + res.item.attributes.slug + '_' + res.item.content_id + '.html';
            s.parentNode.insertBefore(po, s);
           // document.querySelector('link[rel="canonical"]').setAttribute("href",  "https://www.fiyat360.com/product/" + res.item.attributes.slug + '_' + res.item.content_id + '.html');
           window.document.title = res.item.attributes.title + ' | Fiyat 360';
           document.querySelector('meta[name="description"]').setAttribute("content", res.item.attributes.title + ' özellikleri. ' + Object.values(res.cat.bread_crumb).join(', '));

         // window.location.replace("https://www.fiyat360.com/product/" + res.item.attributes.slug + '_' + res.item.content_id + '.html');

         //this.getOffers(res.item.attributes.title)

  //console.log(this.$route.fullPath)
});
        },
        methods: {
          getOffers(text){
            this.get(apiUrl + '/offerSearch?text=' + text, (res) => {
              console.log(res);
            });
          }
        }
      }
      </script>

      <style>

      .FzQtN {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 4px;
      }

      .ifxKgt {
        background-color: rgb(255, 255, 255);
        width: max-content;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 14px 12px 14px 14px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
        text-decoration: none;
        transition: all 0.3s ease 0s;
      }

      .cjVera {
        background-color: rgb(58, 160, 58);
        font-size: 11px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin-right: 8px;
        border-radius: 2px;
        padding: 2px 4px;
      }

      .dWTGzr {
        color: rgb(74, 144, 226);
        font-size: 12px;
        font-weight: 600;
        margin-right: 14px;
      }

      .cBVHJG {
        font-size: 18px;
        font-weight: bold;
        color: rgb(62, 66, 69);
        margin-right: 8px;
      }

      .Xckjm {
        width: 8px;
        height: 12.3px;
        align-self: baseline;
      }

      .cRbAbS:hover {
        background-color: rgb(245, 245, 245);
      }

      .cRbAbS:hover {
        background-color: #f5f5f5;
      }

      .cRbAbS {
        background-color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 12px;
        padding-right: 6px;
        cursor: pointer;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
      }

      .cRbAbS div {
        font-size: 12px;
        font-weight: bold;
        color: rgb(74, 144, 226);
        float: left;
        margin-right: 8px;
      }

      .eEqNcs {
        width: 106px;
        height: 28px;
      }
      .FzQtN {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 4px;
      }
      .ifxKgt {
        background-color: rgb(255, 255, 255);
        width: max-content;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 14px 12px 14px 14px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
        text-decoration: none;
        transition: all 0.3s ease 0s;
      }
      .cjVera {
        background-color: rgb(58, 160, 58);
        font-size: 11px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin-right: 8px;
        border-radius: 2px;
        padding: 2px 4px;
      }
      .dWTGzr {
        color: rgb(74, 144, 226);
        font-size: 12px;
        font-weight: 600;
        margin-right: 14px;
      }
      .cBVHJG {
        font-size: 18px;
        font-weight: bold;
        color: rgb(62, 66, 69);
        margin-right: 8px;
      }
      .Xckjm {
        width: 8px;
        height: 12.3px;
        align-self: baseline;
      }
      .cRbAbS:hover {
        background-color: rgb(245, 245, 245);
      }
      .cRbAbS:hover {
        background-color: #f5f5f5;
      }

      .cRbAbS {
        background-color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 12px;
        padding-right: 6px;
        cursor: pointer;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
      }
      .cRbAbS div {
        font-size: 12px;
        font-weight: bold;
        color: rgb(74, 144, 226);
        float: left;
        margin-right: 8px;
      }
      .eEqNcs {
        width: 106px;
        height: 28px;
      }


      .goYFek {
        break-inside: avoid;
        width: 100%;
        height: auto;
        margin: 0px 0px 20px;
        padding: 0px;
        list-style: none;
      }

      .ddfMMC {
        font-weight: 600;
        font-size: 11px;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        max-width: 100%;
        padding: 6px 10px;
        overflow: hidden;
        border-bottom: 1px solid rgb(241, 245, 248);
      }
      .klVFuV {
        width: 43%;
        font-weight: 600;
      }
      .geozbR {
        width: 57%;
        overflow-wrap: break-word;
      }
      .geozbR {
        width: 57%;
        word-wrap: break-word;
      }
      .ksJgOA {
        font-size: 16px;
        font-weight: 600;
        color: rgb(73, 144, 226);
        padding: 15px 30px;
        border-bottom: 1px solid rgb(241, 245, 248);
      }
      .bfgzQt {
        column-count: 2;
        column-gap: 2%;
        column-fill: auto;
        position: relative;
        padding: 5px 30px 15px;
      }
      .cols-two {
        -webkit-column-count: 2;
        column-count: 2;
        column-count: 2;
        column-gap: 10%;
        width: 100%;
        column-fill: balance;
        position: relative;
        padding: 5px 30px 15px;
      }

      .list-check {
        padding-left: 0 !important;
        list-style: none;
      }
      .section {
        padding: 20px;
      }
      .table>tbody>tr>td,
      .table>tfoot>tr>td,
      .table>thead>tr>td {
        padding: 5px 12px;
      }

      .nav-pills .nav-item.show .nav-link,
      .nav-pills .nav-link.active {
        background-color: #ff5722;
      }

      .s98wa6g-2 {
        background-color: rgb(255, 87, 34);
        padding: 10px;
        vertical-align: middle;
        text-align: center;
        margin-top: 20px;
        color: white;
        font-weight: 600;
      }

      .nav-pills .nav-item.show .nav-link,
      .nav-pills .nav-link.active {
        background-color: #ffffff;
        color: black;
        border-bottom: 1px solid #ff5722;
        border-radius: 0;
      }

      .nav-pills .nav-item .nav-link,
      .nav-pills .nav-link {
        background-color: #ffffff;
        color: black;
        font-weight: 600;
      }

      i.fa.fa-star {
        color: #FFC107;
        font-size: 1.2rem;
      }

      [class*=list-] li:after {
        visibility: hidden;
        display: block;
        content: unset;
        overflow: hidden;
        height: 0;
        clear: both;
      }

      .specs-tab {
        background-color: white;
        border-radius: 5px;
        margin-bottom: 30px;
        padding-top: 30px;
      }

      .reviews-tab {
        background-color: white;
        border-radius: 5px;
        margin-bottom: 30px;
        padding-top: 30px;
      }

      .product-review .btn-like {
        color: #42d697;
      }

      .product-review .btn-like,
      .product-review .btn-dislike {
        display: inline-block;
        margin-right: .375rem;
        font-size: 1rem;
        vertical-align: middle;
        background-color: transparent;
        border: none;
      }

      .product-review .btn-dislike {

        color: #f34770;
      }

      .list-unstyled {
        padding-left: 0;
        list-style: none;
      }

      .font-size-ms {
        font-size: .8125rem !important;
      }

      .list-unstyled>li {
        margin-bottom: .4rem;
      }

      .font-weight-medium {
        font-weight: 600 !important;
      }

      section.py-3.bg-light {
        padding-bottom: 100px !important;
      }

      section.section-content.bg-white.padding-y {
        background-color: transparent !important;
      }

      div.main-container.container {
        background-color: white !important;
        border-radius: 10px;
        margin-top: -100px;
      }

      .product-primary-image {
        height: 300px !important;
      }

      section.section-content.bg-white.padding-y {
        background-color: transparent !important;
      }

      div.title.container {
        background-color: white !important;
        border-radius: 10px;
        margin-top: -100px;
      }

      .cz-thumblist-item img {
        width: 40px;
      }

      .cz-thumblist {
        margin-left: -.5rem;
      }

      .cz-product-gallery {
        display: -ms-flexbox;
        display: flex;
      }

      .cz-preview-item.active {
        position: relative;
        opacity: 1;
        z-index: 10;
      }

      .cz-preview-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 1;
      }

      .cz-preview-item>img {
        width: 80%;
        margin: 0 auto;
        display: block;

      }

      .cz-preview {
        position: relative;
        width: 100%;
        margin-top: .625rem;
      }

      .cz-thumblist-item {
        display: block;
        position: relative;
        text-align: center;
        width: 5rem;
        min-height: 5rem;
        line-height: 5rem;
        margin: .625rem;
        transition: border-color 0.2s ease-in-out;
        border: 1px solid #e3e9ef;
        border-radius: .3125rem;
        text-decoration: none !important;
        overflow: hidden;
      }

      .cz-thumblist-item.video-item {
        line-height: 1.5rem;
      }

      .cz-thumblist-item>img {
        width: 100%;
        transition: opacity .2s ease-in-out;
        opacity: .9;
        width: 100%;
        transition: opacity .2s ease-in-out;
        opacity: .9;
        vertical-align: middle;
        display: table-cell;
        display: inline-block;
        line-height: normal;
      }

      .cz-thumblist-item .cz-thumblist-item-text {
        position: absolute;
        top: 50%;
        width: 100%;
        padding: .25rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #4b566b;
        font-size: .875rem;
        text-align: center;
      }

      .cz-thumblist-item .cz-thumblist-item-text>i {
        display: block;
        margin-bottom: .25rem;
        font-size: 1.5em;
      }

      .mb-3.price-header {
        display: block;
        float: right;
      }

      .s1wytv2f-4.eAgFNa {
        display: inline-block;
        padding: 7px;
        border: 1px solid #ccc;
        margin: 5px;
        font-size: 12px;
        border-radius: 5px;
      }

      .container.main-content {
        margin-top: -80px;
      }
      .price-header{
        float: right;
        margin-top: -30px;
      }
      .h2, h2 {
        font-size: 1.5rem;
      }
      .bg-light {
        background-color: #FFEB3B!important;
      }
      .khqVcO {
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
        background-color: #ffeb3b;
        padding: 0px 7px;
        margin: 0px;
        color: black;
      }
      /*
      ul:after {
        content:'';
        width:100%;
        height:34px;
        position:absolute;
        background-color:inherit;
        bottom:0;
        left:0;
      }*/
      li:only-child {
        display: none;
      }
      /* one item */
      li:first-child:nth-last-child(1) {
        /* -or- li:only-child { */
          width: 100%;
        }
        </style>
