<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Attribute Ayarları</h4>

      <div class="row">

        <div class="col-md-6">

          <form class="form-horizontal" role="form">

            <div class="form-group" v-if="!entityTypeId">
              <label class="col-md-2 col-form-label">Assign To Entity</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.entity_type_id">
                  <optgroup v-for="(entity, key) in _.groupBy(entities, 'entity_code')" :label="key">
                    <option v-for="(entityType, ek) in entity" :value="entityType.id">{{entityType.type_code}}</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">attribute_code</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.attribute_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">frontend_label</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.frontend_label">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">Field Type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.field_type">
                  <optgroup v-for="(fieldGroup, fieldGroupKeykey) in fieldTypes" :label="fieldGroupKeykey">
                    <option v-for="(field, fieldKey) in fieldGroup" :value="fieldKey">{{fieldKey}}</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">frontend_input</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.frontend_input">
                  <optgroup v-for="(fieldGroup, fieldGroupKeykey) in fieldTypes" :label="fieldGroupKeykey">
                    <option v-for="(field, fieldKey) in fieldGroup" :value="fieldKey">{{fieldKey}}</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">backend_type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.backend_type">

                  <option v-for="(optionName, fieldKey) in backendTypes" :value="optionName">{{optionName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">help_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.help_text" v-model="attribute.help_text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">note</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.note" v-model="attribute.note">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="attribute.is_required">
                  <label for="checkbox222">
                    is_required
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox222" type="checkbox" v-model="attribute.is_user_defined">
                  <label for="checkbox222">
                    is_user_defined
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox223" type="checkbox" v-model="attribute.is_unique">
                  <label for="checkbox222">
                    is_unique
                  </label>
                </div>
              </div>
            </div>

          </form>
        </div>

        <div class="col-md-6">

          <media-field v-if="attribute.field_type == 'image'"></media-field>
          <text-field v-on:set-data="res => attribute.data = res" v-if="attribute.field_type == 'text'"></text-field>
          <date-field v-if="attribute.field_type == 'date_picker'"></date-field>
          <term-field v-if="attribute.field_type == 'taxonomy'"></term-field>
          <select-field v-on:set-data="res => attribute.data = res" v-if="attribute.field_type == 'select'"></select-field>

        </div>

        <div class="col-md-12 hide">
             <h4 class="m-b-20 header-title">Kosullar</h4>
          <div class="table-responsive">
              <button type="button" class="btn btn-primary waves-effect waves-light hide" @click="allToCondition.push(addToCondition); addToCondition = {}">Kosul Ekle</button>
            <table class="table table-hover mails m-0 table table-actions-bar">
              <thead>
                <tr>

                  <th>fieldname</th>
                  <th>operator</th>
                  <th>value</th>
                  <th>and</th>
                </tr>
              </thead>

              <tbody>
              <tr v-for="(co, ck) in allToCondition">

                  <td>{{co.kosullar}}</td>
                  <td>{{co.kosullar_sart}}</td>
                  <td>{{co.kosullar_deger}}</td>
                  <td>and</td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control" v-model="addToCondition.kosullar">
                      <template v-for="(attri, akey) in _.indexBy(attributeGroup.attribute_fields,'attribute_code')">

                        <option :value="akey">{{akey}}</option>
                      </template>
                    </select>
                  </td>

                  <td>
                    <select v-if="addToCondition.kosullar" class="form-control" v-model="addToCondition.kosullar_sart">

                      <option>==</option>
                      <option>!=</option>
                      <option>any value</option>
                      <option>equal</option>
                      <option>not equal</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" v-if="addToCondition.kosullar && addToCondition.kosullar_sart" v-model="addToCondition.kosullar_deger">
                      <template v-for="(oname, akey) in _.indexBy(attributeGroup.attribute_fields,'attribute_code')[addToCondition.kosullar].data.choices.split('\n')">

                        <option :value="oname">{{oname}}</option>
                      </template>
                    </select>
                  </td>
                  <td>
   and
                  </td>

                </tr>
              </tbody>
            </table>
          </div>



        </div>
      </div>
      <!-- end row -->
      <button type="button" class="btn btn-primary waves-effect waves-light" @click="saveAttribute">Save changes</button>

    </div> <!-- end col -->
  </div> <!-- end row -->
  <pre class="hide">
  {{allToCondition}}<br>
  {{addToCondition}}<br>
  {{attribute}}<br>

  {{exampleFieldGroup}}<br>
  {{exampleFields[attribute.field_type] || 0}}<br>
  </pre>
</div> <!-- container -->
</template>

<script>
var MediaField = httpVueLoader('vue/fields/media.vue')
var TermField = httpVueLoader('vue/fields/term.vue')
var TextField = httpVueLoader('vue/fields/text.vue')
var DateField = httpVueLoader('vue/fields/date.vue')
var SelectField = httpVueLoader('vue/fields/select.vue')
module.exports = {
  components: {
    MediaField,
    TermField,
    TextField,
    SelectField,
    DateField
  },
  props: ['attributeId', 'entityTypeId'],
  data() {
    return {
      allToCondition: [],
      addToCondition: {},
      attributeGroup: {},
      exampleFieldGroup: {},
      exampleFields: {},
      entities: [],
      backendTypes: ["varchar", "text", "int", "decimal", "array"],
      attribute: {
        "field_type": "text",
        "entity_type_id": 24,
        "attribute_code": null,
        "backend_type": null,
        "frontend_input": "text",
        "frontend_label": null,
        "frontend_class": null,
        "is_required": true,
        "is_relational": false,
        "is_user_defined": true,
        "is_unique": false,
        "note": null,
        "data": {}
      },
      fieldTypes: {
        "Basic": {
          "text": {
            "prepend": "",
            "append": "",
            "instructions": "",
            "type": "text",
            "default_value": "",
            "conditional_logic": 0,
            "wrapper": {
              "id": "",
              "width": "",
              "class": ""
            },
            "label": "metin 01",
            "name": "metin_01",
            "maxlength": "",
            "placeholder": "",
            "required": 0,
            "key": "field_5d381cc216415"
          },
          "textarea": {},
          "number": {},
          "range": {},
          "email": {},
          "url": {},
          "password": {},
          "price": {},
          "float": {},
          "double": {},
          "hidden": {},
        },
        "Content": {
          "image": {},
          "file": {},
          "wysiwyg": {},
          "oembed": {},
        },
        "Choice": {
          "select": {},
          "checkbox": {},
          "radio": {},
          "button_group": {},
          "true_false": {},
        },
        "Relational": {
          "content": {},
          "media": {},
          "relationship": {},
          "taxonomy": {

          },
          "user": {},
        },
        "Custom": {
          "google_map": {},
          "date_picker": {},
          "date_time_picker": {},
          "time_picker": {},
          "color_picker": {},
        },
        "Layout": {
          "message": {},
          "accordion": {},
          "tab": {},
          "group": {},
        }
      }
    };
  },
  methods: {
    saveAttribute() {
        console.log(this.attribute);
      this.post(window.api_url + "/add_attribute/" + this.entityTypeId, this.attribute, (response) => {
        console.log(response);
      })
    },
    getAttribute() {
        if (this.attribute_id) {

            this.get(window.api_url + "/attribute/" + this.attribute_id, (response) => {
              this.attribute = Object.assign(this.attribute, response);
              console.log(this.attribute);
            })
        }
    },
    getGroupDetail() {

      this.get(window.api_url + "/attribute_group/" + 112, (response) => {
        this.attributeGroup = response
      })

    },
  },
  created() {
    this.get(window.api_url + "/entities", (response) => {
      this.entities = response;
      console.log(response);
    })
    this.exampleFieldGroup = window.exampleFieldGroup
    this.exampleFieldGroup.fields = [];
    this.exampleFieldGroup.location = [];
    this.exampleFieldGroup.hide_on_screen = [];
    this.exampleFields = window.exampleFields

    this.getAttribute()
    this.attribute.entity_type_id = this.entityTypeId
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
