<template>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h4 class="m-b-20 header-title">Grup Ayarları 1</h4>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Group Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">attribute_group_code</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Grup Açıklaması</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="5" v-model="attributeGroup.description">Ekran Özelliklerini seçiniz</textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-5">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-2 col-form-label">tab group id</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.tab_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">set type id</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.set_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-if="!attributeGroup.entity_type_id">
                            <label class="col-md-2 col-form-label">Entity ID</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.entity_type_id" v-on:change="getAttributes(attributeGroup.entity_type_id)">
                                    <optgroup v-for="(entity, key) in _.groupBy(entities, 'entity_code')" :label="key">
                                        <option v-for="(entityType, ek) in entity" :value="entityType.id">{{entityType.type_code}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">sort_order</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.sort_order">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option>80</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-10">
                                <select class="form-control m-b-20" v-model="attributeGroup.status">
                                    <option value="1">Active</option>
                                    <option value="0">Passive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox checkbox-info">
                                    <input id="checkbox221" type="checkbox" v-model="attributeGroup.is_primary">
                                    <label for="checkbox222">
                                        is_primary
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Gizle</label>
                            <div class="col-md-10">
                                <select multiple class="form-control m-b-20" v-model="attributeGroup.hide">
                                    <option>Hiç Biri</option>
                                    <option>Tümü</option>
                                </select>
                                <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-primary btn-block" @click="updateGroup()">Add</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <template v-if="Number(attributeGroup.entity_type_id)">
                <h4 class="m-b-20 header-title">Attributes</h4>

                <div class="card-box">
                    <h6 class="m-t-0">{{attributeGroup.selected_attributes ? attributeGroup.selected_attributes.length : 0}} Attributes
                        <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" data-toggle="modal" data-target="#attributesModal">Add Attribute</button>
                    </h6>
                    <div id="attributesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width: 90% !important;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Group Attributes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <pre> burada kopyalama, yeni oluşturma gibi sekmeler olabilir.
                                        <br>
                                        veya daha önce oluşturulan attr burada seçilince bu grup için tanımlı entity_type_id alabilir
                                        {{selectedAttributes}}
                                        </pre>

                                    <add-field v-if="1==0" :entity-type-id="attributeGroup.entity_type_id"></add-field>
                                    <h4 class="m-b-20 header-title">Kopyala</h4>
                                    <form class="" role="form">

                                        <div class="form-group">
                                            <label class="col-form-label">SelectBox Multi</label>
                                            <div class="">
                                                <select class="form-control" multiple v-model="selectedAttributes">
                                                    <optgroup v-for="(attrg, gkey) in _.groupBy(attributes, 'backend_type')" :key="gkey" :label="gkey">
                                                        <option v-for="(attr, akey) in _.sortBy(attrg, 'frontend_label')" :key="akey" :value="attr.attribute_id">{{attr.frontend_label || 'hidden'}} | {{attr.attribute_code}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary waves-effect waves-light" @click="attributeGroup.selected_attributes = selectedAttributes ; selectedAttributes = {}">Save changes</button>
                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.grup ayarları modal -->
                    <div class="table-responsive">
                        <table class="table table-hover mails m-0 table table-actions-bar">
                            <thead>
                                <tr>
                                    <th style="min-width: 95px;">ID</th>
                                    <th>attribute_code</th>
                                    <th>frontend_label</th>
                                    <th>entity_type_code</th>
                                    <th>backend_type</th>
                                    <th>frontend_input</th>
                                    <th>settings</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr v-for="(attribute_id, pi) in attributeGroup.selected_attributes" :key="pi" v-if="_.indexBy(attributes, 'attribute_id')[attribute_id]">
                                    <td>
                                        {{_.indexBy(attributes, 'attribute_id')[attribute_id].attribute_id}}
                                    </td>

                                    <td>
                                        {{_.indexBy(attributes, 'attribute_id')[attribute_id].attribute_code}}
                                    </td>

                                    <td>
                                        <a href="#" class="text-muted">{{_.indexBy(attributes, 'attribute_id')[attribute_id].frontend_label}}</a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">0</a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">0</a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">0</a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-muted"><b><span @click="moveAttributes(attribute_id, 1)">UP</span>|<span @click="moveAttributes(attribute_id, 0)">Down</span>|edit|<span @click="deleteAttributes(attribute_id)">delete</span></b></a>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </template>

                        <template v-if="1 == 0 && attributeGroup.entity_type_id
        && _.indexBy(entities, 'id')[attributeGroup.entity_type_id]
        && _.indexBy(entities, 'id')[attributeGroup.entity_type_id].entity_code == 'content'">
                <h4 class="m-b-20 header-title">Konumlar</h4>
                Burada seçilen entity type bir content türünde ise atanmış taxonomy için bir filtre olabilir.
                <div class="card-box">
                    <h6 class="m-t-0">
                        3 Konum {{_.indexBy(entities, 'id')[attributeGroup.entity_type_id].entity_code}}
                        <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" data-toggle="modal" data-target="#attributesModal2">Add Konum</button>
                    </h6>

                    <!-- show attributes -->
                    <div id="attributesModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Yeni Konum</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">

                                    <form class="" role="form">

                                        <div class="form-group">
                                            <label class="col-form-label">Konumlar</label>
                                            <div class="">
                                                <select class="form-control" v-model="place.type" @change="placeTypeOnChange">
                                                    <option v-for="(plc, pi) in placeTypes" :key="pi" :value="pi">{{pi}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Kategoriler</label>
                                            <div class="">
                                                <select multiple class="form-control m-b-20" v-model="place.places" v-if="place.type !== 'terms'">
                                                    <option v-for="(plc, keyo) in placeTypes[place.type]" :key="keyo" :value="plc">{{plc}}</option>

                                                </select>
                                                <select multiple class="form-control m-b-20" v-model="place.places" v-if="place.type == 'terms'">
                                                    <optgroup v-for="(ttg, tk) in taxonomyTerms" :key="tk" :label="tk.toUpperCase()">
                                                        <template v-for="(ttpg, ttpgk) in _.groupBy(ttg, 'parent_id')['0']">
                                                            <option :key="ttpgk" :value="ttpg.variant_id">{{ttpg.name}}</option>
                                                        </template>
                                                    </optgroup>

                                                </select>
                                                <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-primary btn-block" @click="attributeGroup.places[place.type] = place.places; place = {}">Add</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer hide">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary waves-effect waves-light" @click="attributeGroup.places[place.type] = place.places; place = {}">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.grup ayarları modal -->
                    <div class="table-responsive">
                        <table class="table table-hover mails m-0 table table-actions-bar">
                            <thead>
                                <tr>

                                    <th>Konum Türü</th>
                                    <th>Konumlar</th>
                                    <th>settings</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(placex, kk) in attributeGroup.places" :key="kk" v-if="kk && placex">
                                    <td>
                                        {{kk}}
                                    </td>

                                    <td>
                                        {{placex.join(',')}}
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted"><b>edit|delete</b></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </template>

        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <pre>
    {{attributeGroup}}<br>
    </pre>
</div>
<!-- container -->
</template>

<script>
var AddField = httpVueLoader('vue/add-attribute.vue')
module.exports = {
    name: 'AddAttributeGroup',
    props: ['group_id', 'permalink'],
    components: {
        AddField
    },
    data() {
        return {
            entities: [],
            attributeGroup: {
                tab_group_id: 1,
                entity_type_id: 0,
                is_primary: 1,
                status: 1,
                sort_order: 10,
                selected_attributes: [],
                places: {},
                data: {
                    selectedAttributes: [],
                    places: {}
                }
            },
            attributesForm: [],
            selectedAttributes: [],
            taxonomyTerms: [],
            attribute: {
                "attribute_code": "title",
                "backend_type": "varchar",
                "frontend_input": "text",
                "frontend_label": "Title",
                "frontend_class": null,
                "is_required": "1",
                "is_user_defined": "1",
                "default_value": null,
                "is_unique": "0",
                "note": null,
                "sort_order": "40",
                "attribute_group_id": "1"
            },
            attributes: [{
                "attribute_code": "title",
                "backend_type": "varchar",
                "frontend_input": "text",
                "frontend_label": "Title",
                "frontend_class": null,
                "is_required": "1",
                "is_user_defined": "1",
                "default_value": null,
                "is_unique": "0",
                "note": null,
                "sort_order": "40",
                "attribute_group_id": "1"
            }],
            place: {
                "type": 'entities',
                "places": [],
            },
            places: {},
            placeTypes: {
                "entities": ["article", "page", "classified", "product"],
                "taxonomies": ["brand", "tag", "product"],
                "reply": ["general", "review", "comment"],
                "user": ["member", "contributor", "moderator"],
                "user_form": ["register", "login"],
                "terms": [],
                "status": ["draft", 'publish'],
                "pages": ["draft", 'publish'],
            }
        };
    },
    methods: {
        deleteAttributes(attribute_id) {
            this.attributeGroup.selected_attributes.splice(this.attributeGroup.selected_attributes.indexOf(attribute_id), 1)
        },
        moveAttributes(attribute_id, toMove = 1){
            let indexPosition = this.attributeGroup.selected_attributes.indexOf(attribute_id)
            if (toMove) {
this.attributeGroup.selected_attributes.move(indexPosition, indexPosition > 0 ? indexPosition - 1 : indexPosition)
            } else {

this.attributeGroup.selected_attributes.move(indexPosition, this.attributeGroup.selected_attributes.length - 1 > indexPosition ? indexPosition + 1 : indexPosition)
            }
        },
        getEntityTypes() {
            this.get(window.api_url + "/entities", (response) => {
                this.entities = response;
            })
        },
        placeTypeOnChange(event = null) {
            console.log(event.target.value);
            // this.place.places = this.places_types[event.target.value]

        },
        updateGroup() {
            this.post(window.api_url + "/add_group", this.attributeGroup, (response) => {
                console.log(response);

                this.getGroupDetail();

            })
        },
        getAttributes(entity_type_id) {
            this.get(window.api_url + "/attributes/" + entity_type_id, (response) => {
                this.attributes = response
            })

        },
        getGroupDetail() {
if (this.group_id) {

            this.get(window.api_url + "/attribute_group/" + this.group_id, (response) => {
                this.attributeGroup = response
                this.attributes = response.attribute_fields
                this.getAttributes(this.attributeGroup.entity_type_id)
            })
}

        },
        getTermsField() {
            this.get(window.api_url + "/terms", (response) => {
                this.taxonomyTerms = _.groupBy(response, 'entity_type_code')
            })
        }
    },
    created() {
        if (this.group_id) {

            this.getGroupDetail();
        }
        //this.getAttributes();
        this.getTermsField();
        this.getEntityTypes();
    }
}
</script>

<style>
.hello {
    background-color: #ffe;
}

select[multiple] {
    background-color: #ffe;
    min-height: 225px;
}
</style>
