<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Show Attribute</h4>

      <div class="row">
        <div class="col-md-6">
          <form class="form-horizontal" role="form">

            <div class="form-group hide">
              <label class="col-md-2 col-form-label">additional_data</label>
              <div class="col-md-10">
                {{attribute.additional_data}}
              </div>
            </div>

            <select class="form-control hide">
              <option v-for="(x, k) in attribute.data.options.split('\n')" :key="k" :value="x">{{x}}</option>

            </select>

            <div class="form-group hide" v-if="['select','multiselect'].includes(attribute.frontend_input)">
              <label class="col-md-2 col-form-label">SelectOptions</label>
              <div class="col-md-10">
                <textarea class="form-control" rows="20" style="height:180px;" v-model="attribute.data.options"></textarea>
              </div>
            </div>

            <div class="form-group hide">
              <label class="col-md-2 col-form-label">frontend_input</label>
              <div class="col-md-10">

                <select class="form-control" v-model="attribute.frontend_input">
                  <optgroup label="Relationship">
                    <option value="terms">Terms</option>
                    <option value="tags">Tags</option>
                    <option value="media">Media</option>
                  </optgroup>
                  <optgroup label="Components">
                    <option value="terms">Terms</option>
                    <option value="tags">Tags</option>
                    <option value="media">Media</option>
                  </optgroup>
                  <optgroup label="Numbers">
                    <option value="number">Number</option>
                    <option value="float">Float</option>
                    <option value="double">Double</option>
                    <option value="double">Price</option>
                  </optgroup>
                  <optgroup label="General">
                    <option value="text">Text</option>
                    <option value="longtext">LongText</option>
                    <option value="editor">Editor</option>
                    <option value="map">Map</option>
                    <option value="video">Video</option>
                    <option value="url">Url</option>
                    <option value="date">Date</option>
                    <option value="datetime">DateTime</option>
                    <option value="year">Year</option>
                    <option value="time">Time</option>
                    <option value="select">Select</option>
                    <option value="multiselect">MultiSelect</option>
                    <option value="color">Color</option>
                    <option value="gallery">Gallery</option>
                    <option value="file">File</option>
                    <option value="image">Image</option>
                    <option value="textarea">Text Area</option>
                    <option value="hidden">Hidden</option>
                  </optgroup>

                </select>
              </div>
            </div>

            <div class="form-group hide">
              <label class="col-md-2 col-form-label">backend_type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.backend_type">
                  <optgroup label="Advanced">
                    <option value="static">Static</option>
                    <option value="price">Price</option>
                  </optgroup>

                  <optgroup label="Numbers">
                    <option selected="">int</option>
                    <option>decimal</option>
                    <option>float</option>
                    <option>double</option>
                  </optgroup>
                  <optgroup label="Date and time">
                    <option>date</option>
                    <option>datetime</option>
                    <option>timestamp</option>
                    <option>time</option>
                    <option>year</option>
                  </optgroup>
                  <optgroup label="Strings">
                    <option>varchar</option>
                    <option>text</option>
                    <option>longtext</option>
                    <option>json</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">Assign To Entity</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.entity_type_id">
                  <optgroup label="Content">
                    <option>Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Product</option>
                    <option>Dernek Merkezi</option>
                    <option>Dernek Şube</option>
                    <option>Kurs Odemeleri</option>
                    <option>Kurs Ogretmenler</option>
                    <option>Kurs Ogrenci</option>
                    <option>Dernek Kantini</option>
                    <option>Dernek Kantin Ödeme</option>
                  </optgroup>

                  <optgroup label="Taxonomy">
                    <option>Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Brand</option>
                  </optgroup>
                  <optgroup label="Comment">
                    <option>Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Product</option>
                    <option>Review</option>
                  </optgroup>
                  <optgroup label="User">
                    <option>Admin</option>
                    <option>Member</option>
                    <option>Subscriber</option>
                    <option>Moderator</option>
                  </optgroup>
                  <optgroup label="Media">
                    <option>Image</option>
                    <option>Doc</option>
                    <option>Video</option>
                    <option>Gallery</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">Field Type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.field_type">
                  <optgroup label="Basic">
                    <option value="text" selected="selected">Text</option>
                    <option value="textarea">Text Area</option>
                    <option value="number">Number</option>
                    <option value="range">Range</option>
                    <option value="email">Email</option>
                    <option value="url">Url</option>
                    <option value="password">Password</option>
                    <option value="price">Price</option>
                    <option value="float">Float</option>
                    <option value="double">Double</option>
                    <option value="hidden">Hidden</option>
                  </optgroup>
                  <optgroup label="Content">
                    <option value="image">Image</option>
                    <option value="file">File</option>
                    <option value="wysiwyg">Wysiwyg Editor</option>
                    <option value="oembed">oEmbed</option>
                  </optgroup>
                  <optgroup label="Choice">
                    <option value="select">Select</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="radio">Radio Button</option>
                    <option value="button_group">Button Group</option>
                    <option value="true_false">True / False</option>
                  </optgroup>
                  <optgroup label="Relational">
                    <option value="content">Contents</option>
                    <option value="media">Media</option>
                    <option value="relationship">Relationship</option>
                    <option value="taxonomy">Taxonomy</option>
                    <option value="user">User</option>
                  </optgroup>
                  <optgroup label="Custom">
                    <option value="google_map">Google Map</option>
                    <option value="date_picker">Date Picker</option>
                    <option value="date_time_picker">Date Time Picker</option>
                    <option value="time_picker">Time Picker</option>
                    <option value="color_picker">Color Picker</option>
                  </optgroup>
                  <optgroup label="Layout">
                    <option value="message">Message</option>
                    <option value="accordion">Accordion</option>
                    <option value="tab">Tab</option>
                    <option value="group">Group</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">default_value</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.data.default_value" v-model="attribute.data.default_value">
              </div>
            </div>
            <div v-if="attribute.frontend_input == 'date'">
              <div class="form-group">
                <label class="col-md-2 col-form-label">start_date</label>
                <div class="col-md-10">
                  <input type="date" class="form-control" :value="'2019-08-03'" v-model="attribute.data.start_date">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 col-form-label">end_date</label>
                <div class="col-md-10">
                  <input type="week" class="form-control" :value="'2019-W31'" v-model="attribute.data.end_date">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 col-form-label">datetime-local</label>
                <div class="col-md-10">
                  <input type="datetime-local" class="form-control" :value="attribute.data.datetime_local" v-model="attribute.data.datetime_local">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">help_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.help_text" v-model="attribute.help_text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">note</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.note" v-model="attribute.note">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">attribute_code</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.attribute_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">frontend_label</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.frontend_label">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">append_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.data.append_text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">before_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.data.before_text">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="attribute.is_required">
                  <label for="checkbox222">
                    is_required
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox222" type="checkbox" v-model="attribute.is_user_defined">
                  <label for="checkbox222">
                    is_user_defined
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox223" type="checkbox" v-model="attribute.is_unique">
                  <label for="checkbox222">
                    is_unique
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <media-field></media-field>

        </div>

      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div> <!-- end row -->
  {{attribute}}<br>
  {{attribute.data.options.split('\n')}}
</div> <!-- container -->
</template>

<script>
var MediaField = httpVueLoader('/vue/fields/media.vue')
module.exports = {
  components: {
    MediaField
  },
  props: ['attribute_id', 'permalink'],
  data() {
    return {
      attribute: {
        "attribute_code": null,
        "backend_type": null,
        "frontend_input": "text",
        "frontend_label": null,
        "frontend_class": null,
        "is_required": true,
        "is_relational": false,
        "is_user_defined": true,
        "default_value": null,
        "is_unique": false,
        "note": null,
        data: {
          "options": "ben\nsen\nonlar\nsunlar\nbunlar"
        }
      }
    };
  },
  methods: {
    saveAttribute() {
      this.post(window.api_url + "/add_attribute", this.attribute, (response) => {
        console.log(response);

      })
    }
  },
  created() {
    console.log(this.permalink)
    fetch(window.api_url + "/attribute/" + this.attribute_id)
      .then(response => {
        return response.json();
      })
      .then(response => {

        console.log(response);

      })
      .catch(error => {
        console.log("Request failed", error);
      });
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
