<template>
<div class="container-fluid">

    <h4 class="m-b-20 header-title">Add Taxonomy</h4>
    <div class="row">
        <div class="col-md-9">

        </div>

        <div class="col-md-3">


        </div>
        <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" style="float: right; margin: 10px;" @click="savePost">Add Taxonomy</button>
    </div>

    <div class="col-md-12">

        Bu sayfanın düzgünce çalışabilmesi için yapılması gerekenler.
        <br>
        Form grupları oluşturulacak.
        <br>
        Form gruplarına içinde kullanılacak attribute/form elemanı eklenecek.
        <div class="">
            <pre>

            </pre>

        </div>
    </div>


</div> <!-- end row -->
</template>

<script>
var DemoFields = httpVueLoader('vue/fields/demo-fields.vue');
module.exports = {
    components: {
        DemoFields
    },
    props: ['entity_type', 'permalink'],
    data() {
        return {
            previewImage: null,
            taxonomyTerms: {},
            posta: {
                terms: {},
                selectedTerm: 0,
                status: "pending",
                attributes: {}
            },
            formData: {
                title: {},
                attributes: {}
            }
        };
    },
    methods: {
        refreshForm(res) {
            console.log(res);
            this.posta.selectedTerm = res
            this.getGroupDetail()
        },

        savePost() {
            this.posta.attributes = this.$root.currentInsertTypeForm
            this.post(window.api_url + "/add_content/" + this.entity_type + '?api_token=gokhan', this.posta, (response) => {
                console.log(response);

            })
        },
        getGroupDetail() {
            let queryParams = {
                entity: this.entity_type,
                terms: this.posta.selectedTerm
            };

            const searchParams = new URLSearchParams(queryParams);
            this.get(window.api_url + "/getSearchGroup?" + searchParams.toString(), (response) => {
                console.log(response);
                if (Array.isArray(response)) {

                    this.formData.attributes = response
                }
            })
        },
    },
    created() {
        //this.getGroupDetail()

    }
}
</script>

<style>
.col-md-3 .form-group .col-md-2,
.col-md-3 .form-group .col-sm-2 {
    width: 100% !important;
    max-width: 100%;
}
</style>
