<template>
<router-view></router-view>
</template>

<script>
module.exports = {

  data() {
    return {
      posts: [],
      brands: []
    };
  },
  methods: {
    linkGo(path) {
      this.$router.push(path);
    }

  },
  beforeUpdate() {},
  updated() {},
  created() {
    //this.getBrands(15)
  },
  beforeCreate() {},
  mounted() {
    //this.getKarsilastirma();

  },
  filters: {},
  components: {
    'sidebar-marka': Sidebar
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
