<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="header-title m-t-0 m-b-20">Welcome !</h4>
        </div>
      </div>







      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h6 class="m-t-0">Entities</h6>
            <div class="table-responsive">
              <table class="table table-hover mails m-0 table table-actions-bar">
                <thead>
                  <tr>
                    <th style="min-width: 95px;">
                      <div class="checkbox checkbox-primary checkbox-single m-r-15">
                        <input id="action-checkbox" type="checkbox">
                        <label for="action-checkbox"></label>
                      </div>
                    </th>
                    <th>attribute_set_name</th>
                    <th>entity_type_id</th>
                    <th>..</th>
                    <th>..</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(post, pi) in posts" :key="pi">
                    <td>
                      <div class="checkbox checkbox-primary m-r-15">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2"></label>
                      </div>{{post.attribute_set_id}}</td>

                    <td  @click="$router.push('/post/' + post.attribute_set_id)">
                      {{post.attribute_set_name}}
                    </td>

                    <td>
                      <a href="#" class="text-muted">{{post.entity_type_id}}</a>
                    </td>

                    <td>
                      <b><a href="" class="text-dark"><b>356</b></a> </b>
                    </td>

                    <td>
                      01/11/2003
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
      posts: [],
      brands: []
    };
  },
  methods: {

getEntities(){
         this.get(window.api_url  + "/attribute_set", (response) => {
                    this.posts = response
            })

},

},
beforeUpdate() {},
updated() {},
created() {
},
beforeCreate() {
},
mounted() {
    this.getEntities()
},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

