<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Attribute Groups</h4>
      </div>
    </div>







    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <h6 class="m-t-0">Groups
            <div class="ss">
                          <div class="col-md-3 form-group" style="float: right; padding: 10px;">
              <div class="col-md-10">
                <select class="form-control" v-model="selectedAttrGroup">
                  <option v-for="(entty, ei) in _.sortBy($root.entities, 'entity_code')" :value="entty.id">{{entty.entity_code}}_{{entty.type_code}}</option>

                </select>
              </div>
            </div>
            <button type="button"  style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/group/0')">New Group</button>
            <button type="button"  style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" data-toggle="modal" data-target="#myModal">Add Group Modal</button>
            </div>

          </h6>

          <!-- grup ayarları modal -->
          <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Grup Ayarları</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                 <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-md-2 col-form-label">GroupName</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 col-form-label">Group Açıklaması</label>
                    <div class="col-md-10">
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 col-form-label">PostTypes</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" placeholder="post, classified, article">
                    </div>
                  </div>




                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.grup ayarları modal -->

        <div class="table-responsive">
          <table class="table table-hover mails m-0 table table-actions-bar">
            <thead>
              <tr>
                <th style="min-width: 95px;">
                  <div class="checkbox checkbox-primary checkbox-single m-r-15">
                    <input id="action-checkbox" type="checkbox">
                    <label for="action-checkbox"></label>
                  </div>
                </th>
                <th>Name</th>
                <th>Code</th>
                <th>entity_code</th>
                <th>type_code</th>
                <th>status</th>
                <th>Settings</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(post, pi) in selectedAttrGroup ? posts:posts.slice(0, 50)" :key="pi" v-if="selectedAttrGroup ? post.entity_type_id == selectedAttrGroup : true">
                <td>
                  <div class="checkbox checkbox-primary m-r-15">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2"></label>
                  </div>
                  {{post.attribute_group_id}}
                </td>

                <td>
                  {{post.attribute_group_name}}
                </td>
                <td>
                  {{post.attribute_group_code}}
                </td>

                <td>
                  {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].entity_code :  post.entity_type_id}}
                </td>
                <td>
                  {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].type_code :  post.entity_type_id}}
                </td>
                <td>
                  {{post.status}}
                </td>
                <td>
                  <b @click="$router.push('/attributes/group/' + post.attribute_group_id)">Edit</b>
                </td>


              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
        selectedAttrGroup: '',
        posts: [],
        brands: []
      };
    },
    methods: {

      getEntities(){
       this.get(window.api_url  + "/attribute_group", (response) => {
        this.posts = response
      })

     },

   },
   beforeUpdate() {},
   updated() {},
   created() {
   },
   beforeCreate() {
   },
   mounted() {
    this.getEntities()
  },
  filters: {},
  components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

