<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="header-title m-t-0 m-b-20">Welcome !</h4>
        </div>
      </div>







      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h6 class="m-t-0">Attributes
                          <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/add-attribute')">Add Attribute</button>

            </h6>
            <div class="table-responsive">
              <table class="table table-hover mails m-0 table table-actions-bar">
                <thead>
                  <tr>
                    <th style="min-width: 95px;">
                      <div class="checkbox checkbox-primary checkbox-single m-r-15">
                        <input id="action-checkbox" type="checkbox">
                        <label for="action-checkbox"></label>
                      </div> ID
                    </th>
                    <th>attribute_code</th>
                    <th>frontend_label</th>
                    <th>frontend_input</th>
                    <th>field_type</th>
                    <th>entity_code</th>
                    <th>type_code</th>
                    <th>settings</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(post, pi) in posts" :key="pi">
                    <td>
                      <div class="checkbox checkbox-primary m-r-15">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2"></label>
                      </div>{{post.attribute_id}}</td>

                    <td>
                      {{post.attribute_code}}
                    </td>

                    <td>
                      {{post.frontend_label}}
                    </td>
                    <td>
                      {{post.frontend_input}}
                    </td>
                    <td>
                      {{post.field_type}}
                    </td>
                    <td>
                      {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].entity_code : post.entity_type_id}}
                    </td>
                    <td>
                      {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].type_code : post.entity_type_id}}
                    </td>



                    <td >
                      <b @click="$router.push('/attributes/show/' + post.attribute_id)">edit</b>|<b>clone</b>|<b>trash</b>
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
      posts: [],
      brands: []
    };
  },
  methods: {

getEntities(){
         this.get(window.api_url  + "/attributes", (response) => {
                    this.posts = response
            })

},

},
beforeUpdate() {},
updated() {},
created() {
},
beforeCreate() {
},
mounted() {
    this.getEntities()
},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

