<template>
<div>

<div class="row">
              <div class="col-lg-3" v-for="(post, mi) in posts" :key="mi">
                <div class="card">
                  <div class="card-img-actions mx-1 mt-1">
                    <a  href="javascript:;" @click="$router.push('/post/' + post.id)" data-popup="lightbox">
                      <img :src="post.content.resimler ? post.content.resimler[0] : '../../../../global_assets/images/placeholders/placeholder.jpg'" class="img-fluid card-img max-img-height-md-300" alt="">
                            <span class="card-img-actions-overlay card-img">
                          <i class="icon-plus3 icon-2x"></i>
                        </span>
                    </a>
                  </div>

                  <div class="card-body">
                    <div class="mb-3">
                      <h6 class="d-flex font-weight-semibold flex-nowrap mb-0">
                        <a href="javascript:;" @click="$router.push('/post/' + post.id)" :data-slug="'post/' + post.id" class="text-default mr-2 short-title-md-3">{{post.title ? post.title : ''}}</a>
                        <span class="text-success ml-auto">$200</span>
                      </h6>

                      <ul class="list-inline list-inline-dotted text-muted mb-0">
                        <li class="list-inline-item">By <a href="#" class="text-muted">Mark Staters</a></li>
                        <li class="list-inline-item">Oct 26th, 2016</li>
                      </ul>
                    </div>
                  </div>

                  <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                    <ul class="list-inline list-inline-dotted mb-0">
                      <li class="list-inline-item"><i class="icon-users mr-2"></i> 64</li>
                      <li class="list-inline-item"><i class="icon-alarm mr-2"></i> 60 hours</li>
                    </ul>

                    <div class="mt-2 mt-sm-0">
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <span class="text-muted ml-1">(654)</span>
                    </div>
                  </div>
                </div>
              </div>

            <div v-if="0" class="col-xl-3 col-sm-6 hide" v-for="(post, mi) in posts" :key="mi">
                <div class="card">
                  <div class="card-body">
                    <div class="card-img-actions">
                      <a href="javascript:;" @click="$router.push('/post/' + post.id)" data-popup="lightbox">
                        <img :src="post.content.resimler ? post.content.resimler[0] : '../../../../global_assets/images/placeholders/placeholder.jpg'" class="card-img max-img-height-md-300" width="96" alt="">
                        <span class="card-img-actions-overlay card-img">
                          <i class="icon-plus3 icon-2x"></i>
                        </span>
                      </a>
                    </div>
                  </div>

                  <div class="card-body bg-light text-center">
                    <div class="mb-2">
                      <h6 class="font-weight-semibold mb-0">
                        <a href="javascript:;" class="text-default short-title-md-3" @click="$router.push('/post/' + post.id)" :data-slug="'post/' + post.id">{{post.title ? post.title : ''}}</a>
                      </h6>

                      <a href="#" class="text-muted">Men's Accessories</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$49.99</h3>

                    <div>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">85 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                  </div>
                </div>





            </div>
              </div>
</div>
</template>

<script>

  module.exports = {
    props: ['marka_id'],
    data() {
      return {
      posts: [] // selected user data. Place this here to make sure it's reactive.
    };
  },
  methods: {
    getKarsilastirma(){
        fetch(window.api_url + "/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
    getWp(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
    }
},
beforeUpdate() {},
updated() {},
created() {},
beforeCreate() {
},
mounted() {
  this.getKarsilastirma();

},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

