<template>
<div v-if="routeTest">
  <div class="breadcrumb">
    <a href="../full/index.html" class="breadcrumb-item">
    <i class="icon-home2 mr-2"></i> Home
    </a> 
    <a v-for="(link, key) in breadCrumbs" :href="key" class="breadcrumb-item" >{{link}}</a> 
  </div>

{{Object.values(breadCrumbs).join(' > ')}}
<div class="row">
              <div class="col-lg-3" v-for="(post, mi) in posts" :key="mi">
                <div class="card">
                  <div class="card-img-actions mx-1 mt-1">
                    <a  href="javascript:;" @click="$router.push('/post/' + post.entity_id)" data-popup="lightbox">
                      <img :src="post.attributes.resimler ? post.attributes.resimler[0] : '../../../../global_assets/images/placeholders/placeholder.jpg'" class="img-fluid card-img max-img-height-md-300" alt="">
                            <span class="card-img-actions-overlay card-img">
                          <i class="icon-plus3 icon-2x"></i>
                        </span>
                    </a>
                  </div>

                  <div class="card-body">
                    <div class="mb-3">
                      <h6 class="d-flex font-weight-semibold flex-nowrap mb-0">
                        <a href="javascript:;" @click="$router.push('/telefon/' + post.slug + '-p-' + post.entity_id + '.html')" :data-slug="'post/' + post.entity_id" class="text-default mr-2 short-title-md-3">{{post.title ? post.title : ''}}</a>
                        <span class="text-success ml-auto">$200</span>
                      </h6>

                      <ul class="list-inline list-inline-dotted text-muted mb-0">
                        <li class="list-inline-item">By <a href="#" class="text-muted">Mark Staters</a></li>
                        <li class="list-inline-item">Oct 26th, 2016</li>
                      </ul>
                    </div>
                  </div>

                  <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                    <ul class="list-inline list-inline-dotted mb-0">
                      <li class="list-inline-item"><i class="icon-users mr-2"></i> 64</li>
                      <li class="list-inline-item"><i class="icon-alarm mr-2"></i> 60 hours</li>
                    </ul>

                    <div class="mt-2 mt-sm-0">
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <span class="text-muted ml-1">(654)</span>
                    </div>
                  </div>
                </div>
              </div>

            <div v-if="0" class="col-xl-3 col-sm-6 hide" v-for="(post, mi) in posts" :key="mi">
                <div class="card">
                  <div class="card-body">
                    <div class="card-img-actions">
                      <a href="javascript:;" @click="$router.push('/post/' + post.entity_id)" data-popup="lightbox">
                        <img :src="post.attributes.resimler ? post.attributes.resimler[0] : '../../../../global_assets/images/placeholders/placeholder.jpg'" class="card-img max-img-height-md-300" width="96" alt="">
                        <span class="card-img-actions-overlay card-img">
                          <i class="icon-plus3 icon-2x"></i>
                        </span>
                      </a>
                    </div>
                  </div>

                  <div class="card-body bg-light text-center">
                    <div class="mb-2">
                      <h6 class="font-weight-semibold mb-0">
                        <a href="javascript:;" class="text-default short-title-md-3" @click="$router.push('/post/' + post.entity_id)" :data-slug="'post/' + post.entity_id">{{post.title ? post.title : ''}}</a>
                      </h6>

                      <a href="#" class="text-muted">Men's Accessories</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$49.99</h3>

                    <div>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                      <i class="icon-star-full2 font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">85 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                  </div>
                </div>





            </div>
              </div>
</div>
</template>

<script>

  module.exports = {
    name: 'category',
    props: ['level_1','level_2'],
  computed: {
    routeTest() {
        console.log(this.level_1,this.level_2)
  let cats = [this.level_1,this.level_2].filter(x => x)
this.getwikiProduct('/init-data2/' + cats.slice(-1)[0]);
    //  this.getwikiProduct('/term/' + [this.level_1,this.level_2].join('/').toLowerCase())
      return this.level_1;
    }
  },
    data() {
      return {
        breadCrumbs:{},
      posts: [] // selected user data. Place this here to make sure it's reactive.
    };
  },
  methods: {
    getKarsilastirma(){

        fetch(window.api_url + "/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
getwikiProduct(path = 0){
  this.posts = []
        fetch(window.api_url  + path)
  .then(response => {
    return response.json();
  })
  .then(data => {

    this.posts = data.entities
    this.breadCrumbs = data.term.bread_crumb
            document.title = data.term.name
        document.querySelector('meta[name="description"]').setAttribute("content", data.term.name + ' hakkında özellik bilgisi...');
        document.querySelector('.page-title span.font-weight-semibold').innerText = data.term.name
    console.log(data.entities);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
    getWp(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
    }
},
beforeUpdate() {},
updated() {},
created() {


},
beforeCreate() {
},
mounted() {
  console.log(this.level_1,this.level_2)

  //this.getKarsilastirma();

},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

