<template>
    <div class="container-fluid" v-if="getTaxonomyId">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="header-title m-t-0 m-b-20">{{$root.entities[catId].type_code}}</h4>
                <button @click="$router.push('/add_taxonomy/' + catId)" type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10">Add Taxonomy</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group" v-if="!catId">
                        <label class="col-md-3 col-form-label">Assign To Entity</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <optgroup v-for="(entity, key) in _.groupBy(_.values($root.entities), 'entity_code')" :label="key">
                                    <option v-for="(entityType, ek) in entity" :value="entityType.id">{{entityType.type_code}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-form-label">Term Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" v-model="taxonomyForm.attribute_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-form-label">slug</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" v-model="taxonomyForm.frontend_label">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-form-label">açıklama</label>
                        <div class="col-md-10">
                            <textarea id="w3mission" rows="4" cols="50" class="form-control" v-model="taxonomyForm.aciklama"></textarea>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary waves-effect waves-light" @click="addTerm()">Add Term</button>
            </div>
            <div class="col-sm-8">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-hover mails m-0 table table-actions-bar">
                            <thead>
                                <tr>
                                    <th style="min-width: 95px;">variant_id</th>
                                    <th>name</th>
                                    <th>entity_type_code</th>
                                    <th>parent_id</th>
                                    <th>settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(cat, ci) in catId ? _.groupBy(categories, 'term_type_id')[catId] : categories.slice(0, 20)" :key="ci">
                                    <td>
                                        {{cat.variant_id}}
                                    </td>
                                    <td>
                                        {{cat.name}}
                                    </td>
                                    <td>
                                        {{cat.entity_type_code}}
                                    </td>
                                    <td>
                                        {{cat.parent_id}}
                                    </td>
                                    <td>
                                        edit
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <pre>
            {{taxonomyForm}}
        </pre>
    </div> <!-- container -->
</template>
<script>
module.exports = {
    props: ['catId'],

    data() {
        return {
            categories: [],
            brands: [],
            taxonomyForm: {},
        };
    },
    computed: {
        getTaxonomyId(){
            this.getTerms();
            return this.catId
        }
    },
    methods: {

        getTerms() {
            this.get(window.api_url + "/terms", (response) => {
                this.categories = response

                console.log(response);
            })

        },
        addTerm() {
            this.post(window.api_url + "/add_taxonomy", {termTypeId : this.catId, termName: this.taxonomyForm.attribute_code, parent_id: 0}, (response) => {
this.getTerms();

                console.log(response);
            })

        },

    },
    beforeUpdate() {},
    updated() {},
    created() {
        // this.getBrands(15)
    },
    beforeCreate() {},
    mounted() {

    },
    filters: {},
    components: {}
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
