<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Show Attribute</h4>

      <div class="row">
        <div class="col-md-6">
          <form class="form-horizontal" role="form">

            <div class="form-group hide">
              <label class="col-md-2 col-form-label">Assign To Entity</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.entity_type_id">
                  <optgroup label="Content">
                    <option value="24">Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Product</option>
                    <option>Dernek Merkezi</option>
                    <option>Dernek Şube</option>
                    <option>Kurs Odemeleri</option>
                    <option>Kurs Ogretmenler</option>
                    <option>Kurs Ogrenci</option>
                    <option>Dernek Kantini</option>
                    <option>Dernek Kantin Ödeme</option>
                  </optgroup>

                  <optgroup label="Taxonomy">
                    <option>Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Brand</option>
                  </optgroup>
                  <optgroup label="Comment">
                    <option>Article</option>
                    <option>Classified</option>
                    <option>News</option>
                    <option>Product</option>
                    <option>Review</option>
                  </optgroup>
                  <optgroup label="User">
                    <option>Admin</option>
                    <option>Member</option>
                    <option>Subscriber</option>
                    <option>Moderator</option>
                  </optgroup>
                  <optgroup label="Media">
                    <option>Image</option>
                    <option>Doc</option>
                    <option>Video</option>
                    <option>Gallery</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">Field Type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.field_type">
                  <optgroup label="Basic">
                    <option value="text" selected="selected">Text</option>
                    <option value="textarea">Text Area</option>
                    <option value="number">Number</option>
                    <option value="range">Range</option>
                    <option value="email">Email</option>
                    <option value="url">Url</option>
                    <option value="password">Password</option>
                    <option value="price">Price</option>
                    <option value="float">Float</option>
                    <option value="double">Double</option>
                    <option value="hidden">Hidden</option>
                  </optgroup>
                  <optgroup label="Content">
                    <option value="image">Image</option>
                    <option value="file">File</option>
                    <option value="wysiwyg">Wysiwyg Editor</option>
                    <option value="oembed">oEmbed</option>
                  </optgroup>
                  <optgroup label="Choice">
                    <option value="select">Select</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="radio">Radio Button</option>
                    <option value="button_group">Button Group</option>
                    <option value="true_false">True / False</option>
                  </optgroup>
                  <optgroup label="Relational">
                    <option value="content">Contents</option>
                    <option value="media">Media</option>
                    <option value="relationship">Relationship</option>
                    <option value="taxonomy">Taxonomy</option>
                    <option value="user">User</option>
                  </optgroup>
                  <optgroup label="Custom">
                    <option value="google_map">Google Map</option>
                    <option value="date_picker">Date Picker</option>
                    <option value="date_time_picker">Date Time Picker</option>
                    <option value="time_picker">Time Picker</option>
                    <option value="color_picker">Color Picker</option>
                  </optgroup>
                  <optgroup label="Layout">
                    <option value="message">Message</option>
                    <option value="accordion">Accordion</option>
                    <option value="tab">Tab</option>
                    <option value="group">Group</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">Attribute Code</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.attribute_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">Frontend Label</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="attribute.frontend_label">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">Instructions</label>
              <div class="col-md-10">
                <textarea class="form-control" :value="attribute.help_text" v-model="attribute.help_text"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">Note</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.note" v-model="attribute.note">
              </div>
            </div>



            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="attribute.is_required">
                  <label for="checkbox222">
                    is_required
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox222" type="checkbox" v-model="attribute.is_user_defined">
                  <label for="checkbox222">
                    is_user_defined
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox223" type="checkbox" v-model="attribute.is_unique">
                  <label for="checkbox222">
                    is_unique
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6">
            <media-field v-if="attribute.frontend_input == 'image'" v-on:set-data="res => attribute.data = res"></media-field>
            <text-field v-if="attribute.frontend_input == 'basic'" v-on:set-data="res => attribute.data = res"></text-field>
            <text-field v-if="attribute.frontend_input == 'text'" v-on:set-data="res => attribute.data = res"></text-field>
            <date-field v-if="attribute.frontend_input == 'date_picker'" v-on:set-data="res => attribute.data = res"></date-field>
            <term-field v-if="attribute.frontend_input == 'taxonomy'" v-on:set-data="res => attribute.data = res"></term-field>
            <select-field v-if="attribute.frontend_input == 'select'" v-on:set-data="res => attribute.data = res"></select-field>

        </div>

      </div>
      <!-- end row -->
                <button type="button" class="btn btn-primary waves-effect waves-light" @click="saveAttribute">Save changes</button>

    </div> <!-- end col -->
  </div> <!-- end row -->
  <pre>
  {{attribute}}<br>
  </pre>
</div> <!-- container -->
</template>

<script>
//https://vuejs.org/v2/guide/components-custom-events.html
var MediaField = httpVueLoader('vue/fields/media.vue')
var TermField = httpVueLoader('vue/fields/term.vue')
var TextField = httpVueLoader('vue/fields/text.vue')
var DateField = httpVueLoader('vue/fields/date.vue')
var SelectField = httpVueLoader('vue/fields/select.vue')
module.exports = {
  components: {
    MediaField,TermField,TextField,DateField,SelectField
  },
  props: ['attribute_id'],
  data() {
    return {
      attribute: {
        "field_type": "text",
        "entity_type_id": 24,
        "attribute_code": null,
        "backend_type": null,
        "frontend_input": "text",
        "frontend_label": null,
        "frontend_class": null,
        "is_required": true,
        "is_relational": false,
        "is_user_defined": true,
        "default_value": null,
        "is_unique": false,
        "note": null,
        "data": {}
      }
    };
  },
  methods: {
    saveAttribute() {
      this.post(window.api_url + "/add_attribute", this.attribute, (response) => {
        console.log(response);
      })
    },
    getAttribute() {
      this.get(window.api_url + "/attribute/" + this.attribute_id, (response) => {
          this.attribute = response;
        console.log(response);
      })
    }
  },
  created() {
    this.getAttribute()
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
