<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="header-title m-t-0 m-b-20">Entity: {{entity.entity_code}}:{{entity.type_code}}
            </div>
        </div>
        <div class="m-t-30">
            <ul class="nav nav-tabs tabs-bordered">
                <li class="nav-item">
                    <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        Entity Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                        Groups
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#profile-b2" data-toggle="tab" aria-expanded="true" class="nav-link">
                        Attributes
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home-b1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-md-2 col-form-label">Entity Code</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" v-model="entity.entity_code">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 col-form-label">Type Code</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" v-model="entity.type_code">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 col-form-label">Entity açıklamsı</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" rows="5" v-model="entity.entity_decsription">Entity açıklamsı.</textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group hide">
                                            <label class="col-md-2 col-form-label">tab_group_code</label>
                                            <div class="col-md-10">
                                                <select class="form-control">
                                                    <option>basic</option>
                                                    <option>advanced</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group hide">
                                            <label class="col-md-2 col-form-label">sort_order</label>
                                            <div class="col-md-10">
                                                <select class="form-control">
                                                    <option>10</option>
                                                    <option>20</option>
                                                    <option>50</option>
                                                    <option>60</option>
                                                    <option>80</option>
                                                    <option>100</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 col-form-label">Status</label>
                                            <div class="col-md-10">
                                                <select class="form-control m-b-20">
                                                    <option value="1">Active</option>
                                                    <option value="0">Passive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <div class="checkbox checkbox-info">
                                                    <input id="checkbox221" type="checkbox">
                                                    <label for="checkbox222">
                                                        is_extendable
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <div class="checkbox checkbox-info">
                                                    <input id="checkbox221" type="checkbox">
                                                    <label for="checkbox222">
                                                        show_menu
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group hide">
                                            <label class="col-md-2 col-form-label">Gizle</label>
                                            <div class="col-md-10">
                                                <select multiple class="form-control m-b-20">
                                                    <option>Hiç Biri</option>
                                                    <option>Tümü</option>
                                                </select>
                                                <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-primary btn-block" @click="updateGroup()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile-b1">
                    <div class="card-box">
                        <h6 class="m-t-0"> Groups
                            <button @click="$router.push('/attributes/group/0')" type="button" class="btn btn-primary m-t-10" style="float: right;margin: 10px;">Add Group</button>
                        </h6>
                        <h6 class="m-t-0 hide"> Groups
                            <button type="button" class="btn btn-primary m-t-10" style="float: right;margin: 10px;">Settings Group</button>
                            <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" data-toggle="modal" data-target="#myModal">Add Group</button>
                        </h6>
                        <!-- grup ayarları modal -->
                        <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Grup Ayarları</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">GroupName</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">Group Açıklaması</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">PostTypes</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" placeholder="post, classified, article">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.grup ayarları modal -->
                        <!-- show attributes -->
                        <div id="attributesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Group Attributes</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Text in a modal</h6>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                        <hr>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">Title</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" value="Some text value...">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">Content</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-form-label">Tags</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" placeholder="healthy, cancer, etc">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.grup ayarları modal -->
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th style="min-width: 95px;">
                                            <div class="checkbox checkbox-primary checkbox-single m-r-15">
                                                <input id="action-checkbox" type="checkbox">
                                                <label for="action-checkbox">ID</label>
                                            </div>
                                        </th>
                                        <th>attribute_group_name</th>
                                        <th>attribute_group_name</th>
                                        <th>entity_type_id</th>
                                        <th>is_primary</th>
                                        <th>sort_order</th>
                                        <th>Attrs</th>
                                        <th>settings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(post, pi) in groups" :key="pi">
                                        <td>
                                            <div class="checkbox checkbox-primary m-r-15">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2"></label>
                                            </div>
                                            {{post.attribute_group_id}}
                                        </td>
                                        <td>
                                            {{post.attribute_group_code}}
                                        </td>
                                        <td>
                                            {{post.attribute_group_name}}
                                        </td>
                                        <td>
                                            {{post.entity_type_id}}
                                        </td>
                                        <td>
                                            {{post.is_primary}}
                                        </td>
                                        <td>
                                            {{post.sort_order}}
                                        </td>
                                        <td>
                                            {{JSON.parse(post.selected_attributes).length}}
                                        </td>
                                        <td>
                                            <b @click="$router.push('/attributes/group/' + post.attribute_group_id)">Settings Group</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile-b2">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h6 class="m-t-0">Attributes
                                <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/add-attribute')">Add Attribute</button>
                            </h6>
                            <div class="table-responsive">
                                <table class="table table-hover mails m-0 table table-actions-bar">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 95px;">
                                                <div class="checkbox checkbox-primary checkbox-single m-r-15">
                                                    <input id="action-checkbox" type="checkbox">
                                                    <label for="action-checkbox"></label>
                                                </div> ID
                                            </th>
                                            <th>attribute_code</th>
                                            <th>attribute_group_id</th>
                                            <th>frontend_label</th>
                                            <th>frontend_input</th>
                                            <th>field_type</th>
                                            <th>entity_code</th>
                                            <th>type_code</th>
                                            <th>settings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(post, pi) in attributes" :key="pi">
                                            <td>
                                                <div class="checkbox checkbox-primary m-r-15">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2"></label>
                                                </div>{{post.attribute_id}}
                                            </td>
                                            <td>
                                                {{post.attribute_code}}
                                            </td>
                                            <td>
                                                {{post.attribute_group_id}}
                                            </td>
                                            <td>
                                                {{post.frontend_label}}
                                            </td>
                                            <td>
                                                {{post.frontend_input}}
                                            </td>
                                            <td>
                                                {{post.field_type}}
                                            </td>
                                            <td>
                                                {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].entity_code : post.entity_type_id}}
                                            </td>
                                            <td>
                                                {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].type_code : post.entity_type_id}}
                                            </td>
                                            <td>
                                                <b @click="$router.push('/attributes/show/' + post.attribute_id)">edit</b>|<b>clone</b>|<b>trash</b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</template>
<script>
module.exports = {
    props: ['entity_type', 'permalink'],
    data() {
        return {
            entity: {},
            attributes: [],
            groups: [],
        };
    },
    methods: {

    },
    created() {
        console.log(this.permalink)
        fetch(window.api_url + "/entity/" + this.entity_type)
            .then(response => {
                return response.json();
            })
            .then(data => {
                this.entity = data
                this.attributes = data.attributes
                this.groups = data.groups
                console.log(data)
            })
            .catch(error => {
                console.log("Request failed", error);
            });
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
