<template>
          <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="m-b-20 header-title">Attribute Set 01</h4>

                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-md-2 col-form-label">Title</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" value="Some text value...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-form-label">Content</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-form-label">Tags</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="healthy, cancer, etc">
                                    </div>
                                </div>




                            </form>
                        </div>

                        <div class="col-md-4">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-md-2 col-form-label">Post Type</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" readonly="" value="Article">
                                        <span class="help-block"><small>A block of help text that breaks onto a new line and may extend beyond one line.</small></span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Entity Id</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">54654sd564c56s45d45s</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Kategori</label>
                                    <div class="col-sm-10">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <h6 class="font-13 mt-3">Alt Kategori</h6>
                                        <select multiple="" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                    <!-- end row -->

                    <div class="row m-b-20 p-t-50">
                        <div class="col-md-6">
                            <h6 class="m-t-0 header-title font-14"><b>Ekran Özellikleri</b></h6>
                            <p class="text-muted m-b-30 font-13">
                                Bootstrap includes validation styles for error, warning, and success states on form controls.
                            </p>

                            <form class="form-horizontal" role="form">

                                <div class="form-group has-success row">
                                    <label class="col-md-3 col-form-label" for="state-success">Success</label>
                                    <div class="col-md-6">
                                        <input type="text" id="state-success" name="state-success" class="form-control" placeholder="...">
                                    </div>
                                </div>


                                <div class="form-group has-warning row">
                                    <label class="col-md-3 col-form-label" for="state-warning">Warning</label>
                                    <div class="col-md-6">
                                        <input type="text" id="state-warning" name="state-warning" class="form-control" placeholder="...">
                                    </div>
                                </div>

                                <div class="form-group has-error row">
                                    <label class="col-md-3 col-form-label" for="state-danger">Danger</label>
                                    <div class="col-md-6">
                                        <input type="text" id="state-danger" name="state-danger" class="form-control" placeholder="...">
                                    </div>
                                </div>

                            </form>
                        </div>


                        <div class="col-md-6">
                            <h6 class="m-t-0 header-title font-14"><b>Bağlantılar</b></h6>
                            <p class="text-muted m-b-30 font-13">
                                Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.
                            </p>

                            <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->


                    <h4 class="p-t-50 font-14 header-title"><b>Tasarım</b></h4>
                    <p class="text-muted m-b-30 font-13">
                        Extend form controls by adding text or buttons before, after, or on both sides of any text-based <code>&lt;input&gt;</code>. Use <code>.input-group</code> with an <code>.input-group-addon</code> or <code>.input-group-btn</code> to prepend or append elements to a single <code>.form-control</code>.
                    </p>

                    <div class="row">
                        <div class="col-md-4">
                                                        <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-md-4">
                                                                                   <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4">
                                                                                    <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end row -->


                    <div class="row p-t-50">
                        <div class="col-md-6 m-b-20">
                            <h4 class="m-b-20 font-14 header-title"><b>Genel Özellikler</b></h4>

                                                                                   <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6 m-b-20">
                            <h4 class="m-b-20 font-14 header-title"><b>Batarya</b></h4>

                                                                                  <form role="form" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="example-input-normal">Normal</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="example-input-normal" name="example-input-normal" class="form-control" placeholder="Normal">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- end row -->


                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container -->

</template>

<script>

  module.exports = {
    props: ['entity_type','permalink'],
    data() {
      return {
        post: {
          title:{},
          attributes:{}
        }
      };
    },
    methods: {

    },
    created(){
      console.log(this.permalink)
      fetch(window.api_url  +  "/entity/" + this.entity_type)
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data)
      })
      .catch(error => {
        console.log("Request failed", error);
      });
    }
  }
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

