<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="header-title m-t-0 m-b-20">Entity: {{entity.entity_code}}:{{entity.type_code}}
                </div>
            </div>
            <div class="m-t-30">
                <ul class="nav nav-tabs tabs-bordered">
                    <li class="nav-item">
                        <a href="#tab-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            Entity Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-b2" data-toggle="tab" aria-expanded="true" class="nav-link">
                            Default Groups
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-b3" data-toggle="tab" aria-expanded="true" class="nav-link">
                         External Groups
                     </a>
                 </li>
                 <li class="nav-item">
                    <a href="#tab-b4" data-toggle="tab" aria-expanded="true" class="nav-link">
                     All Attributes
                 </a>
             </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab-b1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-8">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 col-form-label">Entity Code</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" v-model="entity.entity_code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-form-label">Type Code</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" v-model="entity.type_code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-form-label">Entity açıklamsı</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="5" v-model="entity.entity_decsription">Entity açıklamsı.</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group hide">
                                        <label class="col-md-2 col-form-label">tab_group_code</label>
                                        <div class="col-md-10">
                                            <select class="form-control">
                                                <option>basic</option>
                                                <option>advanced</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-md-2 col-form-label">sort_order</label>
                                        <div class="col-md-10">
                                            <select class="form-control">
                                                <option>10</option>
                                                <option>20</option>
                                                <option>50</option>
                                                <option>60</option>
                                                <option>80</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-form-label">Status</label>
                                        <div class="col-md-10">
                                            <select class="form-control m-b-20">
                                                <option value="1">Active</option>
                                                <option value="0">Passive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox checkbox-info">
                                                <input id="checkbox221" type="checkbox">
                                                <label for="checkbox222">
                                                    is_extendable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox checkbox-info">
                                                <input id="checkbox221" type="checkbox">
                                                <label for="checkbox222">
                                                    show_menu
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-md-2 col-form-label">Gizle</label>
                                        <div class="col-md-10">
                                            <select multiple class="form-control m-b-20">
                                                <option>Hiç Biri</option>
                                                <option>Tümü</option>
                                            </select>
                                            <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-primary btn-block" @click="updateGroup()">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-b2">
                <div class="card-box">
                    <h6 class="m-t-0">Groups
                        <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/add-attribute-group/' + entity_type + '/0')">Add Group</button>
                        <button @click="saveAttrs()" type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10">Hepsini Kaydet</button>
                    </h6>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <template v-for="(group, gi) in _.sortBy(groups, 'sort_order')" v-if="group.is_primary == '1'">
                            <div class="card-box" :key="gi" :id="group.attribute_group_id">
                                <h6 class="m-t-0"> {{group.attribute_group_name}}
                                    <attribute-select-modal  v-if="1==0"></attribute-select-modal>
                                    <group-edit-modal v-if="1==0"></group-edit-modal>
                                    <from-group-modal :group="group" :group-id="group.attribute_group_id"></from-group-modal>
                                </h6>

                                <attribute-list :type="1" :attributes="group.attribute_fields" :group-id="group.attribute_group_id" v-on:set-attr="res => setAttr(res)"></attribute-list>
                            </div>
                        </template>
                    </div>
                    <div class="col-md-3">
                        <div class="card-box" style="    position: fixed;">
                            <attribute-list :type="2" :attributes="_.groupBy(attributes, 'attribute_group_id')[0]"></attribute-list>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="tab-pane" id="tab-b3">
                <div class="card-box">
                    <h6 class="m-t-0">External Groups ({{selectedTermId}})
                        <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/add-attribute-group/' + entity_type + '/0')">Add Group</button>
                        <button @click="saveAttrs()" type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10">Hepsini Kaydet</button>

                    </h6>
                   <select class="form-control" v-model="selectedEntity" v-on:change="selectedEntity = selectedEntity">
                    <template v-for="(entity, ti) in ['epey','cimri','product']">
                        <option  :value="entity">{{entity}}</option>
                    </template>
                </select>
                <select class="form-control" v-model="selectedTermId" v-on:change="selectedTermId = selectedTermId">
                    <template v-for="(term, ti) in _.sortBy($root.taxonomyTerms[selectedEntity], 'name')">
                        <option  :value="term.variant_id">{{term.name}}</option>
                    </template>
                </select>
                </div>
                <div class="row" v-if="selectedTermId && groups.length">
                    <div class="col-md-9">
                        <template v-for="(group, gi) in _.sortBy(groups, 'sort_order')">
                            <div  v-if="(group.places.terms[0] == selectedTermId)" class="card-box" :key="gi" :id="group.attribute_group_id">
                                <h6 class="m-t-0"> {{group.attribute_group_name}}


                                </h6>

                                <attribute-list :type="1" :attributes="group.attribute_fields" :group-id="group.attribute_group_id" v-on:set-attr="res => setAttr(res)"></attribute-list>
                            </div>
                        </template>
                    </div>
                    <div class="col-md-3">
                        <div class="card-box" style="    position: fixed;">
                            <attribute-list :type="2" :attributes="_.groupBy(attributes, 'attribute_group_id')[0]"></attribute-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-b4">
                <div class="card-box">
                    <h6 class="m-t-0">Attributes
                        <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/attributes/add-attribute/' + entity_type + '/0')">Add Attribute</button>
                    </h6>
                    <attribute-list :type="1" :attributes="attributes"></attribute-list>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
</template>
<script>
module.exports = {
    props: ['entity_type', 'permalink'],
    data() {
        return {
            selectedTermId: 0,
            selectedEntity: 'epey',
            entity: {},
            activeTerms: [],
            attributes: [],
            groups: [],
        };
    },
    methods: {
        setAttr(arr) {
            console.log('setAttr', arr)
            this.attributes = this.attributes.map((attr) => {
                //arr[0] && arr[1] &&
                if (attr.attribute_id == arr[0]) {
                    attr.attribute_group_id = arr[1]
                }
                return attr;

            })

        },
        saveAttrs() {
            let newObj = _.object(_.pluck(this.attributes, 'attribute_id'), _.pluck(this.attributes, 'attribute_group_id'));
            console.log(newObj)
            console.log(this.permalink)

            this.post(window.api_url + "/attach_attr", {attrs : newObj}, (res) => {
                console.log(res)
            })

        },
    },
    created() {
        console.log(this.permalink)
        fetch(window.api_url + "/entity/" + this.entity_type)
        .then(response => {
            return response.json();
        })
        .then(data => {
            this.entity = data
            this.attributes = data.attributes
            this.groups = data.groups
            this.activeTerms = data.groups.map((item) => {
                return item.places.terms[0]
            });
            setTimeout(()=> {

            console.log(this.activeTerms)
            },1000)
        })
        .catch(error => {
            console.log("Request failed", error);
        });
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
