<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="header-title m-t-0 m-b-20">Welcome !</h4>
        </div>
      </div>







      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h6 class="m-t-0">Entities</h6>
            <div class="table-responsive">
              <table class="table table-hover mails m-0 table table-actions-bar">
                <thead>
                  <tr>
                    <th style="min-width: 95px;">
                      <div class="checkbox checkbox-primary checkbox-single m-r-15">
                        <input id="action-checkbox" type="checkbox">
                        <label for="action-checkbox"></label>
                      </div> ID
                    </th>
                    <th>entity_code</th>
                    <th>type_code</th>
                    <th>parent_id</th>
                    <th>Tool</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(post, pi) in _.sortBy(posts,'entity_code')" :key="pi">
                    <td>
                      <div class="checkbox checkbox-primary m-r-15">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2"></label>
                      </div>{{post.id}}
                    </td>

                    <td>
                      {{post.entity_code}}
                    </td>

                    <td>
                     {{post.type_code}}
                    </td>

                    <td>
                     {{post.parent_id}}
                    </td>

                    <td>
                      <b @click="$router.push('/entity/' + post.id)">Show</b>
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
      posts: [],
      brands: []
    };
  },
  methods: {

getEntities(){
         this.get(window.api_url  + "/entities", (response) => {
                    this.posts = response
            })

},

},
beforeUpdate() {},
updated() {},
created() {
},
beforeCreate() {
},
mounted() {
    this.getEntities()
},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

