<template>
<div class="container-fluid" v-if="getEntityId">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="header-title m-t-0 m-b-20">{{entity_type ? _.indexBy($root.entities, 'id')[entity_type].type_code : ''}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h6 class="m-t-0">Entries

                    <button type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10" @click="$router.push('/entry/' + entity_type + '/add')">New {{entity_type}}</button>

                </h6>
                <div class="table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                            <tr>
                                <th style="min-width: 95px;">content_id</th>
                                <th>title</th>
                                <th>entity_status</th>
                                <th>settings</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="(post, pi) in posts" :key="pi">
                                <td>{{post.content_id}}</td>

                                <td>
                                    {{post.attributes.title}}
                                </td>

                                <td>
                                    {{post.entity_status}}
                                </td>

                                <td>
                                    <b @click="$router.push('/entry/' + entity_type + '/' + post.content_id)">edit </b>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
</template>

<script>
module.exports = {
    props: ['entity_type'],
    data() {
        return {
            posts: [],
            brands: []
        };
    },
    computed:{
        getEntityId(){
            this.getEntries()
            return this.entity_type
        }
    },
    methods: {

        getEntries() {
            this.get(window.api_url + "/contents/" + this.entity_type, (response) => {
                this.posts = response

                console.log(response);
            })

        },

        getTerms() {
            this.get(window.api_url + "/last10", (response) => {
                this.posts = response

                console.log(response);
            })

        },

    },
    beforeUpdate() {},
    updated() {},
    created() {
        // this.getBrands(15)
    },
    beforeCreate() {},
    mounted() {

    },
    filters: {},
    components: {}
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>
