<template>
<div class="container-fluid">

    <h4 class="m-b-20 header-title">Edit Entity</h4>
    <div class="row">
        <div class="col-md-9">
            <template v-for="(attrg, ak) in _.sortBy(_.groupBy(formData.attributes, 'set_group_id')[1], 'sort_order')">
                <div class="col-md-12">
                    <h6 class="m-t-0 header-title font-14" style="color:red;"><b>{{attrg.attribute_group_name}} {{attrg.is_primary}} </b></h6>
                    <p class="text-muted m-b-30 font-13">{{attrg.description || "grup aciklama metni"}}</p>

                    <form role="form" class="form-horizontal">

                        <template v-for="(attr, ak) in attrg.attributes" v-if="attrg.is_primary == '1'">
                            <demo-fields v-on:refresh="res => refreshForm(res)" :attr="attr"></demo-fields>
                        </template>

                    </form>

                </div>
            </template>
        </div>

        <div class="col-md-3">

            <template v-for="(attrg, ak) in _.sortBy(_.groupBy(formData.attributes, 'set_group_id')[2], 'sort_order')">
                <div class="col-md-12" v-if="attrg.is_primary">
                    <h6 class="m-t-0 header-title font-14" style="color:red;"><b>{{attrg.attribute_group_name}}</b></h6>
                    <p class="text-muted m-b-30 font-13">{{attrg.description || "grup aciklama metni"}}</p>

                    <form role="form" class="form-veritical">

                        <template v-for="(attr, ak) in attrg.attributes">
                            <demo-fields v-on:refresh="res => refreshForm(res)" :attr="attr"></demo-fields>
                        </template>

                    </form>

                </div>
            </template>
        </div>
        <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" style="float: right; margin: 10px;" @click="savePost">Save Post</button>
    </div>

    <div class="col-md-12">

        Bu sayfanın düzgünce çalışabilmesi için yapılması gerekenler.
        <br>
        Form grupları oluşturulacak.
        <br>
        Form gruplarına içinde kullanılacak attribute/form elemanı eklenecek.
        <div v-if="$root.currentInsertTypeForm.title" class="">
            <pre>
            {{this.$root.entities[this.entity_type].data.statuses}}
            </pre>
            <pre>
            {{this.posta}}
            </pre>
    <pre>
    {{$root.currentInsertTypeForm}}
    </pre>
        </div>
    </div>

</div> <!-- end row -->
</template>

<script>
var DemoFields = httpVueLoader('vue/fields/demo-fields.vue');
module.exports = {
    components: {
        DemoFields
    },
    props: ['entity_type', 'entry_id'],
    data() {
        return {
            previewImage: null,
            taxonomyTerms: {},
            posta: {
                terms: {},
                selectedTerm: 0,
                status: "pending",
                attributes: {}
            },
            formData: {
                title: {},
                attributes: {}
            }
        };
    },
    methods: {
                getEntries() {
            this.get(window.api_url + "/content/" + this.entry_id, (response) => {
               this.$root.currentInsertTypeForm = response.attributes
   this.getGroupDetail()
                console.log(response);
            })

        },
        refreshForm(res) {
            console.log(res);
            this.posta.selectedTerm = res
            this.getGroupDetail()
        },

        savePost() {
            this.posta.attributes = this.$root.currentInsertTypeForm
            this.post(window.api_url + "/add_content/" + this.entity_type + '?api_token=gokhan', this.posta, (response) => {
                console.log(response);

            })
        },
        getGroupDetail() {
            let queryParams = {
                entity: this.entity_type,
                terms: this.posta.selectedTerm || this.$root.currentInsertTypeForm.category
            };

            const searchParams = new URLSearchParams(queryParams);
            this.get(window.api_url + "/getSearchGroup?" + searchParams.toString(), (response) => {
                this.formData.attributes = response
            })
        },
    },
    created() {

this.getEntries()
    }
}
</script>

<style>
.col-md-3 .form-group .col-md-2,
.col-md-3 .form-group .col-sm-2 {
    width: 100% !important;
    max-width: 100%;
}
</style>
