<template>
  <div class="userList">
    <div class="left">
      <h2>Erken Liste</h2>
      <p>Buraya Tıkla: {{selectedUser}} </p>
      <ul>
        <li class="userLink" @click="loadUserData()">Erken Liste Çek</li>
      </ul>
    </div>

  </div>
</template>

<script>

module.exports = {
  data: function data() {
    return {
      selectedUser: {} // selected user data. Place this here to make sure it's reactive.
    };
  },
  methods: {
    loadUserData: function loadUserData() {

     let pdata = {"username" : "abc", "password" : "abc"}


    }
  }
}
</script>

<style>
</style>

