<template>
<div>

            <div v-for="(post, mi) in posts" :key="mi">
        <!-- Basic card -->
        <div class="card">
          <div class="card-header header-elements-inline">
            <h5 class="card-title">  <a @click="$router.push('/post/' + post.slug)" :data-slug="'post/' + post.slug">{{post.title ? post.title.rendered : ''}}</a> </h5>
            <div class="header-elements">
              <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                      </div>
                    </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Content</h6>
            <p class="mb-3" v-html="post.content.rendered.replace(/(<([^>]+)>)/ig,'')">{{post.content.rendered.replace(/(<([^>]+)>)/ig,"")}}</p>
          </div>
        </div>
        <!-- /basic card -->
            </div>
</div>
</template>

<script>

  module.exports = {

    data() {
      return {
      posts: [] // selected user data. Place this here to make sure it's reactive.
    };
  },
  methods: {
    getKarsilastirma(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
    getWp(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
    }
},
beforeUpdate() {},
updated() {},
created() {},
beforeCreate() {
  this.getKarsilastirma();
},
mounted() {

},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

