<template>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="header-title m-t-0 m-b-20">Welcome !</h4>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box widget-inline">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="widget-inline-box text-center">
                  <h3 class="m-t-10"><i class="text-primary mdi mdi-access-point-network"></i> <b>8954</b></h3>
                  <p class="text-muted">Lifetime total sales</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="widget-inline-box text-center">
                  <h3 class="m-t-10"><i class="text-custom mdi mdi-airplay"></i> <b>7841</b></h3>
                  <p class="text-muted">Income amounts</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="widget-inline-box text-center">
                  <h3 class="m-t-10"><i class="text-info mdi mdi-black-mesa"></i> <b>6521</b></h3>
                  <p class="text-muted">Total users</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="widget-inline-box text-center b-0">
                  <h3 class="m-t-10"><i class="text-danger mdi mdi-cellphone-link"></i> <b>325</b></h3>
                  <p class="text-muted">Total visits</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--end row -->


      <div class="row hide">
        <div class="col-lg-6">
          <div class="card-box">
            <h6 class="m-t-0">Total Revenue</h6>
            <div class="text-center">
              <ul class="list-inline chart-detail-list">
                <li class="list-inline-item">
                  <p class="font-normal"><i class="fa fa-circle m-r-10 text-primary"></i>Series A</p>
                </li>
                <li class="list-inline-item">
                  <p class="font-normal"><i class="fa fa-circle m-r-10 text-muted"></i>Series B</p>
                </li>
              </ul>
            </div>
            <div id="dashboard-bar-stacked" style="height: 300px;"></div>
          </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
          <div class="card-box">
            <h6 class="m-t-0">Sales Analytics</h6>
            <div class="text-center">
              <ul class="list-inline chart-detail-list">
                <li class="list-inline-item">
                  <p class="font-weight-bold"><i class="fa fa-circle m-r-10 text-primary"></i>Mobiles</p>
                </li>
                <li class="list-inline-item">
                  <p class="font-weight-bold"><i class="fa fa-circle m-r-10 text-info"></i>Tablets</p>
                </li>
              </ul>
            </div>
            <div id="dashboard-line-chart" style="height: 300px;"></div>
          </div>
        </div> <!-- end col -->
      </div> <!-- end row -->


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h6 class="m-t-0">Contacts</h6>
            <div class="table-responsive">
              <table class="table table-hover mails m-0 table table-actions-bar">
                <thead>
                  <tr>
                    <th style="min-width: 95px;">
                      <div class="checkbox checkbox-primary checkbox-single m-r-15">
                        <input id="action-checkbox" type="checkbox">
                        <label for="action-checkbox"></label>
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Products</th>
                    <th>Start Date</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(post, pi) in posts" :key="pi">
                    <td>
                      <div class="checkbox checkbox-primary m-r-15">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2"></label>
                      </div>

                      <img :src="post.attributes.resimler[0] || 'assets/images/users/avatar-2.jpg'" alt="contact-img" title="contact-img" class="rounded-circle thumb-sm" />
                    </td>

                    <td  @click="$router.push('/post/' + post.entity_id)">
                      {{post.title}}
                    </td>

                    <td>
                      <a href="#" class="text-muted">tomaslau@dummy.com</a>
                    </td>

                    <td>
                      <b><a href="" class="text-dark"><b>356</b></a> </b>
                    </td>

                    <td>
                      01/11/2003
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
      posts: [],
      brands: []
    };
  },
  methods: {
    getBrands(type_id){
        fetch(window.api_url  + "/terms/" + type_id)
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.brands = data
    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
getKarsilastirma(){
        fetch(window.api_url  + "/last10")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
    getWp(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
    }
},
beforeUpdate() {},
updated() {},
created() {
 // this.getBrands(15)
},
beforeCreate() {
},
mounted() {
  this.getKarsilastirma();

},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

