<template>
<div class="container-fluid">
<iframe src="/manage/adminer.php?sqlite=&username=admin&db=..%2F..%2Fdatabase%2Fprod.sqlite" frameborder="0" width="100vw" height="100vh"></iframe>
</div>
</template>

<script>

module.exports = {

  props: [],
  data() {
    return {

    };
  },
  methods: {
  },
  created() {

  }
}
</script>

<style>
iframe {
  width: 100vw;
  height: 95vh;
}
</style>
