<template>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 card-box">
                        <div class="text-center">
                            <h2 class="text-uppercase m-t-0 m-b-30">
                                <a href="index.html" class="text-success">
                                    <span><img src="assets/images/logo_dark.png" alt="" height="30"></span>
                                </a>
                            </h2>
                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                        </div>
                        <div class="account-content">
                            <form action="javascript:;" class="form-horizontal">

                                <div class="form-group m-b-20">
                                    <div class="col-xs-12">
                                        <label for="emailaddress">Email address</label>
                                        <input v-model="userData.email" class="form-control" type="email" id="emailaddress" required="" placeholder="john@deo.com">
                                    </div>
                                </div>

                                <div class="form-group m-b-20">
                                    <div class="col-xs-12">
                                        <a href="pages-forget-password.html" class="text-muted pull-right font-14">Forgot your password?</a>
                                        <label for="password">Password</label>
                                        <input v-model="userData.password" class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                                    </div>
                                </div>

                                <div class="form-group m-b-30">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox5" type="checkbox" v-model="userData.rememberme">
                                            <label for="checkbox5">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group account-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn btn-lg btn-primary btn-block" @click="login()">Sign In</button>
                                    </div>
                                </div>

                            </form>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- end card-box-->

                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="javascript:;" class="text-dark m-l-5" @click="$router.push('/')">Sign Up</a></p>
                        </div>
                    </div>

                </div>
                <!-- end wrapper -->
                <pre>{{userData}}</pre>
            </div>
        </div>
    </div>
</section>
</template>

<script>
module.exports = {
    data() {
        return {
            userData: {},
            selectedUser: 0
        };
    },
    methods: {
        login() {
            this.post(window.api_url + "/getLogin", this.userData, (response) => {
                localStorage.setItem('userData', JSON.stringify(response))
                if (this.$root.checkLogin()) {
                this.$router.push('/')
                } else {
                this.$router.push('/login')
             }

            })

        }
    }
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>
