<template>

        <!-- Basic card -->
        <div class="card">
          <div class="card-header header-elements-inline">
            <h5 class="card-title">    {{post.title ? post.title.rendered : ''}}</h5>
            <div class="header-elements">
              <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                      </div>
                    </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Content</h6>
            <p class="mb-3" v-html="post.content.rendered">{{post.content.rendered}}</p>
          </div>
        </div>
        <!-- /basic card -->

</template>

<script>

module.exports = {
    props: ['post_id'],
  data() {
    return {
      post: {
        title:{},
        content:{}
      }
    };
  },
  methods: {

},
created(){
    fetch("/data/posts.json")
  .then(response => {
    return response.json();
  })
  .then(data => {
   this.post =  _.indexBy(data,'slug')[this.post_id];
   document.title = this.post.title.rendered
   document.querySelector('meta[name="description"]').setAttribute("content", this.post.title.rendered + ' hakkında sağlık bilgisi...');
  })
  .catch(error => {
    console.log("Request failed", error);
  });
}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

