<template>
    <div class="container-fluid">
        <div>
            <div class="breadcrumb"><a href="../full/index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home
                </a> <a href="casio" class="breadcrumb-item">Casio</a></div>
            <div class="row">
                <div class="col-lg-6">


                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">EKRAN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Ekran</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ekran Boyutu</td>
                                        <td> 1.32 inç </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ekran Çözünürlüğü</td>
                                        <td> 320 x 300 piksel </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ekran Teknolojisi</td>
                                        <td> Çift Katmanlı (Dual-layer) (LCD) </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ekran Özellikleri</td>
                                        <td> Çift Katmanlı Ekran (Renkli TFT LCD+Monochrome LCD) <br> Dokunmatik </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">TASARIM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Boy</td>
                                        <td> 61.7 mm </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">En</td>
                                        <td> 56.4 mm </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Kalınlık</td>
                                        <td> 15.7 mm </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ağırlık</td>
                                        <td> 92 g </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ekran Şekli</td>
                                        <td> Daire </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Gövde Rengi</td>
                                        <td> Siyah <br> Kırmızı </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Gövde Malzemesi</td>
                                        <td> Paslanmaz Çelik </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Kordon Renkleri</td>
                                        <td> Siyah </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Kordon Malzemesi</td>
                                        <td> Üretan </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">GENEL ÖZELLİKLER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Cihaz İşletim Sistemi</td>
                                        <td> Android Wear </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">İşletim Sistemi Versiyonu</td>
                                        <td> Android Wear 2.0 </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Titreşim</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Mikrofon</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Hoparlör</td>
                                        <td> Yok </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Suya Dayanıklılık</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Suya Dayanıklılık Özellikleri</td>
                                        <td> 50 mt'ye kadar su geçirmez </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Servis ve Uygulamalar</td>
                                        <td> Navigasyon (Harita) <br> Sesli Not (Voice Memo) <br> Kronometre <br> Askeri Standartlarda Sağlamlık (MIL-STD-810G) <br> Güç Tasarruf Modu <br> Gündoğumu/Günbatımı Gösterimi <br> Kalori Takibi <br> Ok Google <br> Çevrimdışı Haritalar <br> Alarm <br> Aktivite Tanımlama ve İzleme <br> Gelen Çağrı ve Bildirimleri Yönetme <br> Cevapsız çağrı bildirimi <br> Kamera Kumandası <br> Uygulama Bildirimlerini Görüntüleme </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Adımsayar (Pedometer)</td>
                                        <td> Var </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">BAĞLANTILAR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Konum Bilgisi (GPS)</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Konum Bilgisi Özellikleri</td>
                                        <td> GPS <br> Glonass <br> QZSS </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Bluetooth</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Bluetooth Versiyonu</td>
                                        <td> 4.1 </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Bluetooth Özellikleri</td>
                                        <td> LE </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Hafıza Kartı Desteği</td>
                                        <td> Yok </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Wi-Fi</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Wi-Fi Özellikleri</td>
                                        <td> 802.11 b/g/n </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">NFC</td>
                                        <td> Yok </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">BATARYA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Batarya Teknolojisi</td>
                                        <td> Lithium Ion </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Şarj Biçimi</td>
                                        <td> Manyetik Şarj İstasyonu </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Yoğun Kullanımda Batarya Ömrü</td>
                                        <td> 6 sa </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ortalama Kullanımda Batarya Ömrü</td>
                                        <td> 48 sa </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Az Kullanımda Batarya Ömrü</td>
                                        <td> 30 gün </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Batarya Dolum Süresi</td>
                                        <td> 120 dk </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">SENSÖRLER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">İvmeölçer</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Jiroskop</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Kalp Atış Hızı Sensörü</td>
                                        <td> Yok </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Pusula</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Barometre</td>
                                        <td> Var </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Altimetre</td>
                                        <td> Var </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">UYUMLULUK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Uyumlu İşletim Sistemi</td>
                                        <td> Android <br> iOS </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Uyumlu İşl. Sis. Versiyonu</td>
                                        <td> Android 4.3+ <br> iOS 9.0+ </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="bg-indigo">
                                        <th colspan="2">TEMEL BİLGİLER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">Türü</td>
                                        <td> Akıllı Saat </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Çıkış Yılı</td>
                                        <td> 2017 </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Ürün Ailesi</td>
                                        <td> Casio WSD </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">Seri</td>
                                        <td> WSD-F20 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Media (video/image)
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="card-body"><span><img src="https://cdn3.epey.com/resim/69399/m_casio-wsd-f20-1.png" width="200" title="" style=""></span><span><img src="https://cdn3.epey.com/resim/69399/m_casio-wsd-f20-1.jpg" width="200"></span><span><img src="https://cdn3.epey.com/resim/69399/m_casio-wsd-f20-6.jpg" width="200"></span></div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Özet Bakış
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="card-body">
                            karşılaştırma listesine ekle,<br>
                            fiyat takibi uyarı,<br>
                            favori ürün ekle,<br>
                            kargo dahil fiyat,<br>
                            satıcı puanı,<br>
                            distribütor sağlayıcı,<br>
                            en popüler ürünler,<br>
                            benzer ürünler,<br>
                            en çok karşılaştırılanlar,<br>
                            bu ürüne bakanlar buna da baktı,<br>
                            son baktıklarınız,<br>
                            sosyal medya paylaşımı,<br>
                            soru cevap bölümü,<br>
                            videolar,<br></div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Açıklama
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="card-body">
                            Açıklama
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Prices
                            </h6>
                            <div class="header-elements"><span class="text-muted">(Son güncelleme tarihi : 1 ay önce)</span></div>
                        </div>
                        <div class="card-body">
                            fiyatlar
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Files
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="list-group list-group-flush"><a href="#" class="list-group-item list-group-item-action"><i class="icon-file-pdf mr-3"></i>
                                Hello_exotic_staunch.pdf <span class="badge bg-success-400 ml-auto">New</span></a> <a href="#" class="list-group-item list-group-item-action"><i class="icon-arrow-right22 mr-3"></i>
                                Show all files (0)
                            </a></div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Fiyat Geçmişi
                            </h6>
                            <div class="header-elements"><span class="text-muted">(Son güncelleme tarihi : 9 ay önce)</span></div>
                        </div>
                        <div class="card-body">
                            Fiyat Geçmişi
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Karşılaştırmalar
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="card-body">
                            Karşılaştırmalar
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <h6 class="card-title font-weight-semibold"><i class="icon-folder6 mr-2"></i>
                                Yorumlar/Incelmee
                            </h6>
                            <div class="header-elements"><span class="text-muted">(0)</span></div>
                        </div>
                        <div class="card-body">
                            comments
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</template>
<script>
module.exports = {
    props: ['post_id', 'permalink'],
    data() {
        return {
            post: {
                title: {},
                attributes: {}
            }
        };
    },
    methods: {
        getEntries() {
            this.get(window.api_url + "/content/" + this.post_id, (response) => {
                this.posts = response

                console.log(response);
            })

        },
    },
    created() {
        this.getEntries()
        /*
      console.log(this.permalink)
      fetch(window.api_url  +  "/entry/" + this.post_id)
      .then(response => {
        return response.json();
      })
      .then(data => {
        this.post = data;
        document.title = this.post.title
        document.querySelector('meta[name="description"]').setAttribute("content", this.post.title + ' hakkında özellik bilgisi...');
      //  document.querySelector('.page-title span.font-weight-semibold').innerText = this.post.title
      })
      .catch(error => {
        console.log("Request failed", error);
      });*/
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}
.card {
    margin-bottom: 30px;
}

</style>
