<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="header-title m-t-0 m-b-20">...</h4>
        </div>
      </div>







      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h6 class="m-t-0">Users</h6>
            <div class="table-responsive">
              <table class="table table-hover mails m-0 table table-actions-bar">
                <thead>
                  <tr>
                    <th style="min-width: 95px;">ID</th>
                    <th>name</th>
                    <th>slug</th>
                    <th>count</th>
                    <th>edit</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(role, pi) in roles" :key="pi">
                    <td>
                     {{role.id}}
                    </td>
                    <td>
                     {{role.name}}
                    </td>

                    <td>
                      {{role.slug}}
                    </td>
                    <td>
                      0
                    </td>



                    <td @click="$router.push('/role/' + role.id)">
                      edit
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
</template>


<script>

  module.exports = {

    data() {
      return {
      roles: [],
      brands: []
    };
  },
  methods: {

getUsers(){
         this.get(window.api_url  + "/getRoles?api_token=gokhan", (response) => {
                    this.roles = response

    console.log(response);
            })

},

},
beforeUpdate() {},
updated() {},
created() {
 // this.getBrands(15)
},
beforeCreate() {
},
mounted() {
    this.getUsers()
},
filters: {},
components: {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>

