<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Show Attribute</h4>

      <div class="row">
        <div class="col-md-6">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-2 col-form-label">attribute_code</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.attribute_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">frontend_label</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.frontend_label">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">frontend_input</label>
              <div class="col-md-10">
                <select class="form-control">
                    <option v-for="(x, k) in attribute.data.options.split('\n')" :key="k" :value="x">{{x}}</option>

                </select>
                <select class="form-control" v-model="attribute.frontend_input">
                  <optgroup label="Relational">
                    <option value="terms">Terms</option>
                    <option value="tags">Tags</option>
                    <option value="media">Media</option>
                  </optgroup>
                  <optgroup label="General">
                    <option value="varchar:text">Text</option>
                    <option value="number">Number</option>
                    <option value="float">Float</option>
                    <option value="double">Double</option>
                    <option value="date">Date</option>
                    <option value="datetime">DateTime</option>
                    <option value="year">Year</option>
                    <option value="time">Time</option>
                    <option value="select">Select</option>
                    <option value="multiselect">MultiSelect</option>
                    <option value="color">Color</option>
                    <option value="gallery">Gallery</option>
                    <option value="file">File</option>
                    <option value="image">İmage</option>
                    <option value="textarea">Text Area</option>
                    <option value="hidden">Hidden</option>
                  </optgroup>

                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">backend_type</label>
              <div class="col-md-10">
                <select class="form-control" v-model="attribute.backend_type">
                  <optgroup label="Advanced">
                    <option value="static">Static</option>
                  </optgroup>

                  <optgroup label="Numbers">
                    <option selected="">int</option>
                    <option>decimal</option>
                    <option>float</option>
                    <option>double</option>
                  </optgroup>
                  <optgroup label="Date and time">
                    <option>date</option>
                    <option>datetime</option>
                    <option>timestamp</option>
                    <option>time</option>
                    <option>year</option>
                  </optgroup>
                  <optgroup label="Strings">
                    <option>varchar</option>
                    <option>text</option>
                    <option>longtext</option>
                    <option>json</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-form-label">additional_data</label>
              <div class="col-md-10">
                {{attribute.additional_data}}
              </div>
            </div>
            {{attribute}}

          </form>
        </div>

        <div class="col-md-6">
          <form class="form-horizontal" role="form">

            <div class="form-group" v-if="['select','multiselect'].includes(attribute.frontend_input)">
              <label class="col-md-2 col-form-label">SelectOptions</label>
              <div class="col-md-10">
                <textarea class="form-control" rows="20" style="height:180px;" :value="attribute.data.options" v-model="attribute.data.options"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">default_value</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.default_value" v-model="attribute.default_value">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">start_date</label>
              <div class="col-md-10">
                <input type="date" class="form-control" :value="'2019-08-03'" v-model="attribute.data.start_date">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">end_date</label>
              <div class="col-md-10">
                <input type="week" class="form-control" :value="'2019-W31'" v-model="attribute.data.end_date">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">datetime-local</label>
              <div class="col-md-10">
                <input type="datetime-local" class="form-control" :value="attribute.data.datetime_local" v-model="attribute.data.datetime_local">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">help_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.help_text" v-model="attribute.help_text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">note</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="attribute.note" v-model="attribute.note">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="attribute.is_required">
                  <label for="checkbox222">
                    is_required
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox222" type="checkbox" v-model="attribute.is_user_defined">
                  <label for="checkbox222">
                    is_user_defined
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox223" type="checkbox" v-model="attribute.is_unique">
                  <label for="checkbox222">
                    is_unique
                  </label>
                </div>
              </div>
            </div>



          </form>
        </div>

      </div>
      <!-- end row -->


    </div> <!-- end col -->
  </div> <!-- end row -->
{{attribute.data.options.split('\n')}}
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: ['attribute_id', 'permalink'],
  data() {
    return {
      attribute: {
        data: {
          "options": "ben\nsen\nonlar\nsunlar\nbunlar"
        }
      },
      post: {
        title: {},
        attributes: {}
      }
    };
  },
  methods: {

  },
  created() {
    console.log(this.permalink)
    fetch(window.api_url + "/attribute/" + this.attribute_id)
      .then(response => {
        return response.json();
      })
      .then(response => {
        response.data = {
          "options": "ben\nsen\nonlar\nsunlar\nbunlar"
        }
        this.attribute = response;

        console.log(response);

      })
      .catch(error => {
        console.log("Request failed", error);
      });
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
