<template>
  <!-- Right sidebar -->
    <div class="sidebar sidebar-light sidebar-secondary sidebar-expand-md">

      <!-- Sidebar mobile toggler -->
      <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-expand">
          <i class="icon-screen-full"></i>
          <i class="icon-screen-normal"></i>
        </a>
        <span class="font-weight-semibold">Right sidebar 22</span>
        <a href="#" class="sidebar-mobile-right-toggle">
          <i class="icon-arrow-right8"></i>
        </a>
      </div>
      <!-- /sidebar mobile toggler -->
			<!-- Sidebar content -->
						<div class="sidebar-content">

        <!-- Categories -->
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <span class="card-title font-weight-semibold">Categories</span>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>

          <div class="card-body p-0" style="
    max-height: 250px;
    overflow: auto;
">
            <div class="nav nav-sidebar my-2">
              <li class="nav-item" v-for="(brand, bi) in brands" :key="bi">
                                              <router-link :to="{ path: '/marka/' + brand.slug }" class="nav-link">
            <i class="icon-certificate"></i>
                  {{brand.name}}
                  <span class="text-muted font-size-sm font-weight-normal ml-auto">0</span>
      </router-link>

              </li>

            </div>
          </div>
        </div>
        <!-- /categories -->
							<!-- Find course -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="text-uppercase font-size-sm font-weight-semibold">Find Product</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body">
									<form class="mb-3" action="#">
										<div class="form-group form-group-feedback form-group-feedback-right">
											<input type="search" class="form-control" placeholder="Type and hit Enter">
											<div class="form-control-feedback">
												<i class="icon-search4 font-size-base text-muted"></i>
											</div>
										</div>
									</form>

									<form action="#">
										<div class="form-group">
											<div class="font-size-xs text-uppercase text-muted mb-3">Categories</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Development
													<span class="text-muted ml-1">(83)</span>
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Design
													<span class="text-muted ml-1">(92)</span>
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Management
													<span class="text-muted ml-1">(36)</span>
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Finances
													<span class="text-muted ml-1">(50)</span>
												</label>
											</div>
										</div>

										<div class="form-group">
											<div class="font-size-xs text-uppercase text-muted mb-3">Price</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" class="form-input-styled" checked data-fouc>
													All courses
												</label>	
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" class="form-input-styled" data-fouc>
													Free courses
												</label>	
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" class="form-input-styled" data-fouc>
													Paid courses
												</label>	
											</div>
										</div>

										<div class="form-group">
											<div class="font-size-xs text-uppercase text-muted mb-3">Status</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Registration
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Progress
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Completed
												</label>
											</div>
										</div>

										<div class="form-group">
											<div class="font-size-xs text-uppercase text-muted mb-3">Duration</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													0 - 50 hours
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													51 - 100 hours
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													101+ hours
												</label>
											</div>
										</div>

										<div class="form-group">
											<div class="font-size-xs text-uppercase text-muted mb-3">Trainer</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Eugene Kopyov
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													James Alexander
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Jeremy Victorino
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-input-styled" data-fouc>
													Bastian Miller
												</label>
											</div>
										</div>

										<button type="submit" class="btn bg-blue btn-block">
											<i class="icon-filter4 mr-2"></i>
											Filter
										</button>
									</form>
								</div>
							</div>
							<!-- /find course -->


							<!-- Categories -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="text-uppercase font-size-sm font-weight-semibold">Categories</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0">
									<div class="nav nav-sidebar mb-2">
										<li class="nav-item-header font-size-xs text-uppercase">Development</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Frontend development
												<span class="badge badge-secondary badge-pill ml-auto">37</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Backend development
												<span class="badge badge-secondary badge-pill ml-auto">58</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Engineering
												<span class="badge badge-secondary badge-pill ml-auto">39</span>
											</a>
										</li>

										<li class="nav-item-header font-size-xs text-uppercase">Design</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Interface design
												<span class="badge badge-secondary badge-pill ml-auto">21</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												User experience
												<span class="badge badge-secondary badge-pill ml-auto">10</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Web design
												<span class="badge badge-secondary badge-pill ml-auto">26</span>
											</a>
										</li>
									</div>
								</div>
							</div>
							<!-- /categories -->


						</div>
						<!-- /sidebar content -->

    </div>
    <!-- /right sidebar -->
</template>

<script>

  module.exports = {

    data() {
      return {
      posts: [],
      brands: []
    };
  },
methods: {
          linkGo(path) {
               Vue.nextTick(() => {
                //this.$router.push({name:'posts', query: { level_1: this.$route.query.page }});
                //.replace({ path: this.$route.params[0], query: filters });
                this.$router.push({ path: path});
                //this.$router.push(path);
            })
        },
    getBrands(type_id){
        fetch(window.api_url  + "/terms/" + type_id)
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.brands = data
    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
getKarsilastirma(){
        fetch('//wikiproduct.test' + "/last10")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
},
    getWp(){
        fetch("http://arge01.test/api/karsilastirma")
  .then(response => {
    return response.json();
  })
  .then(data => {
    this.posts = data

    console.log(data);
  })
  .catch(error => {
    console.log("Request failed", error);
  });
    }
},
beforeUpdate() {},
updated() {},
created() {
},
beforeCreate() {
},
mounted() {
  this.getBrands(15)
  setTimeout(() => {

   
           // Initialize
           $('.form-input-styled').uniform();
    
  }, 1000);
  //this.getKarsilastirma();

},
filters: {},
components: {}
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>

