<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-b-20 header-title">Giriş Bilgileri</h4>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">role</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.role">
                            </div>
                        </div>
                                                <div class="form-group">
                            <label class="col-md-2 col-form-label">token</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.api_token">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">created_at</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.updated_at">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <h4 class="m-b-20 header-title">Kişisel Bilgiler</h4>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Ad Soyad</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.fullname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Adres</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="user.adress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Doğum Tarihi</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" v-model="user.birth_date">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
module.exports = {
    name: "user",
    props: ['userId'],
    data() {
        return {
            user: {}
        };
    },
    methods: {
        getUser(userId) {
            this.get(window.api_url + "/getUser/" + userId + "?api_token=gokhan", (response) => {
                this.user = response

                console.log(response);
            })

        },
    },
    created() {
        this.getUser(this.userId)
    }
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>
