<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Media Field</h4>

      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form">


            <div class="form-group">
              <label class="col-md-2 col-form-label">max size</label>
              <div class="col-md-10">
                <input type="number" class="form-control" v-model="attribute.max_size">
              </div>
            </div>


          </form>
        </div>


      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: ['attribute_id', 'permalink'],
  data() {
    return {
      attribute: {
        "attribute_code": null,
        "backend_type": null,
        "frontend_input": "text",
        "frontend_label": null,
        "frontend_class": null,
        "is_required": true,
        "is_relational": false,
        "is_user_defined": true,
        "default_value": null,
        "is_unique": false,
        "note": null,
        data: {
          "options": "ben\nsen\nonlar\nsunlar\nbunlar"
        }
      }
    };
  },
  methods: {
    saveAttribute() {
      this.post(window.api_url + "/add_attribute", this.attribute, (response) => {
        console.log(response);

      })
    }
  },
  created() {

  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
