<template>
<div class="container-fluid">

  <div class="row"  v-if="emitTo">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Select Field</h4>

      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form">
          <div class="form-group">
              <label class="col-md-2 col-form-label">SelectOptions</label>
              <div class="col-md-10">
                <textarea class="form-control" rows="20" style="height:180px;" v-model="data.options"></textarea>
              </div>
            </div>
             </form>
        </div>

      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div> <!-- end row -->
    <pre>
  {{data}}
  <br>
  </pre>
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: [],
  data() {
    return {
      data: {
          "options": "key1:Val1\nkey2:Val2"
      }
    };
  },
  computed: {
    emitTo() {
        this.setData();
      return true;
    }
  },
  methods: {
    setData() {
      this.$emit("set-data", this.data);
    }
  },
  created() {
  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
