<template>
<div class="container-fluid">

  <div class="row" v-if="emitTo">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title hide">Term Field</h4>

      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-4 col-form-label">Taxonomy Type</label>
              <div class="col-md-8">
                <select class="form-control" v-model="data.taxonomy_type">
                  <option>Article</option>
                  <option>Classified</option>
                  <option>News</option>
                  <option>Brand</option>
                  <option>Product</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-form-label">Appearance</label>
              <div class="col-md-8">

                <select class="form-control" v-model="data.view_type">
                  <optgroup label="Multiple Values">
                    <option value="checkbox">Checkbox</option>
                    <option value="multi_select">Multi Select</option>
                  </optgroup>
                  <optgroup label="Single Value">
                    <option value="radio">Radio Buttons</option>
                    <option value="select">Select</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-form-label">Return Value</label>
              <div class="col-md-8">

                <select class="form-control" v-model="data.return_value">
                    <option value="object">Term Object</option>
                    <option value="id">Term ID</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-form-label">Source Url</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="data.source_url">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="data.is_multiple">
                  <label for="checkbox222">
                    is_multiple
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="data.allow_null">
                  <label for="checkbox222">
                    Allow Null?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="data.save_terms">
                  <label for="checkbox222">
                    Save Terms
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="data.load_terms">
                  <label for="checkbox222">
                    Load Terms
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox221" type="checkbox" v-model="data.create_terms">
                  <label for="checkbox222">
                    Create Terms
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-info">
                  <input id="checkbox222" type="checkbox" v-model="data.is_computed">
                  <label for="checkbox222">
                    is_computed
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">SelectOptions</label>
              <div class="col-md-10">
                <textarea class="form-control" rows="20" style="height:180px;" v-model="data.options"></textarea>
              </div>
            </div>
          </form>
        </div>

      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div> <!-- end row -->
  <pre>
  {{data}}
  <br>
  </pre>
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: [],
  data() {
    return {
      data: {
        "view_type": "select",
        "taxonomy_type": "Article",
        "options": "key1:Val1\nkey2:Val2",
        "is_computed": true,
        "source_url": "/getTaxonomies",
        "return_value": "id",
      }
    };
  },
  computed: {
    emitTo() {
      this.setData();
      return true;
    }
  },
  methods: {
    setData() {
      this.$emit("set-data", this.data);
    }
  },
  created() {}
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
