<template>
  <div>
    <site-header> </site-header>
    <router-view></router-view>
    <site-footer></site-footer>
  </div>
</template>

<script>

  module.exports = {
    name: "home",
    methods: {},
    components: {},
  }
</script>

<style>
.notify {
    background-color: #ffeb3b;
    color: #000;
}
.btn-primary {
    background-color: #ffeb3b;
    border: 1px solid #ffeb3b;
        color: #000;
}
.search-header {
    border: 2px solid #ffeb3b;
}
/* Color Theme Swatches in Hex */
.Glowing-Yellow-1-hex { color: #333301; }
.Glowing-Yellow-2-hex { color: #FFFF52; }
.Glowing-Yellow-3-hex { color: #FFFF05; }
.Glowing-Yellow-4-hex { color: #CCCC04; }
.Glowing-Yellow-5-hex { color: #E0E048; }

/* Color Theme Swatches in RGBA */
.Glowing-Yellow-1-rgba { color: rgba(51, 51, 1, 1); }
.Glowing-Yellow-2-rgba { color: rgba(255, 255, 82, 1); }
.Glowing-Yellow-3-rgba { color: rgba(255, 255, 5, 1); }
.Glowing-Yellow-4-rgba { color: rgba(204, 204, 4, 1); }
.Glowing-Yellow-5-rgba { color: rgba(224, 224, 72, 1); }

/* Color Theme Swatches in HSLA */
.Glowing-Yellow-1-hsla { color: hsla(60, 96, 10, 1); }
.Glowing-Yellow-2-hsla { color: hsla(60, 100, 66, 1); }
.Glowing-Yellow-3-hsla { color: hsla(60, 100, 50, 1); }
.Glowing-Yellow-4-hsla { color: hsla(60, 96, 40, 1); }
.Glowing-Yellow-5-hsla { color: hsla(60, 71, 58, 1); }
</style>

