<template>
<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-12">
                    <a href="/" class="brand-wrap">
                        <img class="logo" src="assets/images/logo2.png?v">
                    </a>
                    <!-- brand-wrap.// -->
                </div>
                <div class="col-xl-6 col-lg-5 col-md-6">
                    <form action="#" class="search-header">
                        <div class="input-group w-100">
                            <select class="custom-select border-right" name="category_name">
                                <option value="">Herşey</option>
                                <option value="codex">Ürün</option>
                                <option value="comments">Yorum</option>
                                <option value="content">Karşılaştırma</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Aradğınız ürün...">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Ara
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- search-wrap .end// -->
                </div>
                <!-- col.// -->
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header mr-3" v-if="!$root.userData.api_token">
                            <a href="/login" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-user"></i>
                                    <span class="notify">0</span>
                                </div>
                                <small class="text"> Giriş Yap </small>
                            </a>
                        </div>
                        <div class="widget-header mr-3"  v-if="$root.userData.api_token">
                            <a href="/myaccount" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-comment-dots"></i>
                                    <span class="notify">0</span>
                                </div>
                                <small class="text"> Hesabım </small>
                            </a>
                        </div>
                        <div class="widget-header mr-3">
                            <a href="/compare" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-store"></i>
                                </div>
                                <small class="text"> Karşılaştırma </small>
                            </a>
                        </div>
                        <div class="widget-header mr-3">
                            <a href="/classified" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-store"></i>
                                </div>
                                <small class="text"> İlanlar </small>
                            </a>
                        </div>
                        <div class="widget-header">
                            <a href="/" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <small class="text"> Fiyatlar </small>
                            </a>
                        </div>
                    </div>
                    <!-- widgets-wrap.// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- container.// -->
    </section>
    <!-- header-main .// -->

    <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/"> <i class="fa fa-bars text-muted mr-2"></i> Kategoriler </a>
                        <div class="dropdown-menu">
                            <template v-if="$root.clientInit.mainCategories" v-for="item in $root.clientInit.mainCategories">
                                <a class="dropdown-item" :href="'/category/'+item.variant_id">{{item.name}} </a>
                            </template>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/9529">Görüntü Sistemleri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/9587">Uydu Sistemleri</a>
                    </li>

                    <li class="nav-item dropdown hide">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Demo pages</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#/">Ana Sayfa</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto hide">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get the app</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/#" data-toggle="dropdown">Türkçe</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/#">Russian</a>
                            <a class="dropdown-item" href="/#">French</a>
                            <a class="dropdown-item" href="/#">Spanish</a>
                            <a class="dropdown-item" href="/#">Chinese</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- collapse .// -->
        </div>
        <!-- container .// -->
    </nav>
</header>
<!-- section-header.// -->
</template>

<script>
module.exports = {
    name: "header"
}
</script>

<style>
.app-search {
    background-color: white;
    width: 450px;
}

.app-search .form-control,
.app-search .form-control:focus {
    color: black;
    width: 100%;
}

.app-search button {
    color: black;
}

input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink;
}

input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
}

input[type="text"]::-webkit-input-placeholder {
    color: black;
}

#topnav .topbar-main {
    background: #FF5722;
}
</style>
