<template>
<div class="field_type" v-if="attr && attr.field_type ">
    <div class="hide">
        {{attr.field_type}}|{{attr.frontend_input}}
    </div>
    <template v-if="attr.frontend_input == 'select'">
        <template v-if="attr.field_type != 'entity_status'">
            <div class="form-group">
                <label class="col-sm-2 col-form-label">{{attr.frontend_label}}</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                        <template v-for="(oname, oi) in attr.data.choices.split('\n')">
                            <option>{{oname}}</option>
                        </template>
                    </select>

                </div>
            </div>
        </template>
        <template v-if="attr.field_type == 'entity_status'">
            <div class="form-group">
                <label class="col-sm-2 col-form-label">{{attr.frontend_label}}</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                        <template v-for="(oname, oi) in this.$root.entities[attr.entity_type_id].data.statuses">
                            <option>{{oname}}</option>
                        </template>
                    </select>

                </div>
            </div>
        </template>
    </template>

    <template v-if="attr.frontend_input == 'multiselect'">
        <div class="form-group">
            <label class="col-sm-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-sm-10">
                <select multiple class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                    <template v-for="(oname, oi) in attr.data.choices.split('\n')">
                        <option>{{oname}}</option>
                    </template>
                </select>

            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'term_select' && attr.data && attr.data.taxonomy">
        <div class="form-group">
            <label class="col-sm-2 col-form-label">{{attr.frontend_label}}: {{attr.data.taxonomy}} </label>
            <div class="col-sm-10">
                <select v-if="1 == 0" class="form-control m-b-20" v-model="$root.currentInsertTypeForm[attr.attribute_code]" v-on:change="$emit('refresh', $root.currentInsertTypeForm[attr.attribute_code])">
                    <optgroup v-for="(ttg, tk) in $root.taxonomyTerms" :key="tk" :label="tk.toUpperCase()">
                        <template v-for="(ttpg, ttpgk, index) in _.groupBy(ttg, 'parent_id')">

                         <template v-for="(ttpgt, ttpgkt) in ttpg" v-if="ttpgt.parent_id == 0">
                            <option :class="['tree-' + index]" :key="ttpgkt" :value="ttpgt.variant_id">{{termIndexTree[index]}}{{ttpgt.name}}</option>
                            <option v-if="_.groupBy(ttg, 'parent_id')[ttpgt.variant_id]" v-for="(l2termv, l2termk) in _.groupBy(ttg, 'parent_id')[ttpgt.variant_id]" :value="l2termv.variant_id">{{termIndexTree[1]}}{{l2termv.name}}</option>
                        </template>
                        </template>
                    </optgroup>

                </select>

                <select v-if="1 == 0" multiple class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                    <template v-for="(oname, oi) in _.range(1,10)">
                        <option>{{oname}}</option>
                    </template>
                </select>

                <select v-if="attr.data && attr.data.taxonomy" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]" v-on:change="$emit('refresh', $root.currentInsertTypeForm[attr.attribute_code])">
                    <template v-for="(term, ti) in _.sortBy($root.taxonomyTerms[attr.data.taxonomy], 'name')">
                        <option  :value="term.variant_id">{{term.name}}</option>
                    </template>
                </select>

            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'checkbox'">

        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <template v-if="attr.data && attr.data.choices && attr.data.choices.length">
                    <div class="checkbox" v-for="(oname, oi) in attr.data.choices.split('\n')">
                        <input id="checkbox0" type="checkbox" v-model="$root.currentInsertTypeForm[attr.attribute_code + '_' + oname]">
                        <label for="checkbox0">
                            {{oname}}
                        </label>
                    </div>
                </template>
                <template v-if="!attr.data || !attr.data.choices">
                    <div class="checkbox">
                        <input id="checkbox0" type="checkbox" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                        <label for="checkbox0">
                            {{attr.frontend_label}}
                        </label>
                    </div>
                </template>

            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'text'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="text" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'file'">
        <div class="form-group" v-if="attr.field_type == 'single_image_upload'">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <img v-if="previewImage" :src="previewImage" width="200" class="uploading-image" />
                <input type="file" multiple accept="image/jpeg" @change="uploadImage">
            </div>
        </div>

        <div class="form-group" v-if="attr.field_type == 'media_gallery'">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">

                <img v-if="multiImages" v-for="(imgSrc) in multiImages" :src="imgSrc" width="200" class="uploading-image" />
                <input type="file" multiple="multiple" accept="image/jpeg" @change="multiUploadImage">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'price'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="number" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'number'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="number" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'radio'">
        <div class="form-group">
            <label class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <div class="radio">
                    <input type="radio" :name="attr.attribute_code" :value="true" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                    <label for="radio1">
                        {{attr.frontend_label}}
                    </label>
                </div>

            </div>
        </div>

    </template>
    <template v-if="attr.frontend_input == 'media_image'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="image" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'gallery'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="image" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'image'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="image" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'hidden'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="hidden" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'date'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="date" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'color'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="color" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'password'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="password" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'time'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="time" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'url'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="url" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'email'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <input type="email" class="form-control" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'textarea'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" :value="$root.currentInsertTypeForm[attr.attribute_code]" v-model="$root.currentInsertTypeForm[attr.attribute_code]"></textarea>
            <div v-if="1==0" v-html="$root.currentInsertTypeForm[attr.attribute_code]">
            </div>
            </div>
        </div>
    </template>
    <template v-if="attr.frontend_input == 'checkbox2'">
        <div class="form-group">
            <label class="col-md-2 col-form-label">{{attr.frontend_label}}</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input id="checkbox0" type="checkbox" v-model="$root.currentInsertTypeForm[attr.attribute_code]">
                    <label for="checkbox0">
                        Default
                    </label>
                </div>
                <div class="checkbox checkbox-custom">
                    <input id="checkbox111" type="checkbox">
                    <label for="checkbox111">
                        Custom
                    </label>
                </div>
            </div>
        </div>
    </template>

    <div class="hide">

        <input type="date">
        <input type="datetime-local">
        <input type="week">
        <input type="month">
        <input type="time">
        <input type="button">
        <input type="checkbox">
        <input type="color">
        <input type="email">
        <input type="file">
        <input type="hidden">
        <input type="image">
        <input type="number">
        <input type="password">
        <input type="radio">
        <input type="range">
        <input type="reset">
        <input type="search">
        <input type="submit">
        <input type="tel">
        <input type="text">
        <input type="url">
    </div>

</div>
</template>

<script>
module.exports = {
    props: ["attr"],
    data() {
        return {
            previewImage: 0,
            multiImages: [],
            termIndexTree: {
                1: '-',
                2: '--',
                3: '---',
            }
        };
    },
    computed: {},
    methods: {
        formData(attrCode, file) {
            const formData = new FormData()

            var count = file.length; // assuming your file input names is image
            for (var x = 0; x < count; x++) {
                formData.append(attrCode + "[]", file[x]);
            }
            //formData.append('image2', file[0])
            //formData.append('attributes', 10)
            /* axios.post({
        method: 'post',
        url: window.api_url + "/add_content/" + this.entity_type,
        data: formData
    });
*/

            fetch(window.api_url + "/add_content/" + 1, this.fileHeader(formData))
                .then(res => {
                    console.log(res)
                })

        },
        fileHeader(data) {
            return {
                method: "POST",
                headers: {
                    //Authorization: "Bearer " + JSON.parse(localStorage.getItem("api_token")),
                    Accept: "application/json, application/xml, text/plain, text/html, *.*"
                },
                body: data
            }
        },
        setData() {
            this.$emit("set-data", this.data);
        },
        uploadImage(e) {

            var url = URL.createObjectURL(e.target.files[0]);
            this.previewImage = url;
            this.$root.currentInsertTypeForm[this.attr.attribute_code] = e.target.files[0].name
            console.log(e.target.files[0].name)

            //const image = e.target.files;
            // this.formData(image)
            /*const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e =>{
                //this.previewImage = e.target.result;
                console.log(this.previewImage);
              };*/

            /*
                        let formData = new FormData()

                        var attrs = this.posta.attributes;
                        _.each(attrs, (val, key, arr) => {
                            formData.append(key, val)

                        })

                        for (var pair of formData.entries()) {
                            console.log(pair[0] + ', ' + pair[1]);
                        }
            */

        },
        multiUploadImage(e) {
            this.$root.currentInsertTypeForm[this.attr.attribute_code] = []
            for (var i = 0; i < e.target.files.length; i++) {
                this.$root.currentInsertTypeForm[this.attr.attribute_code][i] = e.target.files[i].name
                this.multiImages.push(URL.createObjectURL(e.target.files[i]))
            }
            //this.$root.currentInsertTypeForm[this.attr.attribute_code] = this.multiImages

            // this.selectedImages = url;
            //this.$root.currentInsertTypeForm[this.attr.attribute_code] = url
            /*const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e =>{
                this.previewImage = e.target.result;
                console.log(this.previewImage);
              };*/
        },
        axiosUploadTest(event) {

            const URL = 'http://foobar.com/upload';

            let data = new FormData();
            data.append('name', 'my-picture');
            data.append('file', event.target.files[0]);

            let config = {
                header: {
                    'Content-Type': 'image/png'
                }
            }

            axios.put(
                URL,
                data,
                config
            ).then(
                response => {
                    console.log('image upload response > ', response)
                }
            )
        }
    },
    created() {}
}
</script>

<style>
</style>
