<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">

      <div class="row" v-if="emitTo">
        <div class="col-md-12">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-2 col-form-label">default_value</label>
              <div class="col-md-10">
                <input type="text" class="form-control" :value="data.default_value" v-model="data.default_value">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">append_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="data.append_text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label">before_text</label>
              <div class="col-md-10">
                <input type="text" class="form-control" v-model="data.before_text">
              </div>
            </div>
          </form>
        </div>

      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div> <!-- end row -->
  <pre>
  {{data}}
  <br>
  </pre>
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: [],
  data() {
    return {
      data: {
        default_value: "default_value"
      }
    }
  },
  computed: {
    emitTo() {
        this.setData();
      return true;
    }
  },
  methods: {
    setData() {
      this.$emit("set-data", this.data);
    }
  },
  created() {
  }
}
</script>

<style>
</style>
