<template>
    <div class="container-fluid">
        <div class="row" v-if="emitTo">
            <div class="col-sm-12">
                <h4 class="m-b-20 header-title">Select Field</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 col-form-label">SelectOptions</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="20" style="height:180px;" v-model="data.attr.choices"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- end col -->
        </div> <!-- end row -->
        <pre>
  {{data}}
  <br>
  </pre>
    </div> <!-- container -->
</template>
<script>
module.exports = {
    props: ['attr'],
    data() {
        return {
            data: {
                attr: {
                    "key": "field_5d381f9b16416",
                    "label": "selectbox2",
                    "name": "selectbox2",
                    "type": "select",
                    "instructions": "Instructions\r\nInstructions for authors. Shown when submitting data",
                    "required": 1,
                    "conditional_logic": [
                        [{
                            "field": "field_5d381cc216415",
                            "operator": "==",
                            "value": "bir"
                        }],
                        [{
                            "field": "field_5d381cc216415",
                            "operator": "!=",
                            "value": "iki"
                        }]
                    ],
                    "wrapper": {
                        "width": "200",
                        "class": "class1",
                        "id": "id25"
                    },
                    "choices": "",
                    "choices1": {
                        "red:Red": "red:Red",
                        "yellow:Yellow": "yellow:Yellow"
                    },
                    "default_value": [
                        "red:Red"
                    ],
                    "allow_null": 0,
                    "multiple": 1,
                    "ui": 1,
                    "ajax": 1,
                    "return_format": "array",
                    "placeholder": ""
                }
            }
        };
    },
    computed: {
        emitTo() {
            this.setData();
            return true;
        }
    },
    methods: {
        setData() {
            this.$emit("set-data", this.data.attr);
        }
    },
    created() {
     this.data.attr =  Object.assign(this.data.attr, this.attr)
       // this.data.attr = this.attr
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
