<template>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="m-b-20 header-title">Media Field</h4>

      <div class="row">


        <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-4 col-form-label">start_date</label>
                <div class="col-md-8">
                  <input type="date" class="form-control" :value="'2019-08-03'" v-model="attribute.data.start_date">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-form-label">end_date</label>
                <div class="col-md-8">
                  <input type="week" class="form-control" :value="'2019-W31'" v-model="attribute.data.end_date">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-form-label">datetime-local</label>
                <div class="col-md-8">
                  <input type="datetime-local" class="form-control" :value="attribute.data.datetime_local" v-model="attribute.data.datetime_local">
                </div>
              </div>
        </div>

    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- container -->
</template>

<script>
module.exports = {
  props: ['attribute_id', 'permalink'],
  data() {
    return {
      attribute: {
        "attribute_code": null,
        "backend_type": null,
        "frontend_input": "text",
        "frontend_label": null,
        "frontend_class": null,
        "is_required": true,
        "is_relational": false,
        "is_user_defined": true,
        "default_value": null,
        "is_unique": false,
        "note": null,
        data: {
          "options": "ben\nsen\nonlar\nsunlar\nbunlar"
        }
      }
    };
  },
  methods: {
    saveAttribute() {
      this.post(window.api_url + "/add_attribute", this.attribute, (response) => {
        console.log(response);

      })
    }
  },
  created() {

  }
}
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>
