<template>
    <div>

        <div class="table-responsive" v-if="products">
            <table class="table table-borderless1 table-shopping-cart1">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col" width="1">image</th>
                      <th scope="col">Title</th>
                      <th scope="col">Price</th>
                      <th scope="col">Price</th>
                  </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in products">
                   <td>
                      <figure class="align-items-center">
                         <div class="aside"><img :src="'/images/w80/cdn/'+ item.images[0] + '.jpg' || 'assets/images/items/1.jpg'" class="img-sm" title="" style=""></div>

                     </figure>
                 </td>

                 <td>
                    <a class="title" :href="'/product/' + item.slug + '_' + item.content_id + '.html'"> {{item.title}}</a>
                    <p class="text-muted small">Model: {{item.model}}<br> Marka: {{item.brand}} <br>Kategori: {{item.category}} </p>
                </td>
                <td>
                  <div class="price-wrap">
                     <var class="price">{{item.minPrice}}₺ - {{item.maxPrice}}₺</var><br>
                     <small class="text-muted"> {{parseFloat(item.maxPrice - item.minPrice).toFixed(2)}}₺ Tasarruf </small>
                 </div> <!-- price-wrap .// -->
             </td>
             <td class="text-right">
               <a data-original-title="Save to Wishlist" title="" :href="'/product/' + item.slug + '_' + item.content_id + '.html'" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
               <a data-original-title="Show" title="" :href="'/product/' + item.slug + '_' + item.content_id + '.html'" class="btn btn-light" data-toggle="tooltip"> <i class="fas fa-shopping-cart"></i></a>
           </td>

       </tr>

   </tbody>
</table>

</div>
</div>
</template>

<script>
module.exports = {
    props: ['products'],
    name: "PricesTable",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>

</style>
