<template>
    <div class="tab-pane fade active show" id="reviews" role="tabpanel">
        <div class="d-md-flex justify-content-between align-items-start pb-4 border-bottom">
            <div class="media align-items-center mr-md-3"><img :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'" width="90" alt="Product thumb">
                <div class="mdeia-body pl-3">
                    <h6 class="font-size-base mb-2">Smartwatch Youth Edition</h6>
                    <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
                </div>
            </div>
            <div class="d-flex align-items-center pt-3">
                <select class="custom-select mr-2" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="btn btn-primary btn-shadow mr-2" type="button"><i class="czi-cart font-size-lg mr-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                <div class="mr-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fas fa-shopping-cart font-size-lg"></i></button>
                </div>
                <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fas fa-shopping-cart font-size-lg"></i></button>
                </div>
            </div>
        </div>
        <!-- Reviews-->
        <div class="">
            <div class="table-responsive m-b-20  bg-white">

                <table class="table table-bordered table-striped table-xs">
                    <thead class="bg-white">
                        <tr>
                            <th scope="col" colspan="4">FİYATLAR</th>

                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(price, key) in $root.cimri.props.pageProps.offers.offers">
                            <tr :key="key">
                                <td><img width="100px" :src="'https://cdn.cimri.io/pictures/merchant-logos/'+price.merchantId+'.png'" alt=""> </td>
                                <td> <a :href="price.url">{{price.title}}</a> </td>
                                <td>{{price.shippingDay ? price.shippingDay + ' gün içinde' : 'Aynı Gün Kargo'}}</td>
                                <td>{{price.price}} TL</td>
                            </tr>
                        </template>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "PricesTable",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>

</style>
