<template>
  <div>
    <div class="card  mb-3">
      <div class="card-body">

        <article class="product-info-aside">

          <h2 class="title mt-3 hide">{{item.title}} </h2>

          <div class="rating-wrap my-3">
           <div class="rating-wrap mb-3" style="display: inline-block;">
            <span class="badge badge-warning" style="color: black;background-color: #ffeb3b;font-size: 14px;">
              <i class="fa fa-star" style="color: rgb(0, 0, 0);"></i> 3.8</span>
             <strong class="text-muted ml-2">45 inceleme</strong></div>


            <strong class="ml-2 text-success">
              <i class="fa fa-comment-dots"></i>

            154 yorum </strong>
          </div>
          <!-- rating-wrap.// -->

          <div class="mb-3">
            <div class="s1wytv2f-1 FzQtN"><a class="s1wl91l5-0 ifxKgt" href="" rel="nofollow noopener" target="_blank"><span class="s1wl91l5-1 cjVera">Şu an en ucuz</span><span class="s1wl91l5-2 dWTGzr">gittigidiyor.com</span><span class="s1wl91l5-4 cBVHJG">3.149,00 TL</span><span class="s1wl91l5-5 Xckjm"><img src="https://cdns3.cimri.io/web-images/offer-arrow.svg" class="initial loading" data-was-processed="true"></span></a><a class="s1wytv2f-5 cRbAbS">
              <div>Fiyat Analizi</div><svg viewBox="0 0 106 30" xmlns="http://www.w3.org/2000/svg" class="s1wytv2f-6 eEqNcs">
                <title>Group</title>
                <g fill="none" fill-rule="evenodd">
                  <path d="M106 9.659H95.273a7.656 7.656 0 0 0-6.894 4.326l-2.32 4.8a4.947 4.947 0 0 1-8.827.16C72.033 7.802 66.405 2.153 60.348 2h-30.4c-2.702 0-1.134 3.11-3.724 3.11-2.94 0-2.324 2.336-4.246 2.336H0" stroke="#4A90E2" stroke-width="2.2"></path>
                  <path d="M106 9.714H95.029a7.623 7.623 0 0 0-6.874 4.329l-2.332 4.867a4.934 4.934 0 0 1-8.82.158C71.81 7.844 66.186 2.155 60.134 2H29.76c-2.699 0-1.132 3.133-3.72 3.133-2.937 0-2.322 2.352-4.243 2.352H0V30h105.95L106 9.714z" fill="#4A90E2" fill-opacity=".16"></path>
                </g>
              </svg>
            </a></div>
          </div>
          <div class="mb-3">
            <var class="price h4">USD 465,00</var>
            <span class="text-muted">USD 562.65 incl. VAT</span>
          </div>
          <!-- price-detail-wrap .// -->

          <div class="s1wytv2f-3 iyNygY hide">
            <div class="s1wytv2f-4 eAgFNa">Batarya Kapasitesi 3020 mAh</div>
            <div class="s1wytv2f-4 eAgFNa">Dahili Depolama (Hafıza) 32 GB</div>
            <div class="s1wytv2f-4 eAgFNa">Diyafram Açıklığı F1.8</div>
            <div class="s1wytv2f-4 eAgFNa">Ekran Boyutu 6.09 inç</div>
            <div class="s1wytv2f-4 eAgFNa">4K Desteği Yok</div>
            <div class="s1wytv2f-4 eAgFNa">Ağırlık 1.35 kg</div>
            <div class="s1wytv2f-4 eAgFNa">Bluetooth Var</div>
            <div class="s1wytv2f-4 eAgFNa">Bluetooth Versiyonu 4.0</div>
          </div>
          <div class="s1wytv2f-3 iyNygY">
            <div class="s1wytv2f-4 eAgFNa" v-for="spec in $root.cimri.props.pageProps.product.topSpecs">{{spec.name}}:{{spec.value}}</div>
          </div>

          <ul class="list-check mb-4 cols-three hide">
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
           <li>Best performance of battery</li>
           <li>5 years warranty for this product</li>
           <li>Best performance of battery</li>
         </ul>
         <article class="card">
          <div class="card-body">
            <div class="row">
              <aside class="col-md-12">
                <h5>Parameters</h5>
                       <ul class="list-normal cols-two mb-4">
            <li v-for="spec in $root.cimri.props.pageProps.product.topSpecs">{{spec.name}}: {{spec.value}} </li>

          </ul>
                <dl class="row hide">
                  <dt class="col-sm-3">Display</dt>
                  <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>

                  <dt class="col-sm-3">Processor</dt>
                  <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>

                  <dt class="col-sm-3">Camera</dt>
                  <dd class="col-sm-9">720p FaceTime HD camera</dd>

                  <dt class="col-sm-3">Memory</dt>
                  <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>

                  <dt class="col-sm-3">Graphics</dt>
                  <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
                </dl>
              </aside>
              <aside class="col-md-6 hide">
                <h5>Features</h5>
                <ul class="list-check">
                 <li>Best performance of battery</li>
                 <li>5 years warranty for this product</li>
                 <li>Amazing features and high quality</li>
                 <li>Best performance of battery</li>
                 <li>5 years warranty for this product</li>
                 <li>Amazing features and high quality</li>
               </ul>
             </aside>
           </div> <!-- row.// -->
           <hr>
           <p v-if="$root.cimri.props.pageProps.seoBullets" v-html="$root.cimri.props.pageProps.seoBullets.content">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
             consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>
         </div> <!-- card-body.// -->
       </article>

       <div class="row hide">
        <aside class="col-md-6">
          <dl class="row">
            <dt class="col-sm-5">Manufacturer</dt>
            <dd class="col-sm-7"><a href="#">Great textile Ltd.</a></dd>

            <dt class="col-sm-5">Article number</dt>
            <dd class="col-sm-7">596 065</dd>

            <dt class="col-sm-5">Guarantee</dt>
            <dd class="col-sm-7">2 year</dd>

            <dt class="col-sm-5">Delivery time</dt>
            <dd class="col-sm-7">3-4 days</dd>

            <dt class="col-sm-5">Availabilty</dt>
            <dd class="col-sm-7">in Stock</dd>
          </dl>
        </aside>            <aside class="col-md-6">
          <dl class="row">
            <dt class="col-sm-5">Manufacturer</dt>
            <dd class="col-sm-7"><a href="#">Great textile Ltd.</a></dd>

            <dt class="col-sm-5">Article number</dt>
            <dd class="col-sm-7">596 065</dd>

            <dt class="col-sm-5">Guarantee</dt>
            <dd class="col-sm-7">2 year</dd>

            <dt class="col-sm-5">Delivery time</dt>
            <dd class="col-sm-7">3-4 days</dd>

            <dt class="col-sm-5">Availabilty</dt>
            <dd class="col-sm-7">in Stock</dd>
          </dl>
        </aside>
      </div>
      <div class="form-row  mt-4">
        <div class="form-group col-md flex-grow-0">
          <div class="input-group mb-3 input-spinner">
            <div class="input-group-prepend">
              <button class="btn btn-light" type="button" id="button-plus"> + </button>
            </div>
            <input type="text" class="form-control" value="1">
            <div class="input-group-append">
              <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
            </div>
          </div>
        </div>
        <!-- col.// -->
        <div class="form-group col-md">
          <a href="#" class="btn  btn-primary">
            <i class="fas fa-heart"></i> <span class="text">Favori EKle</span>
          </a>
          <a href="#" class="btn btn-light">
            <i class="fas fa-bell"></i> <span class="text">Fiyat Alarmı</span>
          </a>
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->

    </article>
  </div>
</div>
<article class="card hide">
	<div class="card-body">
		<div class="row">
			<aside class="col-md-6">
				<h5>Parameters</h5>
				<dl class="row">
          <dt class="col-sm-3">Display</dt>
          <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>

          <dt class="col-sm-3">Processor</dt>
          <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>

          <dt class="col-sm-3">Camera</dt>
          <dd class="col-sm-9">720p FaceTime HD camera</dd>

          <dt class="col-sm-3">Memory</dt>
          <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>

          <dt class="col-sm-3">Graphics</dt>
          <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
        </dl>
      </aside>
      <aside class="col-md-6">
        <h5>Features</h5>
        <ul class="list-check">
         <li>Best performance of battery</li>
         <li>5 years warranty for this product</li>
         <li>Amazing features and high quality</li>
         <li>Best performance of battery</li>
         <li>5 years warranty for this product</li>
         <li>Amazing features and high quality</li>
       </ul>
     </aside>
   </div> <!-- row.// -->
   <hr>
   <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
 </div> <!-- card-body.// -->
</article>
</div>
</template>

<script>
module.exports = {
  props: ['item'],
  name: "SingleRightDetail",
  data() {
    return {};
  },
  computed: {},
  mounted() {},
  beforeCreate() {},
  created() {},
  methods: {}
}
</script>

<style>
.FzQtN {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 4px;
}

.ifxKgt {
  background-color: rgb(255, 255, 255);
  width: max-content;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 14px 12px 14px 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.cjVera {
  background-color: rgb(58, 160, 58);
  font-size: 11px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-right: 8px;
  border-radius: 2px;
  padding: 2px 4px;
}

.dWTGzr {
  color: rgb(74, 144, 226);
  font-size: 12px;
  font-weight: 600;
  margin-right: 14px;
}

.cBVHJG {
  font-size: 18px;
  font-weight: bold;
  color: rgb(62, 66, 69);
  margin-right: 8px;
}

.Xckjm {
  width: 8px;
  height: 12.3px;
  align-self: baseline;
}

.cRbAbS:hover {
  background-color: rgb(245, 245, 245);
}

.cRbAbS:hover {
  background-color: #f5f5f5;
}

.cRbAbS {
  background-color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 6px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
}

.cRbAbS div {
  font-size: 12px;
  font-weight: bold;
  color: rgb(74, 144, 226);
  float: left;
  margin-right: 8px;
}

.eEqNcs {
  width: 106px;
  height: 28px;
}
.FzQtN {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 4px;
}
.ifxKgt {
  background-color: rgb(255, 255, 255);
  width: max-content;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 14px 12px 14px 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.cjVera {
  background-color: rgb(58, 160, 58);
  font-size: 11px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-right: 8px;
  border-radius: 2px;
  padding: 2px 4px;
}
.dWTGzr {
  color: rgb(74, 144, 226);
  font-size: 12px;
  font-weight: 600;
  margin-right: 14px;
}
.cBVHJG {
  font-size: 18px;
  font-weight: bold;
  color: rgb(62, 66, 69);
  margin-right: 8px;
}
.Xckjm {
  width: 8px;
  height: 12.3px;
  align-self: baseline;
}
.cRbAbS:hover {
  background-color: rgb(245, 245, 245);
}
.cRbAbS:hover {
  background-color: #f5f5f5;
}

.cRbAbS {
  background-color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 6px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
}
.cRbAbS div {
  font-size: 12px;
  font-weight: bold;
  color: rgb(74, 144, 226);
  float: left;
  margin-right: 8px;
}
.eEqNcs {
  width: 106px;
  height: 28px;
}


.goYFek {
  break-inside: avoid;
  width: 100%;
  height: auto;
  margin: 0px 0px 20px;
  padding: 0px;
  list-style: none;
}

.ddfMMC {
  font-weight: 600;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  padding: 6px 10px;
  overflow: hidden;
  border-bottom: 1px solid rgb(241, 245, 248);
}
.klVFuV {
  width: 43%;
  font-weight: 600;
}
.geozbR {
  width: 57%;
  overflow-wrap: break-word;
}
.geozbR {
  width: 57%;
  word-wrap: break-word;
}
.ksJgOA {
  font-size: 16px;
  font-weight: 600;
  color: rgb(73, 144, 226);
  padding: 15px 30px;
  border-bottom: 1px solid rgb(241, 245, 248);
}
.bfgzQt {
  column-count: 2;
  column-gap: 2%;
  column-fill: auto;
  position: relative;
  padding: 5px 30px 15px;
}
.cols-two {
  -webkit-column-count: 2;
  column-count: 2;
  column-count: 2;
  column-gap: 10%;
  width: 100%;
  column-fill: balance;
  position: relative;
  padding: 5px 30px 15px;
}

.list-check {
  padding-left: 0 !important;
  list-style: none;
}
</style>
