<template>
<div class="card single-gallery2">
<div class="card-body">
    <article class="gallery-wrap">
        <div class="img-big-wrap">
            <div> <a href="#"><img class="product-primary-image" :src="item.attributes.resimler[0] || 'assets/images/items/15.jpg'"></a></div>
        </div>
        <!-- slider-product.// -->
        <div class="thumbs-wrap">
            <a v-for="img in item.attributes.resimler" href="#" class="item-thumb"> <img :src="img"></a>
            <a href="#" class="item-thumb"> <img src="assets/images/items/15-1.jpg"></a>
            <a href="#" class="item-thumb"> <img src="assets/images/items/15-2.jpg"></a>
            <a href="#" class="item-thumb"> <img src="assets/images/items/15-1.jpg"></a>
        </div>
        <!-- slider-nav.// -->
    </article>
    <!-- gallery-wrap .end// -->
</div>
<div class="card-body">
    <article class="gallery-wrap">
        <div class="img-big-wrap">
            <div> <a href="#"><img class="product-primary-image" :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'"></a></div>
        </div>
        <!-- slider-product.// -->
        <div class="thumbs-wrap">
            <a v-for="imgId in $root.cimri.props.pageProps.product.imageIds" href="#" class="item-thumb"> <img :src="'https://cdn.cimri.io/image/240x240/x_' +imgId + '.jpg'"></a>

        </div>
        <!-- slider-nav.// -->
    </article>
    <!-- gallery-wrap .end// -->
</div>
</div>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "single-gallery2",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>

</style>
