<template>
             <div class="tab-pane fade active specs-tab show" id="specs" role="tabpanel">
                <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                    <div class="media align-items-center mr-md-3"><img :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'" width="90" alt="Product thumb" title="" style="">
                        <div class="mdeia-body pl-3">
                            <h6 class="font-size-base mb-2">Smartwatch Youth Edition</h6>
                            <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pt-3">
                        <select class="custom-select mr-2" style="width: 5rem;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button class="btn btn-primary btn-shadow mr-2" type="button"><i class="fas fa-shopping-cart font-size-lg mr-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                        <div class="mr-2">
                            <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Specs table-->
                <div class="row pt-2">
      <article class="card col-md-12">
                <div class="card-body">
                    <div name="specs">
                        <h3 class="s98wa6g-14 ksJgOA">Özellikler</h3>
                        <div class="s10v53f3-0 bfgzQt cols-three">
                            <ul class="s10v53f3-2 goYFek" v-if="item && item.attributes &&  item.attributes.content" v-for="(itemo, index) in item.attributes.content">
                                <li class="s10v53f3-3 khqVcO">{{index}}</li>
                                <template v-for="(meta, key) in itemo" v-if="!Array.isArray(meta.value)">
                                <li class="s10v53f3-4 ddfMMC">
                                    <span class="s10v53f3-5 klVFuV">{{meta.key}}</span>
                                <span class="s10v53f3-6 geozbR" v-html="meta.value"></span>

                                </li>
                                </template>
                                <template v-for="(meta, key) in itemo" v-if="Array.isArray(meta.value)">
                                    <li class="s10v53f3-3 khqVcO" style="    margin-top: 20px;">{{meta.key}}</li>
                                <li class="s10v53f3-4 ddfMMC">
                                    <ul class="list-check cols-two" v-html="'<li>' + meta.value.join('</li><li>') + '</li>'">
                                    </ul>
                                </li>
                                </template>
                            </ul>
                            <ul class="s10v53f3-2 goYFek">
                                <li class="s10v53f3-3 khqVcO">Kamera Özellikleri</li>
                                <li class="s10v53f3-4 ddfMMC"><span class="s10v53f3-5 klVFuV">Ön (Selfie) Kamera Diyafram Açıklığı</span><span class="s10v53f3-6 geozbR">F2.0</span></li>
                                <li class="s10v53f3-4 ddfMMC"><span class="s10v53f3-5 klVFuV">Video FPS Değeri</span><span class="s10v53f3-6 geozbR">30 FPS</span></li>
                                <li class="s10v53f3-4 ddfMMC"><span class="s10v53f3-5 klVFuV">Video Kayıt Çözünürlüğü</span><span class="s10v53f3-6 geozbR">1920x1080 1080p Full HD</span></li>
                            </ul>
                            <ul class="s10v53f3-2 goYFek">
                                <li class="s10v53f3-3 khqVcO">Bağlantılar</li>
                                <li class="s10v53f3-4 ddfMMC"><span class="s10v53f3-5 klVFuV">Bluetooth Versiyonu</span><span class="s10v53f3-6 geozbR">4.2</span></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- card-body.// -->
            </article>
                </div>
            </div>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "SingleReviewsTable2",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>
.khqVcO {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    background-color: #3F51B5;
    padding: 0px 7px;
    margin: 0px;
    color: white;
}
ul:after {
  content:'';
  width:100%;
  height:34px;
  position:absolute;
  background-color:inherit;
  bottom:0;
  left:0;
}
</style>
