<template>
<div class="card">
    <div class="card-body">

        <article class="product-info-aside">

            <h2 class="title mt-3 hide">{{item.title}} </h2>

            <div class="rating-wrap my-3">
                <ul class="rating-stars">
                    <li style="width:80%" class="stars-active">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </li>
                </ul>
                <small class="label-rating text-muted">132 reviews</small>
                <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
            </div>
            <!-- rating-wrap.// -->

            <div class="mb-3">
                <var class="price h4">USD 465,00</var>
                <span class="text-muted">USD 562.65 incl. VAT</span>
            </div>
            <!-- price-detail-wrap .// -->

            <div class="s1wytv2f-3 iyNygY">
                <div class="s1wytv2f-4 eAgFNa">Batarya Kapasitesi 3020 mAh</div>
                <div class="s1wytv2f-4 eAgFNa">Dahili Depolama (Hafıza) 32 GB</div>
                <div class="s1wytv2f-4 eAgFNa">Diyafram Açıklığı F1.8</div>
                <div class="s1wytv2f-4 eAgFNa">Ekran Boyutu 6.09 inç</div>
                <div class="s1wytv2f-4 eAgFNa">4K Desteği Yok</div>
                <div class="s1wytv2f-4 eAgFNa">Ağırlık 1.35 kg</div>
                <div class="s1wytv2f-4 eAgFNa">Bluetooth Var</div>
                <div class="s1wytv2f-4 eAgFNa">Bluetooth Versiyonu 4.0</div>
            </div>

            <dl class="row">
                <dt class="col-sm-3">Manufacturer</dt>
                <dd class="col-sm-9"><a href="#">Great textile Ltd.</a></dd>

                <dt class="col-sm-3">Article number</dt>
                <dd class="col-sm-9">596 065</dd>

                <dt class="col-sm-3">Guarantee</dt>
                <dd class="col-sm-9">2 year</dd>

                <dt class="col-sm-3">Delivery time</dt>
                <dd class="col-sm-9">3-4 days</dd>

                <dt class="col-sm-3">Availabilty</dt>
                <dd class="col-sm-9">in Stock</dd>
            </dl>

            <div class="form-row  mt-4">
                <div class="form-group col-md flex-grow-0">
                    <div class="input-group mb-3 input-spinner">
                        <div class="input-group-prepend">
                            <button class="btn btn-light" type="button" id="button-plus"> + </button>
                        </div>
                        <input type="text" class="form-control" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                        </div>
                    </div>
                </div>
                <!-- col.// -->
                <div class="form-group col-md">
                    <a href="#" class="btn  btn-primary">
                        <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span>
                    </a>
                    <a href="#" class="btn btn-light">
                        <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span>
                    </a>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </article>
    </div>
</div>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "SingleRightDetail2",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>

</style>
