<template>
    <section class="py-3 bg-light">
        <div class="container">
            <h2 class="title mt-3">{{$root.cimri.props.pageProps.product.product.title}} </h2>
            <div class="price-header"><var class="price h4">USD 465,00</var> <span class="text-muted">USD 562.65 incl. VAT</span></div>
            <span>{{$root.cimri.props.pageProps.product.metaData.fullCategory}}
            <ol class="breadcrumb hide">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Category name</a></li>
                <li class="breadcrumb-item"><a href="#">Sub category</a></li>
                <li class="breadcrumb-item active" aria-current="page">Items</li>
            </ol>
        </div>
    </section>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "SingleBreadCrumb",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style scope>
.price-header{
    float: right;
    margin-top: -30px;
}
.h2, h2 {
    font-size: 1.5rem;
}
.bg-light {
    background-color: #FFEB3B!important;
}
</style>
