<template>
<div class="card single-gallery1 mb-3">
<div class="card-body">
    <article class="gallery-wrap">
        <div class="img-big-wrap">
            <div> <a href="#"><img class="product-primary-image" :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'"></a></div>
        </div>
        <!-- slider-product.// -->
        <div class="thumbs-wrap">
            <a v-for="imgId in $root.cimri.props.pageProps.product.imageIds" href="#" class="item-thumb"> <img :src="'https://cdn.cimri.io/image/240x240/x_' +imgId + '.jpg'"></a>

        </div>
        <!-- slider-nav.// -->
    </article>
    <!-- gallery-wrap .end// -->


          <div v-if="1==0" class="cz-product-gallery mt-3 ">
                        <div class="cz-preview order-sm-2">
                            <div class="cz-preview-item active" id="first">
                                <img class="cz-image-zoom" :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'" data-zoom="assets/images/items/15-1.jpg" alt="Product image" title="" style="">
                                <div class="cz-image-zoom-pane"></div>
                            </div>
                            <!--
                            <div class="cz-preview-item" id="second">
                                <img class="cz-image-zoom" src="assets/images/items/15-1.jpg" data-zoom="assets/images/items/15-1.jpg" alt="Product image">
                                <div class="cz-image-zoom-pane"></div>
                            </div>
                            <div class="cz-preview-item" id="third">
                                <img class="cz-image-zoom" src="assets/images/items/15-1.jpg" data-zoom="assets/images/items/15-1.jpg" alt="Product image">
                                <div class="cz-image-zoom-pane"></div>
                            </div>
                            <div class="cz-preview-item" id="fourth">
                                <img class="cz-image-zoom" src="assets/images/items/15-1.jpg" data-zoom="assets/images/items/15-1.jpg" alt="Product image">
                                <div class="cz-image-zoom-pane"></div>
                            </div>
                            -->
                        </div>
                        <div class="cz-thumblist order-sm-1">
                            <a class="cz-thumblist-item active" href="#first" v-for="(imgId, key) in $root.cimri.props.pageProps.product.imageIds" v-if="key < 2"><img :src="'https://cdn.cimri.io/image/240x240/x_' +imgId + '.jpg'" alt="Product thumb"></a>
                            <!--
                            <a class="cz-thumblist-item" href="#second"><img src="assets/images/items/15-1.jpg" alt="Product thumb"></a>
                            <a class="cz-thumblist-item" href="#third"><img src="assets/images/items/15-1.jpg" alt="Product thumb"></a>
                            <a class="cz-thumblist-item" href="#fourth"><img src="assets/images/items/15-1.jpg" alt="Product thumb"></a>
                            -->
                            <a class="cz-thumblist-item video-item" href="https://www.youtube.com/watch?v=nrQevwouWn0" lg-uid="lg0">
                                <div class="cz-thumblist-item-text"><i class="fa fa-video"></i>Video</div>
                            </a></div>
                    </div>
                    </div>
                    </div>
</template>

<script>
module.exports = {
    props:['item'],
    name: "single-gallery",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }


</script>

<style>

</style>
