<template>
<div class="tab-pane fade active show" id="reviews" role="tabpanel">
    <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom hide" style="display:none!important;">
        <div class="media align-items-center mr-md-3"><img :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'" width="90" alt="Product thumb">
            <div class="mdeia-body pl-3">
                <h6 class="font-size-base mb-2">Smartwatch Youth Edition</h6>
                <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
            </div>
        </div>
        <div class="d-flex align-items-center pt-3">
            <select class="custom-select mr-2" style="width: 5rem;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button class="btn btn-primary btn-shadow mr-2" type="button"><i class="czi-cart font-size-lg mr-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
            <div class="mr-2">
                <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fas fa-shopping-cart font-size-lg"></i></button>
            </div>
            <div>
                <button class="btn btn-secondary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fas fa-shopping-cart font-size-lg"></i></button>
            </div>
        </div>
    </div>
    <!-- Reviews-->
    <div class="row pt-2 pb-3">
                <div class="media align-items-center mr-md-3 col-lg-2 hide">
            <div class="mdeia-body pl-3">
                <h6 class="font-size-base mb-2">Smartwatch Youth Edition</h6>
                <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
            </div>
        </div>
        <div class="col-lg-7 col-md-5">
            <h5 class="h4 mb-4">{{$root.cimri.props.pageProps.product.product.title}}</h5>
            <img :src="'https://cdn.cimri.io/image/480x480/x_' +$root.cimri.props.pageProps.product.imageIds[0] + '.jpg'" width="120" alt="Product thumb" style="float:left">
            <div class="star-rating mr-2"><i class="fa fa-star font-size-sm text-accent mr-1"></i><i class="fa fa-star font-size-sm text-accent mr-1"></i><i class="fa fa-star font-size-sm text-accent mr-1"></i><i class="fa fa-star font-size-sm text-accent mr-1"></i><i class="czi-star font-size-sm text-muted mr-1"></i></div><span class="d-inline-block align-middle">4.1 Overall rating</span>
            <p class="pt-3 font-size-sm text-muted">58 out of 74 (77%)<br>Customers recommended this product</p>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="d-flex align-items-center mb-2">
                <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">5</span><i class="fa fa-star font-size-xs ml-1"></i></div>
                <div class="w-100">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><span class="text-muted ml-3">43</span>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">4</span><i class="fa fa-star font-size-xs ml-1"></i></div>
                <div class="w-100">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><span class="text-muted ml-3">16</span>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">3</span><i class="fa fa-star font-size-xs ml-1"></i></div>
                <div class="w-100">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><span class="text-muted ml-3">9</span>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">2</span><i class="fa fa-star font-size-xs ml-1"></i></div>
                <div class="w-100">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><span class="text-muted ml-3">4</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">1</span><i class="fa fa-star font-size-xs ml-1"></i></div>
                <div class="w-100">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><span class="text-muted ml-3">2</span>
            </div>
        </div>
    </div>
    <hr class="mt-4 pb-4 mb-3">
    <div class="row pb-4">
        <!-- Reviews list-->
        <div class="col-md-7">
            <div class="d-flex justify-content-end pb-4">
                <div class="form-inline flex-nowrap">
                    <label class="text-muted text-nowrap mr-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
                    <select class="custom-select custom-select-sm" id="sort-reviews">
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Popular</option>
                        <option>High rating</option>
                        <option>Low rating</option>
                    </select>
                </div>
            </div>
            <!-- Review-->
            <template v-for="(comment, key) in $root.cimri.props.pageProps.comments.slice(0,3)">
            <div class="product-review pb-4 mb-4 border-bottom">
                <div class="d-flex mb-3">
                    <div class="media media-ie-fix align-items-center mr-4 pr-2"><img class="rounded-circle" width="50" :src="'https://randomuser.me/api/portraits/men/' + key + '.jpg'" alt="Rafael Marquez">
                        <div class="media-body pl-3">
                            <h6 class="font-size-sm mb-0">Rafael Marquez</h6><span class="font-size-ms text-muted">June 28, 2019</span>
                        </div>
                    </div>
                    <div>
                        <div class="star-rating"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="sr-star czi-star"></i>
                        </div>
                        <div class="font-size-ms text-muted">83% of users found this review helpful</div>
                    </div>
                </div>
                <p class="font-size-md mb-2">{{comment.text}}</p>
                <ul class="list-unstyled font-size-ms pt-1">
                    <li class="mb-1"><span class="font-weight-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                    <li class="mb-1"><span class="font-weight-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                </ul>
                <div class="text-nowrap">
                    <button class="btn-like" type="button"><i class="fa fa-thumbs-up"></i> 26</button>
                    <button class="btn-dislike" type="button"><i class="fa fa-thumbs-down"></i> 9</button>
                </div>
            </div>
            </template>

            <div class="text-center">
                <button class="btn btn-outline-accent" type="button"><i class="czi-reload mr-2"></i>Load more reviews</button>
            </div>
        </div>
        <!-- Leave review form-->
        <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
            <div class="bg-secondary2 py-grid-gutter px-grid-gutter rounded-lg">
                <h3 class="h4 pb-2">Write a review</h3>
                <form class="needs-validation" method="post" novalidate="">
                    <div class="form-group">
                        <label for="review-name">Your name<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" required="" id="review-name">
                        <div class="invalid-feedback">Please enter your name!</div><small class="form-text text-muted">Will be displayed on the comment.</small>
                    </div>
                    <div class="form-group">
                        <label for="review-email">Your email<span class="text-danger">*</span></label>
                        <input class="form-control" type="email" required="" id="review-email">
                        <div class="invalid-feedback">Please provide valid email address!</div><small class="form-text text-muted">Authentication only - we won't spam you.</small>
                    </div>
                    <div class="form-group">
                        <label for="review-rating">Rating<span class="text-danger">*</span></label>
                        <select class="custom-select" required="" id="review-rating">
                            <option value="">Choose rating</option>
                            <option value="5">5 stars</option>
                            <option value="4">4 stars</option>
                            <option value="3">3 stars</option>
                            <option value="2">2 stars</option>
                            <option value="1">1 star</option>
                        </select>
                        <div class="invalid-feedback">Please choose rating!</div>
                    </div>
                    <div class="form-group">
                        <label for="review-text">Review<span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="6" required="" id="review-text"></textarea>
                        <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
                    </div>
                    <div class="form-group">
                        <label for="review-pros">Pros</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-pros"></textarea>
                    </div>
                    <div class="form-group mb-4">
                        <label for="review-cons">Cons</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-cons"></textarea>
                    </div>
                    <button class="btn btn-primary btn-shadow btn-block" type="submit">Submit a Review</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
module.exports = {
    props: ['item'],
    name: "SingleReviewsTable",
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
}
</script>

<style>

</style>
