<template>
    <div>
        <button data-toggle="modal" data-target="#attributesModal" type="button" class="btn btn-primary m-t-10" style="float: right;margin: 10px;">Add Attribute</button>
        <div id="attributesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Group Attributes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <h6>Text in a modal</h6>
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                        <hr>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Group Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">attribute_group_code</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Grup Açıklaması</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="5" v-model="attributeGroup.description">Ekran Özelliklerini seçiniz</textarea>
                            </div>
                        </div>

                    </form>
                                        <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-2 col-form-label">tab group id</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.tab_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">set type id</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.set_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-if="!attributeGroup.entity_type_id">
                            <label class="col-md-2 col-form-label">Entity ID</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.entity_type_id" v-on:change="getAttributes(attributeGroup.entity_type_id)">
                                    <optgroup v-for="(entity, key) in _.groupBy(entities, 'entity_code')" :label="key">
                                        <option v-for="(entityType, ek) in entity" :value="entityType.id">{{entityType.type_code}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">sort_order</label>
                            <div class="col-md-10">
                                <select class="form-control" v-model="attributeGroup.sort_order">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option>80</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-10">
                                <select class="form-control m-b-20" v-model="attributeGroup.status">
                                    <option value="1">Active</option>
                                    <option value="0">Passive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox checkbox-info">
                                    <input id="checkbox221" type="checkbox" v-model="attributeGroup.is_primary">
                                    <label for="checkbox222">
                                        is_primary
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-form-label">Gizle</label>
                            <div class="col-md-10">
                                <select multiple class="form-control m-b-20" v-model="attributeGroup.hide">
                                    <option>Hiç Biri</option>
                                    <option>Tümü</option>
                                </select>
                                <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-primary btn-block" @click="updateGroup()">Add</button>

                            </div>
                        </div>

                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</template>
<script>
module.exports = {
    props: ['attributes', 'groupid'],
    data() {
        return {
            groupid: 0
        };
    },
    methods: {

    },
    created() {}
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
