<template>


                            <div class="table-responsive">
                                <table class="table table-hover mails m-0 table table-actions-bar"  v-if="showType && showType == 1"  @dragover.prevent @dragend="dragEnd($event)" @dragenter="dragEnter($event)" @dragleave="dragLeave" @drop="dragFinish($event)">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 95px;">
                                                <div class="checkbox checkbox-primary checkbox-single m-r-15">
                                                    <input id="action-checkbox" type="checkbox">
                                                    <label for="action-checkbox"></label>
                                                </div> ID
                                            </th>
                                            <th>attribute_code</th>
                                            <th>attribute_group_id</th>
                                            <th>frontend_label</th>
                                            <th>frontend_input</th>
                                            <th>field_type</th>
                                            <th>entity_code</th>
                                            <th>type_code</th>
                                            <th>settings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(post, pi) in attributes" :key="pi" draggable="true">
                                            <td>
                                                <div class="checkbox checkbox-primary m-r-15">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2"></label>
                                                </div>{{post.attribute_id}}
                                            </td>
                                            <td>
                                                {{post.attribute_code}}
                                            </td>
                                            <td>
                                                {{post.attribute_group_id}}
                                            </td>
                                            <td>
                                                {{post.frontend_label}}
                                            </td>
                                            <td>
                                                {{post.frontend_input}}
                                            </td>
                                            <td>
                                                {{post.field_type}}
                                            </td>
                                            <td>
                                                {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].entity_code : post.entity_type_id}}
                                            </td>
                                            <td>
                                                {{$root.entities[post.entity_type_id] ? $root.entities[post.entity_type_id].type_code : post.entity_type_id}}
                                            </td>
                                            <td>
                                                <b @click="$router.push('/attributes/show/' + post.attribute_id)">edit</b>|<b>clone</b>|<b @click="trash(post.attribute_id)">trash</b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-hover mails m-0 table table-actions-bar"  v-if="showType && showType == 2">
                                    <thead>
                                        <tr>
                                            <th style="30px;"></th>
                                            <th>attribute_code</th>
                                            <th>field_type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor:grab;" v-for="(attr, ai) in attributes" :key="ai"  @dragstart="dragStart($event, attr.attribute_id)" draggable="true" >

                                            <td >
                                                <i class=" mdi mdi-cursor-move noti-icon"></i>
                                            </td>
                                            <td  class="noselect">
                                                {{attr.attribute_code}}
                                            </td>

                                            <td>
                                                {{attr.field_type}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
</template>
<script>
module.exports = {
    props: ['attributes', 'groupId', 'type'],
    data() {
        return {
            showType: 0,
                  openedLiveCollapse: 0,
      openedLiveMatchId: 0,
      showLastMinute: 0,
      lastMinuteData: [],
      dragingType: 1,
      orans: {},
      dragging: -1,
        };
    },
    methods: {
    dragStart(ev, attribute_id, type = 1) {
      console.log('dragStart', type, this.dragging, ev, attribute_id);
      this.dragingType = type
      ev.dataTransfer.setData('attribute_id', attribute_id);
      ev.dataTransfer.dropEffect = 'move'
      this.dragging = attribute_id;
    },
 dragEnter(e) {
            console.log('dragEnter', this.groupId);
            //e.currentTarget.style.backgroundColor = 'red'
            //e.target.style.backgroundColor = 'red'

            // ev.target.style.minHeight = '40px'
            /*
            if (ev.clientY > ev.target.height / 2) {
            } else {
              ev.target.style.marginTop = '10px'
            }
            */
        },
        dragLeave(ev) {
            console.log('dragLeave');

            /*
            ev.target.style.marginTop = '2px'
            ev.target.style.marginBottom = '2px'
            */
        },
        dragEnd(ev) {
            this.dragging = -1
            this.dragingType = 1
        },
        dragFinish(e) {
            let attrId = e.dataTransfer.getData('attribute_id') || 0
            let groupId = this.groupId || 0
            console.log('dragFinish', attrId,groupId);
this.$emit('set-attr', [attrId,groupId]);

            // console.log('dragFinish', ev, this.dragging, ev.dataTransfer.getData('matchId') ||this.dragging);
            //    this.moveItem(this.dragging, to);
            //    ev.target.style.marginTop = '2px'
            //ev.target.style.marginBottom = '2px'

        },
        dragFinish2(e) {
            let attrId = e.dataTransfer.getData('attribute_id') || 0
            this.attributes = this.attributes.map((attr) => {
                if (e.target.id && attr.attribute_id == attrId) {
                    attr.attribute_group_id = e.target.id
                }
                return attr;

            })
            console.log('dragFinish', e.target.id);

            // console.log('dragFinish', ev, this.dragging, ev.dataTransfer.getData('matchId') ||this.dragging);
            //    this.moveItem(this.dragging, to);
            //    ev.target.style.marginTop = '2px'
            //ev.target.style.marginBottom = '2px'

        },
        moveItem(from, to) {
            console.log('moveItem', from, to);

            if (to === -1) {
                this.removeItemAt(from);
            } else {
                this.phoneList.splice(to, 0, this.phoneList.splice(from, 1)[0]);
            }
        },
        trash(attrId) {
            this.$emit('set-attr', [attrId,0]);
        },
    },
    created() {
        console.log(this.type)
        this.showType = this.type
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}
.noselect {

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
</style>
