<template>
    <div>
        <button data-toggle="modal" data-target="#attributesModal" type="button" class="btn btn-primary m-t-10" style="float: right;margin: 10px;">Add Attribute</button>
        <div id="attributesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Group Attributes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">


<edit-attribute></edit-attribute>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</template>
<script>
var EditAttribute = httpVueLoader('vue/edit-attribute.vue')
module.exports = {
    props: ['attributes', 'groupid'],
    components:{
        EditAttribute
    },
    data() {
        return {
            groupid: 0
        };
    },
    methods: {

    },
    created() {}
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
