<template>
    <div>
        <button data-toggle="modal" :data-target="'#editGroup' + groupId" type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10">Edit Group</button>
        <div :id="'editGroup' + groupId" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                                                          <ul class="nav nav-tabs tabs-bordered">
                <li class="nav-item" @click="tab = 1" >
                    <a class="nav-link"  :class="[tab == 1 ? 'active':'']">
                        Genel
                    </a>
                </li>
                <li class="nav-item" @click="tab = 2" >
                    <a class="nav-link" :class="[tab == 2 ? 'active':'']">
                        Koşullar
                    </a>
                </li>
            </ul>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                

                        <hr>
                        <div v-if="tab == 1" class="tab-pane active row">
                    <form class="form-horizontal col-md-6" role="form">
                        <div class="form-group">
                            <label class="col-m col-form-label">Group Name</label>
                            <div class="co">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-m col-form-label">attribute_group_code</label>
                            <div class="co">
                                <input type="text" class="form-control" v-model="attributeGroup.attribute_group_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-m col-form-label">Grup Açıklaması</label>
                            <div class="co">
                                <textarea class="form-control" rows="5" v-model="attributeGroup.description">Ekran Özelliklerini seçiniz</textarea>
                            </div>
                        </div>

                    </form>
                                                            <form class="form-vertical col-md-6" role="form">

                        <div class="form-group">
                            <label class="col-m col-form-label">tab group id</label>
                            <div class="co">
                                <select class="form-control" v-model="attributeGroup.tab_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-m col-form-label">set type id</label>
                            <div class="co">
                                <select class="form-control" v-model="attributeGroup.set_group_id">
                                    <option v-for="(e,i) in _.range(1,10)" :value="e">{{e}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-m col-form-label">sort_order</label>
                            <div class="co">
                                <select class="form-control" v-model="attributeGroup.sort_order">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option>80</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-m col-form-label">Status</label>
                            <div class="co">
                                <select class="form-control m-b-20" v-model="attributeGroup.status">
                                    <option value="1">Active</option>
                                    <option value="0">Passive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox checkbox-info">
                                    <input type="checkbox" v-model="attributeGroup.is_primary">
                                    <label for="checkbox222">
                                        is_primary
                                    </label>
                                </div>
                            </div>
                        </div>


                    </form>
                                <button type="button" class="btn waves-effect waves-light btn-primary btn-block" @click="updateGroup()">Add</button>
                        </div>
                        <div  v-if="tab == 2"  class="tab-pane active">

                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</template>
<script>
module.exports = {
    props: ['attributes', 'groupId', 'group'],
    data() {
        return {
            tab: 1,
            openModal: 0,
            groupid: 0,
            attributeGroup: {},
        };
    },
    methods: {

    },
    created() {
        console.log(this.groupId);
        this.attributeGroup = this.group
        
    }
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
