<template>
    <div>
        <button data-toggle="modal" data-target="#editGroup" type="button" style="float: right;margin: 10px;" class="btn btn-primary waves-effect waves-light m-t-10">Edit Group</button>
        <div id="editGroup" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Grup Ayarları</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 col-form-label">GroupName</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-form-label">Group Açıklaması</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-form-label">PostTypes</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="post, classified, article">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

</template>
<script>
module.exports = {
    props: ['attributes', 'groupid'],
    data() {
        return {
            groupid: 0
        };
    },
    methods: {

    },
    created() {}
}

</script>
<style>
.hello {
    background-color: #ffe;
}

</style>
